.treasurebay
  --bgr-color: #192d54
  --mobile-bgr-color: #192d54
  --mobile-header-bgr: #192d54
  --header-text-color-mobile: #fff
  --header-bgr: transparent
  --header-text-color: #fff
  --scrolled-header-bgr: #192d54
  --footer-bgr: transparent
  --footer-bgr-fixed-betslip: transparent
  --footer-border-top-fixed-betslip: 0px
  --footer-text-color: #fff
  --footer-mobile-bgr: #192d54
  --app-wrap-content-bgr: #192d54
  --text-color: #192d54
  --accent-color: #82a8d4
  --backtotop-bgr: #82a8d4
  --backtotop-color: #192d54

  --logo-max-height: 65px
  --logo-max-width: 220px
  --logo-max-height-mobile: 70px
  --logo-max-width-mobile: 220px
  --logo-margin-top: 5px
  --logo-holder-width: 200px

  --bo-nav-headline-color: #fff
  --bo-nav-headline-bgr: #16284B

  --nav-title-color: #82a8d4
  --nav-title-border: 0px
  --side-nav-color: #fff
  --side-nav-icon-color: #8ac6e8
  --side-nav-color-active: #fff
  --main-nav-color: #fff
  --main-nav-icon-color: #82a8d4
  --main-nav-color-active: #fff
  --main-nav-border-color-active: #82a8d4
  --nav-icon-live: #df0000

  --dialog-sports-menu-bgr: #192d54
  --dialog-sports-nav-title-color: #82a8d4
  --dialog-sports-nav-title-border: 0px
  --dialog-sports-main-nav-color: #fff
  --dialog-sports-main-nav-icon-color: #82a8d4
  --dialog-sports-main-nav-color-active: #82a8d4
  --dialog-sports-main-nav-icon-close: url('~@/assets/images/brands/generic/icon-close-grey.svg')
  --dialog-geolocation-text-color: #192d54

  --islive-icon: url('~@/assets/images/brands/generic/icon-live-red.svg')
  --islive-color: #df0000

  --badge-bgr: #fff
  --badge-color: #000
  --badge-border: 0px
  --badge-tab-bgr: #82a8d4
  --badge-tab-color: #fff
  --badge-tab-border: 0px
  --badge-bgr-mobile: #192d54
  --badge-color-mobile: #fff
  --badge-border-mobile: 0px
  --badge-bgr-mobile-active #192d54
  --badge-color-mobile-active #fff
  --badge-border-mobile-active 0px

  --popular-menu-mobile-bgr: #fff
  --popular-menu-mobile-icon-color: #192d54
  --popular-menu-mobile-text-color: #192d54

  --bottom-nav-bgr:  linear-gradient(to bottom, #f3f3f3, #d6d6d6)
  --bottom-nav-border-top: 0px
  --bottom-nav-bgr-active:  #fff
  --bottom-nav-text-color: #919191
  --bottom-nav-btn-border-right: 0px
  --bottom-nav-text-color-active: #192d54
  --bottom-nav-icon-profile-active: url('~@/assets/images/brands/generic/profile-darkblue.svg')
  --bottom-nav-icon-promo-active: url('~@/assets/images/brands/generic/promo-darkblue.svg')
  --bottom-nav-icon-betslip-active: url('~@/assets/images/brands/generic/betslip-darkblue.svg')
  --bottom-nav-icon-allsports-active: url('~@/assets/images/brands/generic/allsports-darkblue.svg')
  --bottom-nav-icon-home-active: url('~@/assets/images/brands/generic/home-darkblue.svg')
  --bottom-nav-icon-home: url('~@/assets/images/brands/generic-treasurebay/home-grey.svg')
  --bottom-nav-icon-allsports: url('~@/assets/images/brands/generic-treasurebay/allsports-grey.svg')
  --bottom-nav-icon-betslip: url('~@/assets/images/brands/generic-treasurebay/betslip-grey.svg')
  --bottom-nav-icon-promo: url('~@/assets/images/brands/generic-treasurebay/promo-grey.svg')
  --bottom-nav-icon-profile: url('~@/assets/images/brands/generic-treasurebay/profile-grey.svg')
  --bottom-nav-icon-info: url('~@/assets/images/brands/generic-treasurebay/info-grey.svg')
  --bottom-nav-icon-info-active: url('~@/assets/images/brands/generic/info-darkblue.svg')

  --tab-background : #192d54
  --active-tab-background: #fff
  --tab-color: #fff
  --active-tab-color: #192d54
  --tab-border-top: 0px
  --tab-background-2 : #f2f2f2
  --active-tab-background-2: #82a8d4
  --tab-color-2: #192d54
  --active-tab-color-2: #fff
  --tab-2-border-radius: 2px
  --tab-2-border: 0px
  --tab-live-color: #fff
  --tab-live-active-color: #192d54
  --more-tabs-btn-bgr: #82a8d4
  --more-tabs-btn-color: #fff
  --more-tabs-btn-icon: url('~@/assets/images/icons/arrow_down_white.svg')
  --more-tabs-btn-icon-active: url('~@/assets/images/icons/arrow_up_white.svg')

  --sports-filter-icon-color: #192d54
  --sports-filter-tab-bgr: transparent
  --sports-filter-active-bgr: #82a8d4
  --sports-filter-active-color: #fff
  --sports-filter-active-icon-color: #fff
  --sports-filter-tab-border: 0px
  --sports-filter-active-tab-border: 0px
  --sports-filter-tab-border-radius: 1px

  --coupon-bgr: #fff
  --coupon-borders-color: #dbdbdb
  --coupon-header-border-color: 1px solid #dbdbdb
  --coupon-footer-border-color: 1px solid #dbdbdb
  --coupon-text-color: #192d54
  --coupon-pitcer-name-color: #6d6d6d
  --coupon-header-background: #fff
  --coupon-header-icon: #192d54
  --coupon-header-color: #192d54
  --coupon-header-markets-color: #6d6d6d
  --coupon-header-markets-font-style: normal
  --coupon-header-markets-font-size: 12px
  --coupon-exp-panel-background: #fff
  --coupon-exp-panel-border: 1px solid #dbdbdb
  --coupon-exp-panel-color: #192d54
  --coupon-exp-panel-icon: #192d54
  --coupon-market-name-color: #6d6d6d
  --event-market-header-icon-down url('~@/assets/images/icons/arrow_down.svg')
  --event-market-header-icon-up  url('~@/assets/images/icons/arrow_up.svg')
  --event-market-header-icon-available-for-bb  url('~@/assets/images/icons/available-for-bb_black.svg')
  --coupon-footer-time-color: #6d6d6d
  --coupon-footer-morewagers-color: #82a8d4
  --coupon-footer-morewagers-icon: url('~@/assets/images/brands/generic/arrow_right_lightblue_tb.svg')
  --coupon-live-match-results-color: #df0000

  --selection-wrapper: #f3f3f3 
  --selection-wrapper-active: #82a8d4
  --selection-wrapper-border:0px 
  --selection-wrapper-border-radius: 1px 
  --selection-price-color: #82a8d4
  --active-selection-price-color: #fff
  --selection-hcp-color: #192d54
  --active-selection-hcp-color: #fff

  --event-header-bgr: #16284B
  --event-header-color: #fff
  --event-header-margin-bottom: 10px
  --event-header-competition-bgr: #82a8d4
  --event-header-competition-color: #fff	
  --event-header-live-match-results-bgr: #fff
  --event-header-live-match-results-color: #df0000


  --search-accent-color: #82a8d4
  --search-input-field-focus-color: #82a8d4
  --search-competitiontitle-bgr: #192d54
  --search-competitiontitle-color: #fff
  --search-borders-color: #dbdbdb
  --search-backbtn-bgr: #82a8d4
  --search-backbtn-color: #fff
  --search-backbtn-icon: url("~@/assets/images/icons/arrow_left_white.svg")

  --betslip-page-bgr: #fff
  --betslip-mobile-bgr: #192d54
  --betslip-holder-bgr: #f3f3f3
  --betslip-tab-bgr: #d6d6d6
  --betslip-tab-border: 0px
  --betslip-tab-active-bgr: #f3f3f3
  --betslip-tab-color: #192d54
  --betslip-tab-active-color: #192d54
  --search-tabs-bgr: #fff
  --search-tabs-color: #000

  --betslip-balance-label-color: #ffe88d
  --betslip-balance-value-color: #fff
  --betslip-close-icon: url('~@/assets/images/brands/generic/icon-close.svg')
  --betslip-betplaced-close-icon: url('~@/assets/images/brands/generic/icon-close.svg')

  --betslip-historytab-bgr: #f3f3f3
  --betslip-historytab-active-bgr: #82a8d4
  --betslip-historytab-color: #192d54
  --betslip-historytab-active-color: #fff	

  --betslip-header-bgr: #82a8d4
  --betslip-header-color: #fff
  --betslip-selection-header-bgr: #82a8d4
  --betslip-selection-header-color: #fff
  --betslip-selection-header-event-color: #fff
  --betslip-selection-header-hcp-color: #192d54
  --betslip-selection-header-market-color: #fff
  --betslip-selection-header-icon: #192d54
  --betslip-selection-border: 0px
  --betslip-header-btn-bin-icon: url('~@/assets/images/brands/generic/bin_icon_white.svg')
  --betslip-teaser-rr-icon-color: #192d54
  --betslip-teaser-header-bgr: #82a8d4
  --betslip-teaser-header-color: #fff
  --betslip-teaser-options-bgr: #fff
  --betslip-teaser-options-color: #192d54
  --betslip-odds-price-bgr: #192d54
  --betslip-odds-price-color: #82a8d4
  --betslip-odds-price-border: 0px
  --betslip-odds-price-border-radius: 1px
  --betslip-text-color: #192d54
  --betslip-selection-name-color: #192d54
  --moneyinput-bgr: #fff
  --moneyinput-color: #192d54
  --moneyinput-border-radius: 1px	
  --moneyinput-border: 0px	
  --betslip-select-box-bgr: #fff
  --betslip-select-box-color: #192d54
  --betslip-select-box-border-radius: 3px	
  --betslip-select-box-border: 1px solid #82a8d4			  
  --betslip-betType-header-bgr: #82a8d4
  --betslip-betType-header-color: #fff
  --betslip-betType-header-accent-color: #192d54
  --betslip-button-primary-bgr: linear-gradient(to bottom, #82a8d4, #192d54)
  --betslip-button-primary-color: #ffe88d
  --betslip-button-primary-accent-color: #ffe88d
  --betslip-button-secondary-bgr: transparent
  --betslip-button-secondary-color: #192d54
  --betslip-button-secondary-border: 2px solid #4f6c96
  --betslip-button-border-radius: 25px
  --icon-available-for-bb-betslip: url('~@/assets/images/icons/available-for-bb_black.svg')

  --betslip-interrelated-border-color:  #82a8d4
  --betslip-selection-closed-bgr:  #919191
  --betslip-selection-closed-color:  #fff
  --betslip-selection-suspended-bgr:  #919191
  --betslip-selection-suspended-color:  #fff

  --betslip-msg-info-bgr: #d6d6d6
  --betslip-msg-info-color: #192d54
  --betslip-hr-line: 1px solid #dbdbdb

  --betslip-msg-special-offers-badge-brg: #ffe88d
  --betslip-msg-special-offers-badge-color: #192d54
  --betslip-msg-special-offers-badge-insurance-brg: #192d54
  --betslip-msg-special-offers-badge-insurance-color: #fff
  --betslip-msg-special-offers-badge-bonus-brg: #fff
  --betslip-msg-special-offers-badge-bonus-color: #192d54
  --betslip-msg-special-offers-parlyinsurance-border: solid 1px #d6d6d6
  --betslip-msg-special-offers-parlyinsurance-bgr: #d6d6d6
  --betslip-msg-special-offers-parlyinsurance-color: #192d54
  --betslip-msg-special-offers-parlyboost-border: solid 1px #fff
  --betslip-msg-special-offers-parlyboost-bgr: #fff
  --betslip-msg-special-offers-parlyboost-color: #192d54

  --bet-placed-color: #192d54
  --bet-placed-bgr: #ffe88d
  --bet-placed-msg-keep: #192d54

  --betslip-stakeall-input-bgr: #fff
  --betslip-stakeall-label-bgr: #192d54
  --betslip-stakeall-label-color: #ffe88d
  --betslip-stakeall-input-border: 0px
  --betslip-stakeall-input-color: #192d54
  --betslip-stakeall-border-radius: 0px

  --betslip-footer-btn-color: #192d54
  --betslip-footer-btn-border: 0px
  --betslip-footer-btn-bgr: transparent
  --betslip-footer-btn-bin-icon: url('~@/assets/images/brands/generic/bin_icon_darkblue.svg')

  --fast-betslip--color: #82a8d4

  --betslip-selection-border-bottom-layout2: 1px solid #dbdbdb
  --betslip-selection-header-color-layout2: #192d54
  --betslip-header-btn-bin-icon-layout2: url('~@/assets/images/brands/generic/bin_icon_darkblue.svg')
  --betslip-betType-header-accent-color-layout2: #82a8d4
  --betslip-backtobetslip-label-color-layout2: #192d54
  --betslip-odds-price-bgr-layout2: transparent
  --betslip-odds-price-padding-layout2: 0px
  --betslip-odds-price-color-layout2: #192d54
  --betslip-odds-price-border-layout2: 0px
  --betslip-odds-price-border-radius-layout2: 3px
  --betslip-bottom-tabs-bgr-layot2: transparent
  --betslip-bottom-tabs-color-layot2: #192d54
  --betslip-bottom-tabs-border-layot2: 1px solid #192d54
  --betslip-bottom-tabs-arrowup-layot2: url("~@/assets/images/brands/generic/arrow_up_darkblue.svg") no-repeat center
  --betslip-bottom-tabs-arrowdown-layot2:url("~@/assets/images/brands/generic/arrow_down_darkblue.svg") no-repeat center
  --betslip-bottom-tabs-arrowright-layot2: url("~@/assets/images/brands/generic/arrow_right_darkblue.svg") no-repeat center

  --dialog-gc-msg-dwn-btn-bgr: #192d54
  --dialog-gc-msg-dwn-btn-color: #fff

  --login-btn-bgr: linear-gradient(to bottom, #82a8d4, #192d54)
  --login-btn-color: #fff
  --login-btn-border-radius: 25px
  --login-btn-border: 0px
  --join-btn-bgr: transparent
  --join-btn-color: #82a8d4
  --join-btn-border-radius: 25px
  --join-btn-border: 1px solid #82a8d4

  --login-dialog-bgr: #f3f3f3
  --login-dialog-header-bgr: #192d54
  --login-dialog-login-btn-bgr: linear-gradient(to bottom, #82a8d4, #192d54)
  --login-dialog-login-btn-color: #fff
  --login-dialog-login-btn-border: 0px
  --login-dialog-login-btn-border-radius: 25px
  --login-dialog-join-btn-bgr: transparent
  --login-dialog-join-btn-color: #192d54
  --login-dialog-join-btn-border: 2px solid #192d54
  --login-dialog-login-btn-bgr-disabled: linear-gradient(to bottom, #82a8d4, #192d54)
  --login-dialog-login-btn-bgr-disabled-opacity: 0.5
  --login-dialog-login-btn-color-disabled: #000
  --login-dialog-login-btn-border-disabled: 0px
  --login-dialog-input-bgr: #fff
  --login-dialog-input-label-color: #c1c1c1
  --login-dialog-input-color: #192d54
  --login-dialog-input-border-radius: 1px
  --login-dialog-input-border-bottom-color: transparent
  --login-dialog-title-font-size: 14px
  --login-dialog-btn-font-size: 14px
  --login-dialog-text-color: #192d54
  --login-dialog-loader-color1: #192d54
  --login-dialog-loader-color2: #c1c1c1

  --login-with-faceid-bgr: #ffe88d
  --login-with-faceid-color: #192d54
  --login-with-faceid-border: 0px
  --login-with-faceid-border-radius: 1px
  --login-with-faceid-switcher: #192d54
  --login-with-faceid-switcher-accent: #82a8d4

  --balance-color: #f1f1f1
  --addfunds-color: #f1f1f1
  --addfunds-icon-color: #fff
  --addfunds-icon-bgr: #82a8d4
  --msg-center-icon: url('~@/assets/images/icons/messages-bell-lightblue-tb.svg')

  --msgcenter-item-bgr: #82a8d4
  --msgcenter-item-color: #fff
  --msgcenter-item-icon: url('~@/assets/images/icons/icon-info-white.svg')
  --msgcenter-item-bgr-2: #192d54
  --msgcenter-item-color-2: #fff
  --msgcenter-item-icon-2: url('~@/assets/images/icons/icon-info-white.svg')

  --xtremepush-mail-icon: url('~@/assets/images/icons/icon-mail-white.svg')
  --xtremepush-badge-bgr: #82a8d4
  --xtremepush-badge-color: #fff
  --xtremepush-title-color: #192d54
  --xtremepush-text-color: #192d54
  --xtremepush-accent-color: #82a8d4

  --account-pages-headings-color: #192d54
  --account-pages-text-color: #000
  --account-pages-btn-text-transform: none
  --account-pages-btn-border-radius: 25px
  --account-pages-primary-btn-border: 0px
  --account-pages-primary-btn-bgr: linear-gradient(to bottom, #82a8d4, #192d54)
  --account-pages-primary-btn-color: #ffe88d
  --account-pages-secondary-btn-border: 2px solid #192d54
  --account-pages-secondary-btn-bgr: #fff
  --account-pages-secondary-btn-color: #192d54
  --account-pages-checkbox-color: #192d54
  --account-pages-label-focus-color: #82a8d4
  --account-pages-input-focus-color: #82a8d4
  --account-pages-loader: #192d54
  --account-pages-secondary-text: #192d54
  --account-pages-infomsg-bgr: #e5e5e5
  --account-pages-infomsg-color: #192d54

  --account-pages-datepicker-label-color: #192d54
  --account-pages-datepicker-accent-color: #82a8d4
  --account-pages-datepicker-border-color: #192d54

  --account-pages-table-headers-bgr: #192d54
  --account-pages-table-headers-color: #fff
  --account-pages-table-headers-accent-color: #ffe88d
  --account-summary-boxes-border: 1px solid #192d54
  --account-heading-bgr: #82a8d4
  --account-heading-color: #192d54

  --account-details-bgr: #192d54
  --account-details-color: #fff
  --account-details-user-img: url('~@/assets/images/brands/generic/profile-white.svg')
  --account-details-bgr-mobile: #192d54
  --account-details-mobile-color: #fff
  --account-details-user-img-mobile: url('~@/assets/images/brands/generic/profile-white.svg')
  --account-details-border: 1px solid #82a8d4
  --account-user-title-border: #d3c58d
  --account-user-details-label-color: #fff
  --account-user-details-value-color: #82a8d4
  --account-details-border-radius: 1px
  --account-buttons-border-radius: 1px
  --account-details-balance-bgr: #82a8d4
  --account-details-balance-color: #ffe88d
  --account-details-label-balance-color: #192d54
  --account-balance-margin: 20px 10px 0 10px
  --account-balance-margin-desktop: 45px -12px 0 -12px
  --account-details-buttons-bgr: #192d54
  --account-details-btn-border-radius: 1px
  --account-details-btn-deposit-border: 0px
  --account-details-btn-deposit-bgr: #ffe88d
  --account-details-btn-deposit-color: #192d54
  --account-details-btn-withdraw-border: 0px
  --account-details-btn-withdraw-bgr: #ffe88d
  --account-details-btn-withdraw-color: #192d54 

  --account-btn-icon-copy: url('~@/assets/images/icons/copy-white.svg')
  --account-btn-icon-correction: url('~@/assets/images/icons/reg_ver_correction_blue_dark.svg')
  --account-btn-icon-driver-licence: url('~@/assets/images/icons/reg_driver_license_black.svg')

  --account-links-bgr: #fff
  --account-links-color: #192d54
  --account-links-border: 1px solid #dbdbdb
  --account-links-border-radius: 1px

  --bethistory-tab-bgr: #fff
  --bethistory-tab-border: 1px solid #192d54
  --bethistory-tab-color: #192d54
  --bethistory-active-tab-bgr: linear-gradient(to bottom, #82a8d4, #192d54)
  --bethistory-active-tab-border: 0px
  --bethistory-active-tab-color: #fff
  --bethistory-bet-header-bgr: #82a8d4
  --bethistory-bet-header-color: #fff
  --bethistory-block-border-color: #82a8d4
  --bethistory-bethead-border-color: #82a8d4
  --bet-history-sporticon-color: #192d54
  --bet-history-betrefs-color: #ffe88d
  --bet-history-accent-color: #82a8d4
  --bet-history-buyback-btn-bgr: #32D74B
  --bet-history-buyback-btn-color: #000
  --bet-history-betresult-bgr: #82a8d4
  --bet-history-betresult-color: #fff

  --icon-acc-summary: url("~@/assets/images/accounting/summary.svg")
  --icon-acc-settings: url("~@/assets/images/accounting/settings.svg")
  --icon-acc-rg: url("~@/assets/images/accounting/rg-logo.svg")
  --icon-acc-rg-stop: url("~@/assets/images/accounting/responsible_gaming.svg")
  --icon-active-bets: url("~@/assets/images/accounting/active_bets.svg")
  --icon-settled-bets: url("~@/assets/images/accounting/settled_bets.svg")
  --icon-tx-history: url("~@/assets/images/accounting/tx_history.svg")
  --icon-w2g: url("~@/assets/images/accounting/w2g.svg")
  --icon-acc-logout: url("~@/assets/images/accounting/logout.svg")
  --icon-acc-close: url("~@/assets/images/accounting/close_account.svg")
  --icon-acc-raf: url("~@/assets/images/accounting/raf.svg")
  --icon-acc-verification: url("~@/assets/images/accounting/verification.svg")
  --icon-acc-promos: url("~@/assets/images/brands/generic/promo-darkblue.svg")

  --promotions-item-bgr: #192d54
  --promotions-item-color: #fff
  --promotions-item-icon: url('~@/assets/images/brands/generic/promo-white.svg')
  --promotions-item-icon-arrow: url('~@/assets/images/brands/generic/arrow_right_white.svg')
  --promotions-item-bgr2: #82a8d4
  --promotions-item-color2: #fff
  --promotions-item-icon2: url('~@/assets/images/brands/generic/promo-white.svg')
  --promotions-item-icon-arrow2: url('~@/assets/images/brands/generic/arrow_right_white.svg')

  --pnc-promos-dialog-icon: url('~@/assets/images/brands/generic-treasurebay/promo-gold.svg')
  --pnc-promos-dialog-bgr: #192d54
  --pnc-promos-primary-color: #ffe88d
  --pnc-promos-primary-button-bgr: #ffe88d //linear-gradient(to bottom, #82a8d4, #192d54)
  --pnc-promos-available-header-bgr: #192d54

  --favorites-betslip-color: #192d54
  --favorites-betslip-accent-color: #82a8d4
  --favorites-betslip-panel-border: 1px solid #e4e4e4
  --favorites-betslip-checkbox-color: #192d54
  --favorites-tabs-color: #192d54
  --favorites-tabs-color-active: #192d54
  --favorites-tabs-background: #f2f2f2
  --favorites-tabs-background-active: #fff
  --favorites-myevents-settings-icon: url("~@/assets/images/favorites/settings-white.svg") 

  --secundary-banners-bgr-home #fff
  --headline-overlay-border-radius: 5px
  --headline-overlay-border: solid 3px #ABABAB
  --headline-tiles-background #fff
  --headline-coupon-item-background #16284b
  --headline-coupon-color #fff
  --headline-coupon-carousel-btn-bgr #fff
  --headline-coupon-carousel-btn-color #192d54
  --headline-coupon-carousel-btn-border 1px solid #CBCFD9
  --headline-coupon-header-border: dashed 1px #f2f2f2
  --headline-coupon-livebox-color #fff
  --headline-coupon-livebox-bgr #ff9016
  --headline-coupon-livebox-border-radius 3px
  --headline-coupon-icon-color #fff
  --headline-coupon-icon-opacity 0.08
  --headline-coupon-event-title-color #fff
  --headline-coupon-participant-color #fff
  --headline-coupon-pitcher-color #b1b1b1
  --headline-coupon-selection-wrapper-border 1px solid #f2f2f2
  --headline-coupon-selection-wrapper-background transparent
  --headline-coupon-selection-wrapper-background-active #82a8d4
  --headline-coupon-selection-wrapper-color #fff
  --headline-coupon-selection-wrapper-color-active #fff