.coushatta
  --bgr-color: linear-gradient(to bottom, #02234c, #3a558f) 
  --mobile-bgr-color: #23436f
  --mobile-header-bgr: #23436f
  --header-text-color-mobile: #fff
  --header-bgr: transparent
  --header-text-color: #fff
  --scrolled-header-bgr: #23436f
  --footer-bgr: transparent
  --footer-bgr-fixed-betslip: transparent
  --footer-border-top-fixed-betslip: 0px
  --footer-text-color: #fff
  --footer-mobile-bgr: #23436f
  --app-wrap-content-bgr: #23436f
  --text-color: #000
  --accent-color: #ce6e19
  --backtotop-bgr: #fcd920
  --backtotop-color: #000

  --logo-max-height: 70px
  --logo-max-width: 220px
  --logo-max-height-mobile: 75px
  --logo-max-width-mobile: 180px
  --logo-margin-top: 5px
  --logo-holder-width: 270px

  --bo-nav-headline-color: #f2f2f2
  --bo-nav-headline-bgr: #23436f

  --nav-title-color: #fcd920
  --nav-title-border: 0px
  --side-nav-color: #fff
  --side-nav-icon-color: #fcd920
  --side-nav-color-active: #fcd920
  --main-nav-color: #f2f2f2
  --main-nav-icon-color: #fcd920
  --main-nav-color-active: #fcd920
  --main-nav-border-color-active: #fcd920
  --nav-icon-live: #e9041a

  --dialog-sports-menu-bgr: #23436f
  --dialog-sports-nav-title-color: #fcd920
  --dialog-sports-nav-title-border: 0px
  --dialog-sports-main-nav-color: #f2f2f2
  --dialog-sports-main-nav-icon-color: #fcd920
  --dialog-sports-main-nav-color-active: #fcd920
  --dialog-sports-main-nav-icon-close: url('~@/assets/images/brands/generic/icon-close-grey.svg')
  --dialog-geolocation-text-color: #445058

  --islive-icon: url('~@/assets/images/brands/generic/icon-live-red.svg')
  --islive-color: #e9041a

  --badge-bgr: #ce6e19
  --badge-color: #fff
  --badge-border: 0px
  --badge-tab-bgr: #ce6e19
  --badge-tab-color: #fff
  --badge-tab-border: 0px
  --badge-bgr-mobile: #ce6e19
  --badge-color-mobile: #fff
  --badge-border-mobile: 0px
  --badge-bgr-mobile-active #ce6e19
  --badge-color-mobile-active #fff
  --badge-border-mobile-active 0px

  --popular-menu-mobile-bgr: #fff
  --popular-menu-mobile-icon-color: #23436f
  --popular-menu-mobile-text-color: #23436f

  --bottom-nav-bgr:  #23436f
  --bottom-nav-border-top: 0px
  --bottom-nav-bgr-active:  linear-gradient(to bottom, #e8e8e8, #bac3cf) 
  --bottom-nav-text-color: #f2f2f2
  --bottom-nav-btn-border-right: 0px
  --bottom-nav-text-color-active: #23436f
  --bottom-nav-icon-home-active: url('~@/assets/images/brands/generic-coushatta/home-darkblue.svg')
  --bottom-nav-icon-allsports-active: url('~@/assets/images/brands/generic-coushatta/allsports-darkblue.svg')
  --bottom-nav-icon-betslip-active: url('~@/assets/images/brands/generic-coushatta/betslip-darkblue.svg')
  --bottom-nav-icon-promo-active: url('~@/assets/images/brands/generic-coushatta/promo-darkblue.svg')
  --bottom-nav-icon-profile-active: url('~@/assets/images/brands/generic-coushatta/profile-darkblue.svg')
  --bottom-nav-icon-profile: url('~@/assets/images/brands/generic-coushatta/profile-grey.svg')
  --bottom-nav-icon-promo: url('~@/assets/images/brands/generic-coushatta/promo-grey.svg')
  --bottom-nav-icon-betslip: url('~@/assets/images/brands/generic-coushatta/betslip-grey.svg')
  --bottom-nav-icon-allsports: url('~@/assets/images/brands/generic-coushatta/allsports-grey.svg')
  --bottom-nav-icon-home: url('~@/assets/images/brands/generic-coushatta/home-grey.svg')
  --bottom-nav-icon-racing: url('~@/assets/images/brands/generic-coushatta/horseracing-grey.svg')
  --bottom-nav-icon-racing-active: url('~@/assets/images/brands/generic-coushatta/horseracing-darkblue.svg')
  --bottom-nav-icon-info: url('~@/assets/images/brands/generic-coushatta/info-grey.svg')
  --bottom-nav-icon-info-active: url('~@/assets/images/brands/generic-coushatta/info-darkblue.svg')

  --tab-background : #23436f
  --active-tab-background: #fcfcfc
  --tab-color: #f2f2f2
  --active-tab-color: #000
  --tab-border-top: 0px
  --tab-background-2 : #23436f
  --active-tab-background-2: linear-gradient(to bottom, #e8e8e8, #bac3cf)
  --tab-color-2: #fff
  --active-tab-color-2: #23436f
  --tab-2-border-radius: 3px
  --tab-2-border: 0px
  --tab-live-color: #f2f2f2
  --tab-live-active-color: #000
  --more-tabs-btn-bgr: linear-gradient(to bottom, #e8e8e8, #bac3cf)
  --more-tabs-btn-color: #000
  --more-tabs-btn-icon: url('~@/assets/images/icons/arrow_down_black.svg')
  --more-tabs-btn-icon-active: url('~@/assets/images/icons/arrow_up_black.svg')

  --sports-filter-icon-color: #23436f
  --sports-filter-tab-bgr: transparent
  --sports-filter-active-bgr: linear-gradient(to bottom, #e8e8e8, #bac3cf)
  --sports-filter-active-color: #23436f
  --sports-filter-active-icon-color: #23436f
  --sports-filter-tab-border: 0px
  --sports-filter-active-tab-border: 0px
  --sports-filter-tab-border-radius: 3px

  --coupon-bgr: #fff
  --coupon-borders-color: #c9c9c9
  --coupon-header-border-color: 1px solid #c9c9c9
  --coupon-footer-border-color: 1px solid #c9c9c9
  --coupon-text-color: #23436f
  --coupon-pitcer-name-color: #6d6d6d
  --coupon-header-background: #fff
  --coupon-header-icon: #fff
  --coupon-header-color: #fff
  --coupon-header-markets-color: #6d6d6d
  --coupon-header-markets-font-style: normal
  --coupon-header-markets-font-size: 12px
  --coupon-exp-panel-background: #fff
  --coupon-exp-panel-border: 0px // 1px solid #50D0FF
  --coupon-exp-panel-color: #23436f
  --coupon-exp-panel-icon: #23436f
  --coupon-market-name-color: #23436f
  --event-market-header-icon-down url('~@/assets/images/icons/arrow_down.svg')
  --event-market-header-icon-up  url('~@/assets/images/icons/arrow_up.svg')
  --event-market-header-icon-available-for-bb  url('~@/assets/images/icons/available-for-bb_black.svg')
  --coupon-footer-time-color: #000
  --coupon-footer-morewagers-color: #6d6d6d
  --coupon-footer-morewagers-icon: url('~@/assets/images/brands/generic/arrow_right_orange.svg')
  --coupon-live-match-results-color: #e9041a

  --selection-wrapper: #f6f6f6 
  --selection-wrapper-active: linear-gradient(to bottom, #e8e8e8, #bac3cf)
  --selection-wrapper-border:0px 
  --selection-wrapper-border-radius: 1px 
  --selection-price-color: #ce6e19
  --active-selection-price-color: #000
  --selection-hcp-color: #23436f
  --active-selection-hcp-color: #23436f

  --event-header-bgr: #23436f
  --event-header-color: #fff
  --event-header-margin-bottom: 10px
  --event-header-competition-bgr: #bac3cf
  --event-header-competition-color: #23436f	
  --event-header-live-match-results-bgr: #fff
  --event-header-live-match-results-color: #e9041a

  --search-accent-color: #ce6e19
  --search-input-field-focus-color: #ce6e19
  --search-competitiontitle-bgr: #23436f
  --search-competitiontitle-color: #fff
  --search-borders-color: #c9c9c9
  --search-backbtn-bgr: #23436f
  --search-backbtn-color: #fff
  --search-backbtn-icon: url("~@/assets/images/icons/arrow_left_white.svg")
  --search-tabs-bgr: #fff
  --search-tabs-color: #000

  --betslip-page-bgr: #f6f6f6
  --betslip-mobile-bgr: #23436f
  --betslip-holder-bgr: #f6f6f6
  --betslip-tab-bgr: #23436f
  --betslip-tab-border: 1px solid #f6f6f6
  --betslip-tab-active-bgr: #f6f6f6
  --betslip-tab-color: #f6f6f6
  --betslip-tab-active-color: #23436f

  --betslip-balance-label-color: #fcd920
  --betslip-balance-value-color: #fff
  --betslip-close-icon: url('~@/assets/images/brands/generic/icon-close.svg')
  --betslip-betplaced-close-icon: url('~@/assets/images/brands/generic/icon-close.svg')

  --betslip-historytab-bgr: #23436f
  --betslip-historytab-active-bgr: #bac3cf
  --betslip-historytab-color: #fff
  --betslip-historytab-active-color: #23436f	

  --betslip-header-bgr: #bac3cf
  --betslip-header-color: #23436f
  --betslip-selection-header-bgr: #23436f
  --betslip-selection-header-color: #f2f2f2
  --betslip-selection-header-event-color: #f2f2f2
  --betslip-selection-header-hcp-color: #fcd920
  --betslip-selection-header-market-color: #f2f2f2
  --betslip-selection-header-icon: #fcd920
  --betslip-selection-border: 0px
  --betslip-header-btn-bin-icon: url('~@/assets/images/brands/generic/bin_icon_white.svg')
  --betslip-teaser-rr-icon-color: #23436f
  --betslip-teaser-header-bgr: #23436f
  --betslip-teaser-header-color: #fff
  --betslip-teaser-options-bgr: #bac3cf
  --betslip-teaser-options-color: #23436f
  --betslip-odds-price-bgr: linear-gradient(to bottom, #e8e8e8, #bac3cf)
  --betslip-odds-price-color: #23436f
  --betslip-odds-price-border: 0px
  --betslip-odds-price-border-radius: 1px
  --betslip-text-color: #23436f
  --betslip-selection-name-color: #23436f
  --moneyinput-bgr: #fff
  --moneyinput-color: #23436f
  --moneyinput-border-radius: 1px	
  --moneyinput-border: 0px	
  --betslip-select-box-bgr: #fff
  --betslip-select-box-color: #23436f
  --betslip-select-box-border-radius: 1px	
  --betslip-select-box-border: 1px solid #bac3cf			  
  --betslip-betType-header-bgr: #23436f
  --betslip-betType-header-color: #f2f2f2
  --betslip-betType-header-accent-color: #fcd920
  --betslip-button-primary-bgr: #e17e28
  --betslip-button-primary-color: #f6f6f6
  --betslip-button-primary-accent-color: #f6f6f6
  --betslip-button-secondary-bgr: transparent
  --betslip-button-secondary-color: #e17e28
  --betslip-button-secondary-border: 2px solid #e17e28
  --betslip-button-border-radius: 1px
  --icon-available-for-bb-betslip: url('~@/assets/images/icons/available-for-bb_black.svg')

  --betslip-interrelated-border-color:  #23436f
  --betslip-selection-closed-bgr:  #bac3cf
  --betslip-selection-closed-color:  #23436f
  --betslip-selection-suspended-bgr:  #bac3cf
  --betslip-selection-suspended-color:  #23436f

  --betslip-msg-info-bgr: #bac3cf
  --betslip-msg-info-color: #23436f
  --betslip-hr-line: 1px solid #c9c9c9

  --betslip-msg-special-offers-badge-brg: #fcd920
  --betslip-msg-special-offers-badge-color: #23436f
  --betslip-msg-special-offers-badge-insurance-brg: #bac3cf
  --betslip-msg-special-offers-badge-insurance-color: #23436f
  --betslip-msg-special-offers-badge-bonus-brg: #f2f2f2
  --betslip-msg-special-offers-badge-bonus-color: #23436f
  --betslip-msg-special-offers-parlyinsurance-border: solid 1px #bac3cf
  --betslip-msg-special-offers-parlyinsurance-bgr: #bac3cf
  --betslip-msg-special-offers-parlyinsurance-color: #23436f
  --betslip-msg-special-offers-parlyboost-border: solid 1px #f2f2f2
  --betslip-msg-special-offers-parlyboost-bgr: #f2f2f2
  --betslip-msg-special-offers-parlyboost-color: #23436f

  --bet-placed-color: #23436f
  --bet-placed-bgr: #fcd920
  --bet-placed-msg-keep: #23436f

  --betslip-stakeall-input-bgr: #fff
  --betslip-stakeall-label-bgr: #23436f
  --betslip-stakeall-label-color: #f6f6f6
  --betslip-stakeall-input-border: 1px solid #d9d9d9
  --betslip-stakeall-input-color: #23436f
  --betslip-stakeall-border-radius: 0px

  --betslip-footer-btn-color: #23436f
  --betslip-footer-btn-border: 0px
  --betslip-footer-btn-bgr: transparent
  --betslip-footer-btn-bin-icon: url('~@/assets/images/brands/generic/bin_icon_darkblue.svg')

  --fast-betslip-border-color: #bac3cf

  --betslip-selection-border-bottom-layout2: 1px solid #c9c9c9
  --betslip-selection-header-color-layout2: #23436f
  --betslip-header-btn-bin-icon-layout2: url('~@/assets/images/brands/generic/bin_icon_darkblue.svg')
  --betslip-betType-header-accent-color-layout2: #e17e28
  --betslip-backtobetslip-label-color-layout2: #23436f
  --betslip-odds-price-bgr-layout2: transparent
  --betslip-odds-price-padding-layout2: 0px
  --betslip-odds-price-color-layout2: #e17e28
  --betslip-odds-price-border-layout2: 0px
  --betslip-odds-price-border-radius-layout2: 3px
  --betslip-bottom-tabs-bgr-layot2: transparent
  --betslip-bottom-tabs-color-layot2: #23436f
  --betslip-bottom-tabs-border-layot2: 1px solid #23436f
  --betslip-bottom-tabs-arrowup-layot2: url("~@/assets/images/brands/generic/arrow_up_darkblue.svg") no-repeat center
  --betslip-bottom-tabs-arrowdown-layot2:url("~@/assets/images/brands/generic/arrow_down_darkblue.svg") no-repeat center
  --betslip-bottom-tabs-arrowright-layot2: url("~@/assets/images/brands/generic/arrow_right_darkblue.svg") no-repeat center

  --dialog-gc-msg-dwn-btn-bgr: #23436f
  --dialog-gc-msg-dwn-btn-color: #fff
  --dialog-gc-msg-dwn-btn-border: 0px
  --dialog-gc-msg-dwn-btn-border-radius: 1px

  --login-btn-bgr: transparent
  --login-btn-color: #f6f6f6
  --login-btn-border-radius: 25px
  --login-btn-border: 2px solid #e17e28
  --join-btn-bgr: transparent
  --join-btn-color: #f2f2f2
  --join-btn-border-radius: 25px
  --join-btn-border: 2px solid #bac3cf

  --login-dialog-bgr: #fff
  --login-dialog-header-bgr: #23436f
  --login-dialog-login-btn-bgr: #e17e28
  --login-dialog-login-btn-color: #f6f6f6
  --login-dialog-login-btn-border: 0px
  --login-dialog-login-btn-border-radius: 1px
  --login-dialog-join-btn-bgr: transparent
  --login-dialog-join-btn-color: #e17e28
  --login-dialog-join-btn-border: 2px solid #e17e28
  --login-dialog-login-btn-bgr-disabled: #e17e28
  --login-dialog-login-btn-bgr-disabled-opacity: 0.5
  --login-dialog-login-btn-color-disabled: #f6f6f6
  --login-dialog-login-btn-border-disabled: 0px
  --login-dialog-input-bgr: #f6f6f6
  --login-dialog-input-label-color: #c1c1c1
  --login-dialog-input-color: #23436f
  --login-dialog-input-border-radius: 1px
  --login-dialog-input-border-bottom-color: transparent
  --login-dialog-title-font-size: 14px
  --login-dialog-btn-font-size: 14px
  --login-dialog-text-color: #23436f
  --login-dialog-loader-color1: #23436f
  --login-dialog-loader-color2: #CFD6DB

  --login-with-faceid-bgr: #f6f6f6
  --login-with-faceid-color: #23436f
  --login-with-faceid-border: 2px solid #fcd920
  --login-with-faceid-border-radius: 25px
  --login-with-faceid-switcher: #23436f
  --login-with-faceid-switcher-accent: #fcd920

  --balance-color: #f2f2f2
  --addfunds-color: #f2f2f2
  --addfunds-icon-color: #f2f2f2
  --addfunds-icon-bgr: #e17e28
  --msg-center-icon: url('~@/assets/images/icons/messages-bell-white.svg')

  --msgcenter-item-bgr: #23436f
  --msgcenter-item-color: #f2f2f2
  --msgcenter-item-icon: url('~@/assets/images/icons/icon-info-white.svg')
  --msgcenter-item-bgr-2: #bac3cf
  --msgcenter-item-color-2: #23436f
  --msgcenter-item-icon-2: url('~@/assets/images/icons/icon-info-darkblue.svg')

  --xtremepush-mail-icon: url('~@/assets/images/icons/icon-mail-white.svg')
  --xtremepush-badge-bgr: #e17e28
  --xtremepush-badge-color: #fff
  --xtremepush-title-color: #23436f
  --xtremepush-text-color: #23436f
  --xtremepush-accent-color: #e17e28

  --account-pages-headings-color: #23436f
  --account-pages-text-color: #23436f
  --account-pages-btn-text-transform: none
  --account-pages-btn-border-radius: 1px
  --account-pages-primary-btn-border: 0px
  --account-pages-primary-btn-bgr: #e17e28
  --account-pages-primary-btn-color: #fff
  --account-pages-secondary-btn-border: 2px solid #e17e28
  --account-pages-secondary-btn-bgr: #fff
  --account-pages-secondary-btn-color: #e17e28
  --account-pages-checkbox-color: #23436f
  --account-pages-label-focus-color: #e17e28
  --account-pages-input-focus-color: #e17e28
  --account-pages-loader: #23436f
  --account-pages-secondary-text: #e17e28
  --account-pages-infomsg-bgr: #e5e5e5
  --account-pages-infomsg-color: #23436f

  --account-pages-datepicker-label-color: #23436f
  --account-pages-datepicker-accent-color: #e17e28
  --account-pages-datepicker-border-color: #23436f

  --account-pages-table-headers-bgr: #23436f
  --account-pages-table-headers-color: #f6f6f6
  --account-pages-table-headers-accent-color: #fcd920
  --account-summary-boxes-border: 1px solid #263c4a
  --account-heading-bgr: #bac3cf
  --account-heading-color: #23436f

  --account-details-bgr: #23436f
  --account-details-color: #f6f6f6
  --account-details-user-img: url('~@/assets/images/brands/generic/profile-white.svg')
  --account-details-bgr-mobile: #23436f
  --account-details-mobile-color: #f6f6f6
  --account-details-user-img-mobile: url('~@/assets/images/brands/generic/profile-yellow.svg')
  --account-details-border: 1px solid #bac3cf
  --account-user-title-border: #d3c58d
  --account-user-details-label-color: #f2f2f2
  --account-user-details-value-color: #fcd920
  --account-details-border-radius: 1px
  --account-buttons-border-radius: 0
  --account-details-balance-bgr: #bac3cf
  --account-details-balance-color: #23436f
  --account-details-label-balance-color: #23436f
  --account-balance-margin: 20px 10px 0 10px
  --account-balance-margin-desktop: 45px -12px 0 -12px
  --account-details-buttons-bgr: #23436f
  --account-details-btn-border-radius: 25px
  --account-details-btn-deposit-border: 2px solid #fcd920
  --account-details-btn-deposit-bgr: transparent
  --account-details-btn-deposit-color: #fcd920
  --account-details-btn-withdraw-border: 0px
  --account-details-btn-withdraw-bgr: #e17e28
  --account-details-btn-withdraw-color: #f2f2f2 

  --account-btn-icon-copy: url('~@/assets/images/icons/copy-white.svg') 
  --account-btn-icon-correction: url('~@/assets/images/icons/reg_ver_correction_blue_dark.svg')
  --account-btn-icon-driver-licence: url('~@/assets/images/icons/reg_driver_license.svg')

  --account-links-bgr: #fff
  --account-links-color: #23436f
  --account-links-border: 1px solid #c9c9c9
  --account-links-border-radius: 2px

  --bethistory-tab-bgr: #fff
  --bethistory-tab-border: 1px solid #23436f
  --bethistory-tab-color: #23436f
  --bethistory-active-tab-bgr: #23436f
  --bethistory-active-tab-border: 0px
  --bethistory-active-tab-color: #fff
  --bethistory-bet-header-bgr: #23436f
  --bethistory-bet-header-color: #fff
  --bethistory-block-border-color: #23436f
  --bethistory-bethead-border-color: #23436f
  --bet-history-sporticon-color: #e17e28
  --bet-history-betrefs-color: #fcd920
  --bet-history-accent-color: #e17e28
  --bet-history-buyback-btn-bgr: #32D74B
  --bet-history-buyback-btn-color: #000
  --bet-history-betresult-bgr: #e17e28
  --bet-history-betresult-color: #000

  --icon-acc-summary: url("~@/assets/images/accounting/summary.svg")
  --icon-acc-settings: url("~@/assets/images/accounting/settings.svg")
  --icon-acc-rg: url("~@/assets/images/accounting/rg-logo.svg")
  --icon-acc-rg-stop: url("~@/assets/images/accounting/responsible_gaming.svg")
  --icon-active-bets: url("~@/assets/images/accounting/active_bets.svg")
  --icon-settled-bets: url("~@/assets/images/accounting/settled_bets.svg")
  --icon-tx-history: url("~@/assets/images/accounting/tx_history.svg")
  --icon-w2g: url("~@/assets/images/accounting/w2g.svg")
  --icon-acc-logout: url("~@/assets/images/accounting/logout.svg")
  --icon-acc-close: url("~@/assets/images/accounting/close_account.svg")
  --icon-acc-raf: url("~@/assets/images/accounting/raf.svg")
  --icon-acc-verification: url("~@/assets/images/accounting/verification.svg")
  --icon-acc-promos: url("~@/assets/images/brands/generic/promo-darkblue.svg")

  --promotions-item-bgr: #23436f
  --promotions-item-color: #f2f2f2
  --promotions-item-icon: url('~@/assets/images/brands/generic/promo-white.svg')
  --promotions-item-icon-arrow: url('~@/assets/images/brands/generic/arrow_right_white.svg')
  --promotions-item-bgr2: #e17e28
  --promotions-item-color2: #000
  --promotions-item-icon2: url('~@/assets/images/brands/generic/promo-black.svg')
  --promotions-item-icon-arrow2: url('~@/assets/images/brands/generic/arrow_right_black.svg')

  --pnc-promos-dialog-icon: url('~@/assets/images/brands/generic-coushatta/promo-orange.svg')
  --pnc-promos-dialog-bgr: linear-gradient(to bottom, #02234c, #3a558f)
  --pnc-promos-primary-color: #e17e28
  --pnc-promos-primary-button-bgr: #e17e28
  --pnc-promos-available-header-bgr: #23436f

  --favorites-betslip-color: #034357
  --favorites-betslip-accent-color: #e17e28
  --favorites-betslip-panel-border: 1px solid #e4e4e4
  --favorites-betslip-checkbox-color: #23436f

  --secundary-banners-bgr-home #fff
  --headline-overlay-border-radius: 5px
  --headline-overlay-border: solid 3px #ABABAB
  --headline-tiles-background #fff
  --headline-coupon-item-background #23436f
  --headline-coupon-color #fff
  --headline-coupon-carousel-btn-bgr #fff
  --headline-coupon-carousel-btn-color #e17e28
  --headline-coupon-carousel-btn-border 1px solid #CBCFD9
  --headline-coupon-header-border: solid 1px #f2f2f2
  --headline-coupon-livebox-color #fff
  --headline-coupon-livebox-bgr #e17e28
  --headline-coupon-livebox-border-radius 3px
  --headline-coupon-icon-color #fff
  --headline-coupon-icon-opacity 0.08
  --headline-coupon-event-title-color #fff
  --headline-coupon-participant-color #fff
  --headline-coupon-pitcher-color #b1b1b1
  --headline-coupon-selection-wrapper-border 1px solid #f2f2f2
  --headline-coupon-selection-wrapper-background transparent
  --headline-coupon-selection-wrapper-background-active linear-gradient(to bottom, #e8e8e8, #bac3cf)
  --headline-coupon-selection-wrapper-color #fff
  --headline-coupon-selection-wrapper-color-active #23436f

  /* overrides for PM betting generics style in parimutuel.styl */
  .pm
    --pmcontent-color: #23436f
    --pmcontent-backgroundcolor: #fff
    --pmtitlenav-backgroundcolor: #bac3cf
    --pmtitlenav-color: #23436f
    --pmlinenav-link-backgroundcolor: #30507d 
    --pmlinenav-link-color: #ffffff
    --pmlinenav-link-fontweight: inherit
    --pmlinenav-link-bordercolor: #30507d
    --pmlinenav-link-pinned-backgroundcolor: #d28038
    --pmlinenav-link-pinned-color: #ffffff
    --pmlinenav-link-pinned-fontweight: inherit
    --pmlinenav-link-pinned-bordercolor: #d28038
    --pmlinenav-link-uscon-backgroundcolor: #30507d 
    --pmlinenav-link-uscon-color: #ffffff
    --pmlinenav-link-uscon-fontweight: bold
    --pmlinenav-link-uscoff-backgroundcolor: #30507d
    --pmlinenav-link-uscoff-color: #71849e
    --pmlinenav-link-uscoff-fontweight: bold
    --pmlinenav-link-selected-backgroundcolor: #30507d
    --pmlinenav-link-selected-color: #f9f467
    --pmlinenav-link-selected-fontweight: bold
    --pmlinenav-link-selected-bordercolor: #f9f467
    --pmlinenav-link-selected-race-color: #30507d
    --pmlinenav-link-selected-race-backgroundcolor: #f9f467
    --pm-race-ttl-line-color: #30507d
    --pm-race-ttl-line-backgroundcolor: #f9f467
    --pm-raceinfo-ttl-color: #fff
    --pm-raceinfo-ttl-backgroundcolor: #23436f
    --pmtable-head-color: #23436f
    --pmtable-head-backgroundcolor: #f9f467
    --pm-pmtable-racegsc-default-color: inherit
    --pm-pmtable-racegsc-open-color: #05af75
    --pm-pmtable-racegsc-closed-color: #d60000
    --pm-multirace-changeracebut-background: transparent
    --pm-multirace-changeracebut-vicon-color: transparent
    --pm-multirace-changeracebut-vicon-prev-background: url('~@/assets/images/racing/arrow-darkblue-left.svg') center/60% no-repeat
    --pm-multirace-changeracebut-vicon-next-background: url('~@/assets/images/racing/arrow-darkblue.svg') center/60% no-repeat
    --pm-multirace-cellth-active-backgroundcolor: #80ff95
    --pm-multirace-cellth-button-active-backgroundcolor: #80ff95
    --pm-multirace-celltd-active-backgroundcolor: #fff
    --pm-multirace-celltd-button-active-color: #80ff95
    --pmbetslip-holder-backgroundcolor: #f6f6f6;
    --pmbetslip-pmbs-bethead-color: #fff
    --pmbetslip-pmbs-bethead-backgroundcolor: #23436f
    --pmbetslip-pmbs-bettitle-color: #23436f
    --pmbetslip-pmbs-bettitle-backgroundcolor: #f9f467
