.palace
  --bgr-color: linear-gradient(to bottom, #000044 70%, #2B93D1) 
  --bgr-size: 100%
  --mobile-bgr-color: #000044
  --header-bgr: transparent
  --header-text-color: #fff
  --scrolled-header-bgr: #000044
  --mobile-header-bgr: #000044
  --header-text-color-mobile: #fff
  --footer-bgr: transparent
  --footer-bgr-fixed-betslip: transparent
  --footer-border-top-fixed-betslip: 1px solid #2B93D1
  --footer-mobile-bgr: #000044
  --footer-text-color: #fff
  --app-wrap-content-bgr: #f2f2f2
  --text-color:  #000044
  --accent-color: #2B93D1
  --backtotop-bgr: #2B93D1
  --backtotop-color: #000044

  --logo-max-height: 120px
  --logo-max-width: 162px
  --logo-max-height-mobile: 60px
  --logo-max-width-mobile: 130px
  --logo-margin-top: 20px
  --logo-holder-width: 190px

  --bo-nav-headline-color: #fff
  --bo-nav-headline-bgr: #000044

  --nav-title-color: #2B93D1
  --nav-title-border: 0px
  --nav-title-font: 'Open Sans SemiBold'
  --nav-title-font-size: 15px
  --side-nav-font:  'Open Sans Regular'
  --side-nav-color: #fff
  --side-nav-icon-color: #fff
  --side-nav-color-active: #2B93D1
  --main-nav-color: #fff
  --main-nav-icon-color: #fff
  --main-nav-color-active: #2B93D1
  --main-nav-border-color-active: #fff
  --nav-icon-live: #E9041A

  --dialog-sports-menu-bgr: #000044 url('~@/assets/images/brands/generic-palace/allsports_bck.png') no-repeat center center
  --dialog-sports-nav-title-color: #2B93D1
  --dialog-sports-nav-title-border: 0px
  --dialog-sports-main-nav-color: #fff
  --dialog-sports-nav-title-font: 'Open Sans SemiBold'
  --dialog-sports-nav-title-font-size: 14px
  --dialog-sports-main-nav-icon-color: #fff
  --dialog-sports-main-nav-color-active: #2B93D1
  --dialog-sports-main-nav-icon-close: url('~@/assets/images/brands/generic-palace/icon-close-blue.svg')
  --dialog-geolocation-text-color: #000044

  --islive-icon: url('~@/assets/images/brands/generic/icon-live-red.svg')
  --islive-color: #E9041A

  --badge-bgr: #fff
  --badge-color: #000044
  --badge-border: 0px
  --badge-tab-bgr: #f5f5f5
  --badge-tab-color: #000044
  --badge-tab-border: 0px
  --badge-bgr-mobile: #E9041A
  --badge-color-mobile: #fff
  --badge-border-mobile: 0px
  --badge-bgr-mobile-active #E9041A
  --badge-color-mobile-active #fff
  --badge-border-mobile-active 0px

  --popular-menu-mobile-bgr: #fff
  --popular-menu-mobile-icon-color: #000044
  --popular-menu-mobile-text-color: #000044

  --bottom-nav-bgr:  linear-gradient(to bottom, #2B93D1, #000044) 
  --bottom-nav-border-top: 0px
  --bottom-nav-bgr-active:  #fff
  --bottom-nav-text-color: #fff
  --bottom-nav-text-size: 11px
  --bottom-nav-text-line-height: 90%
  --bottom-nav-btn-border-right: 0px
  --bottom-nav-text-color-active: #000044
  --bottom-nav-icon-profile: url('~@/assets/images/brands/generic/profile-white.svg')
  --bottom-nav-icon-profile-active: url('~@/assets/images/brands/generic-palace/profile-blue.svg')
  --bottom-nav-icon-promo: url('~@/assets/images/brands/generic/promo-white.svg')
  --bottom-nav-icon-promo-active: url('~@/assets/images/brands/generic-palace/promo-blue.svg')
  --bottom-nav-icon-contests: url('~@/assets/images/brands/generic/contests-white.svg')
  --bottom-nav-icon-contests-active: url('~@/assets/images/brands/generic-palace/contests-blue.svg')
  --bottom-nav-icon-betslip: url('~@/assets/images/brands/generic/betslip-white.svg')
  --bottom-nav-icon-betslip-active: url('~@/assets/images/brands/generic-palace/betslip-blue.svg')
  --bottom-nav-icon-allsports: url('~@/assets/images/brands/generic/allsports-white.svg')
  --bottom-nav-icon-allsports-active: url('~@/assets/images/brands/generic-palace/allsports-blue.svg')
  --bottom-nav-icon-home: url('~@/assets/images/brands/generic/home-white.svg')
  --bottom-nav-icon-home-active: url('~@/assets/images/brands/generic-palace/home-blue.svg')
  --bottom-nav-icon-racing: url('~@/assets/images/brands/generic/horseracing-white.svg')
  --bottom-nav-icon-racing-active: url('~@/assets/images/brands/generic-palace/horseracing-blue.svg')
  --bottom-nav-icon-info: url('~@/assets/images/brands/generic/info-white.svg')
  --bottom-nav-icon-info-active: url('~@/assets/images/brands/generic-palace/info-blue.svg')

  --tab-background : linear-gradient(to bottom, #2B93D1, #000044) 
  --active-tab-background: #fff
  --tab-color: #fff
  --active-tab-color: #000038
  --active-tab-border-bottom: 0px
  --tab-border-top: 0px
  --tab-background-2 : #fff
  --active-tab-background-2: #286FB7
  --tab-color-2: #286FB7
  --active-tab-color-2: #fff
  --tab-2-border-radius: 1px
  --tab-2-border: 0px
  --tab-live-color: #fff
  --tab-live-active-color: #000038
  --more-tabs-btn-bgr: #fff
  --more-tabs-btn-color: #286FB7
  --more-tabs-btn-icon: url('~@/assets/images/icons/arrow_down_lightblue.svg')
  --more-tabs-btn-icon-active: url('~@/assets/images/icons/arrow_up_lightblue.svg')

  --sports-filter-tab-min-width: 70px
  --sports-filter-icon-color: #286FB7
  --sports-filter-tab-bgr: #fff
  --sports-filter-active-bgr: #286FB7
  --sports-filter-active-color: #fff
  --sports-filter-active-icon-color: #fff
  --sports-filter-tab-border: 0px
  --sports-filter-active-tab-border: 0px
  --sports-filter-tab-border-radius: 0px

  --coupon-bgr: #fff
  --coupon-borders-color: #f1f1f1
  --coupon-header-border-color: 1px solid #dadada
  --coupon-footer-border-color: 1px solid #dadada
  --coupon-text-color: #286FB7
  --coupon-pitcer-name-color: #000044
  --coupon-header-background: #fff
  --coupon-header-color: #000044
  --coupon-header-text-transform uppercase
  --coupon-header-markets-color: #000044
  --coupon-header-markets-font-style: normal
  --coupon-header-markets-font-size: 12px
  --coupon-header-icon: #286FB7
  --coupon-exp-panel-background: #286FB7
  --coupon-exp-panel-border-width: 0px
  --coupon-exp-panel-border-style: none
  --coupon-exp-panel-border-color: none
  --coupon-exp-panel-color: #fff
  --coupon-exp-panel-icon: #fff
  --coupon-market-name-color: #000044
  --event-market-header-icon-down: url('~@/assets/images/icons/arrow_down.svg')
  --event-market-header-icon-up:  url('~@/assets/images/icons/arrow_up.svg')
  --event-market-header-icon-available-for-bb:  url('~@/assets/images/icons/available-for-bb_black.svg')
  --coupon-footer-time-color: #000044
  --coupon-footer-time-font: 'Open Sans SemiBold'
  --coupon-footer-morewagers-color: #000044
  --coupon-footer-morewagers-icon: url('~@/assets/images/brands/generic/arrow_right_lightblue_palace.svg')
  --coupon-live-match-results-color: #E9041A

  --selection-wrapper-active: #2B93D1
  --selection-wrapper-border-active:0px
  --selection-wrapper: #f6f6f6
  --selection-wrapper-border:0px
  --selection-wrapper-border-radius: 0px 
  --selection-price-color: #000044
  --selection-price-font: 'Open Sans SemiBold'
  --selection-price-font-size-big: 14px
  --selection-price-font-size-small: 13px
  --active-selection-price-color: #fff
  --selection-hcp-color: #286FB7
  --selection-hcp-font: 'Open Sans Bold'
  --selection-hcp-font-size-big: 14px
  --selection-hcp-font-size-small: 13px
  --active-selection-hcp-color: #fff

  --event-header-bgr: #000044
  --event-header-color: #fff
  --event-header-margin-bottom: 10px
  --event-header-competition-bgr: #2B93D1
  --event-header-competition-color: #fff
  --event-header-live-match-results-bgr: #fff
  --event-header-live-match-results-color: #E9041A

  --search-accent-color: #2B93D1
  --search-input-field-focus-color: #003764
  --search-competitiontitle-bgr: #000044
  --search-competitiontitle-color: #fff
  --search-competitiontitle-border-bottom: 0px
  --search-sportstitle-border-bottom:0px
  --search-borders-color: #f2f2f2
  --search-backbtn-bgr: #000044
  --search-backbtn-color: #fff
  --search-backbtn-icon: url("~@/assets/images/icons/arrow_left_white.svg")
  --search-tabs-bgr: #fff
  --search-tabs-color: #000044

  --betslip-page-bgr: #f2f2f2
  --betslip-mobile-bgr: #2B93D1
  --betslip-holder-bgr: #fff
  --betslip-tab-bgr: #e7e7e7
  --betslip-tab-border: 0px
  --betslip-tab-active-bgr: #fff
  --betslip-tab-color: #000044
  --betslip-tab-active-color: #000044
  --betslip-tab-active-border: 0px

  --betslip-mobile-preheader-bgr: transparent
  --betslip-balance-label-color: #000044
  --betslip-balance-value-color: #fff
  --betslip-close-icon: url('~@/assets/images/brands/generic/icon-close.svg')
  --betslip-betplaced-close-icon: url('~@/assets/images/brands/generic/icon-close.svg')

  --betslip-historytab-bgr: #e7e7e7
  --betslip-historytab-active-bgr: #000044
  --betslip-historytab-color: #000044
  --betslip-historytab-active-color: #fff

  --betslip-header-bgr: #000044
  --betslip-header-color: #fff
  --betslip-selection-header-bgr: #000044
  --betslip-selection-header-color: #fff
  --betslip-selection-header-market-color: #fff
  --betslip-selection-header-event-color: #fff
  --betslip-selection-header-hcp-color: #fff
  --betslip-selection-header-icon: #2B93D1
  --betslip-selection-border: 0px
  --betslip-header-btn-bin-icon: url('~@/assets/images/brands/generic/bin_icon_white.svg')
  --betslip-teaser-rr-icon-color: #000044
  --betslip-teaser-header-bgr: #000044
  --betslip-teaser-header-color: #fff
  --betslip-teaser-options-bgr: #fff
  --betslip-teaser-options-color: #2B93D1
  --betslip-odds-price-bgr: #2B93D1
  --betslip-odds-price-color: #fff
  --betslip-odds-price-border: 0px
  --betslip-odds-price-border-radius: 0px
  --betslip-text-color: #000044
  --betslip-selection-name-color: #286FB7
  --moneyinput-bgr: #fff
  --moneyinput-color: #000044
  --moneyinput-border: 1px solid #ccc
  --moneyinput-border-radius: 0px
  --betslip-select-box-bgr: #fff
  --betslip-select-box-color: #000
  --betslip-select-box-border-radius: 0px	
  --betslip-select-box-border: 1px solid #ccc
  --betslip-betType-header-bgr: #000044
  --betslip-betType-header-color: #fff
  --betslip-betType-header-accent-color: #B9D2E3
  --betslip-button-primary-bgr: linear-gradient(to bottom, #2B93D1, #000044)
  --betslip-button-primary-color: #fff
  --betslip-button-primary-accent-color: #fff
  --betslip-button-secondary-bgr: #fff
  --betslip-button-secondary-color: #286FB7
  --betslip-button-secondary-border: 2px solid #286FB7
  --betslip-button-border-radius: 0px
  --icon-available-for-bb-betslip: url('~@/assets/images/icons/available-for-bb_blue.svg')

  --betslip-interrelated-border-color:  #000044
  --betslip-selection-closed-bgr:  #a5a5a5
  --betslip-selection-closed-color:  #fff
  --betslip-selection-suspended-bgr:  #a5a5a5
  --betslip-selection-suspended-color:  #fff

  --betslip-msg-info-bgr: #B9D2E3
  --betslip-msg-info-color: #000044
  --betslip-hr-line: 2px solid #B9D2E3

  --betslip-msg-special-offers-badge-brg: #286FB7
  --betslip-msg-special-offers-badge-color: #fff
  --betslip-msg-special-offers-badge-insurance-brg: #000044
  --betslip-msg-special-offers-badge-insurance-color: #fff
  --betslip-msg-special-offers-badge-bonus-brg: #B9D2E3
  --betslip-msg-special-offers-badge-bonus-color: #000044
  --betslip-msg-special-offers-parlyinsurance-border: solid 1px #8ac6e8
  --betslip-msg-special-offers-parlyinsurance-bgr: #8ac6e8
  --betslip-msg-special-offers-parlyinsurance-color: #000044
  --betslip-msg-special-offers-parlyboost-border: solid 1px #B9D2E3
  --betslip-msg-special-offers-parlyboost-bgr: #B9D2E3
  --betslip-msg-special-offers-parlyboost-color: #000044

  --bet-placed-color: #fff
  --bet-placed-bgr: #286FB7
  --bet-placed-msg-keep: #286FB7

  --betslip-stakeall-input-bgr: #fff
  --betslip-stakeall-label-bgr: #286FB7
  --betslip-stakeall-label-color: #fff
  --betslip-stakeall-input-border: 1px solid #e5e5e5
  --betslip-stakeall-input-color: #000044
  --betslip-stakeall-border-radius: 1px

  --betslip-footer-btn-color: #000044
  --betslip-footer-btn-border: 0px
  --betslip-footer-btn-bgr: transparent
  --betslip-footer-btn-bin-icon: url('~@/assets/images/brands/generic/bin_icon_darkblue.svg')

  --fast-betslip-border-color: #f2f2f2

  --betslip-selection-border-bottom-layout2: 1px solid #B9D2E3
  --betslip-selection-header-color-layout2: #000044
  --betslip-header-btn-bin-icon-layout2: url('~@/assets/images/brands/generic/bin_icon_darkblue.svg')
  --betslip-betType-header-accent-color-layout2: #286FB7
  --betslip-backtobetslip-label-color-layout2: #fff
  --betslip-odds-price-bgr-layout2: transparent
  --betslip-odds-price-padding-layout2: 0px
  --betslip-odds-price-color-layout2: #000044
  --betslip-odds-price-border-layout2: 0px
  --betslip-odds-price-border-radius-layout2: 3px
  --betslip-bottom-tabs-bgr-layot2: #000044
  --betslip-bottom-tabs-color-layot2: #fff
  --betslip-bottom-tabs-border-layot2: 1px solid #fff
  --betslip-bottom-tabs-arrowup-layot2: url("~@/assets/images/brands/generic/arrow_up_white.svg") no-repeat center
  --betslip-bottom-tabs-arrowdown-layot2:url("~@/assets/images/brands/generic/arrow_down_white.svg") no-repeat center
  --betslip-bottom-tabs-arrowright-layot2: url("~@/assets/images/brands/generic/arrow_right_white.svg") no-repeat center

  --betslip-sgp-icon url("~@/assets/images/icon/svg/sgp-SGM-tag.svg")
  --betslip-new-indicator-bgr #286FB7
  --betslip-new-indicator-color #000044

  --dialog-gc-msg-dwn-btn-bgr: #000044
  --dialog-gc-msg-dwn-btn-color: #fff

  --login-btn-bgr: transparent
  --login-btn-color: #2B93D1
  --login-btn-border-radius: 25px
  --login-btn-border: 2px solid #2B93D1
  --join-btn-bgr: transparent
  --join-btn-color: #fff
  --join-btn-border-radius: 25px
  --join-btn-border: 2px solid #fff

  --login-dialog-bgr: #f2f2f2
  --login-dialog-header-bgr: linear-gradient(to right, #2B93D1, #000044)
  --login-dialog-close-icon: url('~@/assets/images/brands/generic-palace/icon-close-blue.svg')
  --login-dialog-login-btn-bgr:linear-gradient(to bottom, #2B93D1, #000044)
  --login-dialog-login-btn-color: #fff
  --login-dialog-login-btn-border: 0px
  --login-dialog-login-btn-border-radius: 1px
  --login-dialog-join-btn-bgr: transparent
  --login-dialog-join-btn-color: #2B93D1
  --login-dialog-join-btn-border: 2px solid #2B93D1
  --login-dialog-login-btn-bgr-disabled: linear-gradient(to bottom, #2B93D1, #000044)
  --login-dialog-login-btn-bgr-disabled-opacity: 0.5
  --login-dialog-login-btn-color-disabled: #fff
  --login-dialog-login-btn-border-disabled: 0px
  --login-dialog-input-bgr: #fff
  --login-dialog-input-label-color: #c1c1c1
  --login-dialog-input-color: #000044
  --login-dialog-input-border-radius: 5px
  --login-dialog-input-border-bottom-color: #fff
  --login-dialog-input-border-color: #fff
  --login-dialog-input-border-width: 0px
  --login-dialog-input-border-style: solid
  --login-dialog-title-font-size: 16px
  --login-dialog-btn-font-size: 16px
  --login-dialog-text-color: #000044
  --login-dialog-loader-color1: #fff
  --login-dialog-loader-color2: #000044

  --login-with-faceid-bgr: #286FB7
  --login-with-faceid-color: #fff
  --login-with-faceid-border: 0px
  --login-with-faceid-border-radius: 0px
  --login-with-faceid-switcher: #000044
  --login-with-faceid-switcher-accent: #286FB7
  
  --balance-color: #fff
  --addfunds-color: #fff
  --addfunds-icon-color: #fff
  --addfunds-icon-bgr: #286FB7
  --msg-center-icon: url('~@/assets/images/icons/messages-bell-white.svg')

  --msgcenter-item-bgr: #000044
  --msgcenter-item-color: #fff
  --msgcenter-item-icon: url('~@/assets/images/icons/icon-info-white.svg')
  --msgcenter-item-bgr-2: #286FB7
  --msgcenter-item-color-2: #fff
  --msgcenter-item-icon-2: url('~@/assets/images/icons/icon-info-white.svg')

  --xtremepush-mail-icon: url('~@/assets/images/icons/icon-mail-white.svg')
  --xtremepush-badge-bgr: #fff
  --xtremepush-badge-color: #000044
  --xtremepush-title-color: #000044
  --xtremepush-text-color: #000044
  --xtremepush-accent-color: #286FB7

  --account-pages-headings-color: #000044
  --account-pages-text-color: #000044
  --account-pages-btn-text-transform: none
  --account-pages-btn-border-radius: 0px
  --account-pages-primary-btn-border: 0px
  --account-pages-primary-btn-bgr: linear-gradient(to bottom, #2B93D1, #000044)
  --account-pages-primary-btn-color: #fff
  --account-pages-secondary-btn-border: 2px solid #286FB7
  --account-pages-secondary-btn-bgr: #fff
  --account-pages-secondary-btn-color: #286FB7
  --account-pages-checkbox-color: #286FB7
  --account-pages-label-focus-color: #286FB7
  --account-pages-input-focus-color: #286FB7
  --account-pages-loader: #000044
  --account-pages-secondary-text: #286FB7

  --account-pages-datepicker-label-color: #000044
  --account-pages-datepicker-accent-color: #286FB7
  --account-pages-datepicker-border-color: #000044

  --account-pages-table-headers-bgr: #000044
  --account-pages-table-headers-color: #fff
  --account-pages-table-headers-accent-color: #B9D2E3
  --account-summary-boxes-border: 1px solid #000044
  --account-heading-bgr: #fff
  --account-heading-color: #000044

  --account-details-bgr: #000044
  --account-details-color: #fff
  --account-details-user-img: url('~@/assets/images/brands/generic/profile-white.svg')
  --account-details-bgr-mobile: #000044
  --account-details-mobile-color: #fff
  --account-details-user-img-mobile: url('~@/assets/images/brands/generic/profile-white.svg')
  --account-details-border: 1px solid #B9D2E3
  --account-user-title-border: #fcfcfc
  --account-user-details-label-color: #fff
  --account-user-details-value-color: #2B93D1
  --account-details-border-radius: 3px 3px 0 0
  --account-buttons-border-radius: 0 0 3px 3px
  --account-details-balance-bgr: #000044
  --account-details-balance-color: #fff
  --account-details-label-balance-color: #2B93D1
  --account-balance-margin: 20px 0 0 0 
  --account-balance-margin-desktop: 45px -10px 0 -20px
  --account-details-buttons-margin-desktop:  0 -12px 0 -12px
  --account-buttons-margin 0
  --account-details-buttons-bgr: #000044
  --account-details-btn-border-radius: 0px
  --account-details-btn-deposit-border: 0px
  --account-details-btn-deposit-bgr: #2B93D1
  --account-details-btn-deposit-color: #fff
  --account-details-btn-withdraw-border: 0px
  --account-details-btn-withdraw-bgr: #fff
  --account-details-btn-withdraw-color: #2B93D1 

  --account-btn-icon-copy: url('~@/assets/images/icons/copy-white.svg')
  --account-btn-icon-correction: url('~@/assets/images/icons/reg_ver_correction.svg')
  --account-btn-icon-driver-licence: url('~@/assets/images/icons/reg_driver_license_black.svg')

  --account-links-bgr: #fff
  --account-links-color: #000044
  --account-links-border: 1px solid #f2f2f2
  --account-links-border-radius: 0px

  --bethistory-tab-bgr: #fff
  --bethistory-tab-border: 1px solid #000044
  --bethistory-tab-color: #000044
  --bethistory-active-tab-bgr: #000044
  --bethistory-active-tab-border: 0px
  --bethistory-active-tab-color: #fff
  --bethistory-bet-header-bgr: #000044
  --bethistory-bet-header-color: #fff
  --bethistory-block-border-color: #000044
  --bethistory-bethead-border-color: 0px
  --bet-history-sporticon-color: #000044
  --bet-history-betrefs-color: #B9D2E3
  --bet-history-accent-color: #2B93D1
  --bet-history-buyback-btn-bgr: #3fc369
  --bet-history-buyback-btn-color: #fff
  --bet-history-betresult-bgr: #2B93D1
  --bet-history-betresult-color: #fff


  --icon-acc-summary: url("~@/assets/images/brands/generic-palace/accounting/summary.svg")
  --icon-acc-settings: url("~@/assets/images/brands/generic-palace/accounting/settings.svg")
  --icon-acc-rg: url("~@/assets/images/brands/generic-palace/accounting/rg-logo.svg")
  --icon-acc-rg-stop: url("~@/assets/images/brands/generic-palace/accounting/responsible_gaming.svg")
  --icon-active-bets: url("~@/assets/images/brands/generic-palace/accounting/active_bets.svg")
  --icon-settled-bets: url("~@/assets/images/brands/generic-palace/accounting/settled_bets.svg")
  --icon-tx-history: url("~@/assets/images/brands/generic-palace/accounting/tx_history.svg")
  --icon-w2g: url("~@/assets/images/brands/generic-palace/accounting/w2g.svg")
  --icon-acc-logout: url("~@/assets/images/brands/generic-palace/accounting/logout.svg")
  --icon-acc-close: url("~@/assets/images/brands/generic-palace/accounting/close_account.svg")
  --icon-acc-raf: url("~@/assets/images/brands/generic-palace/accounting/raf.svg")
  --icon-acc-verification: url("~@/assets/images/brands/generic-palace/accounting/verification.svg")
  --icon-acc-zinrelo: url("~@/assets/images/brands/generic-palace/accounting/zinrelo.svg")
  --icon-acc-promos: url("~@/assets/images/brands/generic-palace/accounting/promo.svg")

  --promotions-item-bgr: #000044
  --promotions-item-color: #fff
  --promotions-item-icon: url('~@/assets/images/brands/generic/promo-white.svg')
  --promotions-item-icon-arrow: url('~@/assets/images/brands/generic/arrow_right_white.svg')
  --promotions-item-bgr2: #286FB7
  --promotions-item-color2: #fff
  --promotions-item-icon2: url('~@/assets/images/brands/generic/promo-white.svg')
  --promotions-item-icon-arrow2: url('~@/assets/images/brands/generic/arrow_right_white.svg')

  --pnc-promos-dialog-icon: url('~@/assets/images/brands/generic/promo-darkblue.svg')
  --pnc-promos-dialog-bgr: #2B93D1
  --pnc-promos-primary-color: #2B93D1
  --pnc-promos-primary-button-bgr: linear-gradient(to bottom, #2B93D1, #000044)
  --pnc-promos-available-header-bgr: #000044

  --favorites-betslip-color: #000044
  --favorites-betslip-accent-color: #2B93D1
  --favorites-betslip-panel-border: 1px solid #B9D2E3
  --favorites-betslip-checkbox-color: #2B93D1
  --favorites-tabs-color: #000044
  --favorites-tabs-color-active: #000044
  --favorites-tabs-background: #f2f2f2
  --favorites-tabs-background-active: #fff
  --favorites-myevents-settings-icon: url("~@/assets/images/favorites/settings-white.svg") 

  --secundary-banners-bgr-home #fff
  --headline-overlay-border-radius: 5px
  --headline-overlay-border: 0px
  --headline-tiles-background #134081
  --headline-coupon-item-background #134081
  --headline-coupon-color #fff
  --headline-coupon-carousel-btn-bgr #fff
  --headline-coupon-carousel-btn-color #000044
  --headline-coupon-carousel-btn-border 1px solid #CBCFD9
  --headline-coupon-header-border: dashed 1px #f2f2f2
  --headline-coupon-livebox-color #fff
  --headline-coupon-livebox-bgr #e9041a
  --headline-coupon-livebox-border-radius 3px
  --headline-coupon-icon-color #fff
  --headline-coupon-icon-opacity 0.08
  --headline-coupon-event-title-color #fff
  --headline-coupon-participant-color #fff
  --headline-coupon-pitcher-color #b1b1b1
  --headline-coupon-selection-wrapper-border 1px solid #f2f2f2
  --headline-coupon-selection-wrapper-background transparent
  --headline-coupon-selection-wrapper-background-active #fff
  --headline-coupon-selection-wrapper-color #fff
  --headline-coupon-selection-wrapper-color-active #000044