.aotw
  --bgr-color: #000
  --mobile-bgr-color: #000
  --mobile-header-bgr: #000
  --header-text-color-mobile: #fff
  --header-bgr: #000
  --header-text-color: #fff
  --scrolled-header-bgr: #000
  --footer-bgr: transparent
  --footer-bgr-fixed-betslip: transparent
  --footer-border-top-fixed-betslip: 0px
  --footer-text-color: #fff
  --footer-mobile-bgr: #000
  --app-wrap-content-bgr: #000
  --text-color: #000
  --accent-color: #d3c58d
  --backtotop-bgr: #d3c58d
  --backtotop-color: #000

  --logo-max-height: 80px
  --logo-max-width: 180px
  --logo-max-height-mobile: 55px
  --logo-max-width-mobile: 160px
  --logo-margin-top: 5px
  --logo-holder-width: 190px

  --bo-nav-headline-color: #d3c58d
  --bo-nav-headline-bgr: #000

  --nav-title-color: #d3c58d
  --nav-title-border: 0px
  --side-nav-color: #fff
  --side-nav-icon-color: #fff
  --side-nav-color-active: #d3c58d
  --main-nav-color: #fff
  --main-nav-icon-color: #fff
  --main-nav-color-active: #d3c58d
  --main-nav-border-color-active: #fff
  --nav-icon-live: #c50000

  --dialog-sports-menu-bgr: #000
  --dialog-sports-nav-title-color: #d3c58d
  --dialog-sports-nav-title-border: 0px
  --dialog-sports-main-nav-color: #fff
  --dialog-sports-main-nav-icon-color: #fff
  --dialog-sports-main-nav-color-active: #d3c58d
  --dialog-sports-main-nav-icon-close: url('~@/assets/images/brands/generic/icon-close-white.svg')
  --dialog-geolocation-text-color: #000

  --islive-icon: url('~@/assets/images/brands/generic-aotw/icon-live-red.svg')
  --islive-color: #c50000

  --badge-bgr: #fff
  --badge-color: #000
  --badge-border: 0px
  --badge-tab-bgr: #fff
  --badge-tab-color: #000
  --badge-tab-border: 0px
  --badge-bgr-mobile: #fff
  --badge-color-mobile: #000
  --badge-border-mobile: 0px
  --badge-bgr-mobile-active #fff
  --badge-color-mobile-active #000
  --badge-border-mobile-active 0px

  --popular-menu-mobile-bgr: #f2f2f2
  --popular-menu-mobile-icon-color: #000
  --popular-menu-mobile-text-color: #000

  --bottom-nav-bgr:  #000
  --bottom-nav-border-top: 0px
  --bottom-nav-bgr-active:  linear-gradient(to bottom, #d3c58d, #957d49)
  --bottom-nav-text-color: #d3c58d
  --bottom-nav-btn-border-right: 0px
  --bottom-nav-text-color-active: #fff
  --bottom-nav-icon-profile-active: url('~@/assets/images/brands/generic/profile-white.svg')
  --bottom-nav-icon-promo-active: url('~@/assets/images/brands/generic/promo-white.svg')
  --bottom-nav-icon-betslip-active: url('~@/assets/images/brands/generic/betslip-white.svg')
  --bottom-nav-icon-allsports-active: url('~@/assets/images/brands/generic/allsports-white.svg')
  --bottom-nav-icon-home-active: url('~@/assets/images/brands/generic/home-white.svg')
  --bottom-nav-icon-home: url('~@/assets/images/brands/generic-aotw/home-gold.svg')
  --bottom-nav-icon-allsports: url('~@/assets/images/brands/generic-aotw/allsports-gold.svg')
  --bottom-nav-icon-betslip: url('~@/assets/images/brands/generic-aotw/betslip-gold.svg')
  --bottom-nav-icon-promo: url('~@/assets/images/brands/generic-aotw/promo-gold.svg')
  --bottom-nav-icon-profile: url('~@/assets/images/brands/generic-aotw/profile-gold.svg')
  --bottom-nav-icon-info: url('~@/assets/images/brands/generic-aotw/info-gold.svg')
  --bottom-nav-icon-info-active: url('~@/assets/images/brands/generic/info-white.svg')

  --tab-background : #000
  --active-tab-background: linear-gradient(to bottom, #d3c58d, #957d49)
  --tab-color: #fff
  --active-tab-color: #fff
  --tab-border-top: 0px
  --tab-background-2 : #fff
  --active-tab-background-2: linear-gradient(to bottom, #d3c58d, #957d49)
  --tab-color-2: #000
  --active-tab-color-2: #fff
  --tab-2-border-radius: 1px
  --tab-2-border: 0px
  --tab-live-color: #fff
  --tab-live-active-color: #fff
  --more-tabs-btn-bgr: #fff
  --more-tabs-btn-color: #000
  --more-tabs-btn-icon: url('~@/assets/images/icons/arrow_down_black.svg')
  --more-tabs-btn-icon-active: url('~@/assets/images/icons/arrow_up_black.svg')

  --sports-filter-icon-color: #000
  --sports-filter-tab-bgr: transparent
  --sports-filter-active-bgr: linear-gradient(to bottom, #d3c58d, #957d49)
  --sports-filter-active-color: #fff
  --sports-filter-active-icon-color: #fff
  --sports-filter-tab-border: 0px
  --sports-filter-active-tab-border: 0px
  --sports-filter-tab-border-radius: 1px

  --coupon-bgr: #f2f2f2
  --coupon-borders-color: #dbdbdb
  --coupon-header-border-color: 1px solid #dbdbdb
  --coupon-footer-border-color: 1px solid #dbdbdb
  --coupon-text-color: #000
  --coupon-pitcer-name-color: #000
  --coupon-header-background: #f2f2f2
  --coupon-header-icon: #000
  --coupon-header-color: #000
  --coupon-header-markets-color: #818181
  --coupon-header-markets-font-style: normal
  --coupon-header-markets-font-size: 11px
  --coupon-exp-panel-background: #f2f2f2
  --coupon-exp-panel-border: 1px solid #dbdbdb
  --coupon-exp-panel-color: #000
  --coupon-exp-panel-icon: #000
  --coupon-market-name-color: #000
  --event-market-header-icon-down url('~@/assets/images/icons/arrow_down_black.svg')
  --event-market-header-icon-up  url('~@/assets/images/icons/arrow_up_black.svg')
  --event-market-header-icon-available-for-bb  url('~@/assets/images/icons/available-for-bb_black.svg')
  --coupon-footer-time-color: #818181
  --coupon-footer-morewagers-color: #818181
  --coupon-footer-morewagers-icon: url('~@/assets/images/brands/generic/arrow_right_gold.svg')
  --coupon-live-match-results-color: #c50000

  --selection-wrapper: #fff 
  --selection-wrapper-active: linear-gradient(to bottom, #d3c58d, #957d49)
  --selection-wrapper-border:0px 
  --selection-wrapper-border-radius: 1px 
  --selection-price-color: #000
  --active-selection-price-color: #fff
  --selection-hcp-color: #d3c58d
  --active-selection-hcp-color: #fff

  --event-header-bgr: #000
  --event-header-color: #fff
  --event-header-margin-bottom: 0px
  --event-header-competition-bgr: linear-gradient(to bottom, #d3c58d, #957d49)
  --event-header-competition-color: #fff	
  --event-header-live-match-results-bgr: #f2f2f2
  --event-header-live-match-results-color: #c50000

  --search-accent-color: #d3c58d
  --search-input-field-focus-color: #d3c58d
  --search-competitiontitle-bgr: #000
  --search-competitiontitle-color: #fff
  --search-borders-color: #dbdbdb
  --search-backbtn-bgr: linear-gradient(to bottom, #d3c58d, #957d49)
  --search-backbtn-color: #fff
  --search-backbtn-icon: url("~@/assets/images/icons/arrow_left_white.svg")
  --search-tabs-bgr: #f2f2f2
  --search-tabs-color: #000

  --betslip-page-bgr: #fff
  --betslip-mobile-bgr: #000
  --betslip-holder-bgr: #f2f2f2
  --betslip-tab-bgr: #d1d1d1
  --betslip-tab-border: 1px solid #f2f2f2
  --betslip-tab-active-bgr: #f2f2f2
  --betslip-tab-color: #000
  --betslip-tab-active-color: #000

  --betslip-balance-label-color: #d3c58d
  --betslip-balance-value-color: #fff
  --betslip-close-icon: url('~@/assets/images/brands/generic/icon-close-grey.svg')
  --betslip-betplaced-close-icon: url('~@/assets/images/brands/generic/icon-close.svg')

  --betslip-historytab-bgr: #ebebeb
  --betslip-historytab-active-bgr: #d3c58d
  --betslip-historytab-color: #000
  --betslip-historytab-active-color: #fff	

  --betslip-header-bgr: #d3c58d
  --betslip-header-color: #000
  --betslip-selection-header-bgr: #000
  --betslip-selection-header-color: #fff
  --betslip-selection-header-event-color: #fff
  --betslip-selection-header-hcp-color: #d3c58d
  --betslip-selection-header-market-color: #fff
  --betslip-selection-header-icon: #d3c58d
  --betslip-selection-border: 0px
  --betslip-header-btn-bin-icon: url('~@/assets/images/brands/generic/bin_icon_white.svg')
  --betslip-teaser-rr-icon-color: #000
  --betslip-teaser-header-bgr: #000
  --betslip-teaser-header-color: #fff
  --betslip-teaser-options-bgr: #d1d1d1
  --betslip-teaser-options-color: #000
  --betslip-odds-price-bgr: linear-gradient(to bottom, #d3c58d, #957d49)
  --betslip-odds-price-color: #fff
  --betslip-odds-price-border: 0px
  --betslip-odds-price-border-radius: 1px
  --betslip-text-color: #000
  --betslip-selection-name-color: #000
  --moneyinput-bgr: #fff
  --moneyinput-color: #000
  --moneyinput-border-radius: 1px	
  --moneyinput-border: 1px solid #d3c58d
  --betslip-select-box-bgr: #fff
  --betslip-select-box-color: #000
  --betslip-select-box-border-radius: 1px	
  --betslip-select-box-border: 1px solid #d3c58d		  
  --betslip-betType-header-bgr: #000
  --betslip-betType-header-color: #fff
  --betslip-betType-header-accent-color: #d3c58d
  --betslip-button-primary-bgr: linear-gradient(to bottom, #d3c58d, #957d49)
  --betslip-button-primary-color: #fff
  --betslip-button-primary-accent-color: #000
  --betslip-button-secondary-bgr: transparent
  --betslip-button-secondary-color: #000
  --betslip-button-secondary-border: 2px solid #d3c58d
  --betslip-button-border-radius: 1px
  --icon-available-for-bb-betslip: url('~@/assets/images/icons/available-for-bb_black.svg')

  --betslip-interrelated-border-color:  #000
  --betslip-selection-closed-bgr:  #a7a7a7
  --betslip-selection-closed-color:  #fff
  --betslip-selection-suspended-bgr:  #a7a7a7
  --betslip-selection-suspended-color:  #fff

  --betslip-msg-info-bgr: #d1d1d1
  --betslip-msg-info-color: #000
  --betslip-hr-line: 1px solid #dbdbdb

  --betslip-msg-special-offers-badge-brg: #d3c58d
  --betslip-msg-special-offers-badge-color: #000
  --betslip-msg-special-offers-badge-insurance-brg: #ebebeb
  --betslip-msg-special-offers-badge-insurance-color: #0c121d
  --betslip-msg-special-offers-badge-bonus-brg: #d1d1d1
  --betslip-msg-special-offers-badge-bonus-color: #0c121d
  --betslip-msg-special-offers-parlyinsurance-border: solid 1px #d1d1d1
  --betslip-msg-special-offers-parlyinsurance-bgr: #d1d1d1
  --betslip-msg-special-offers-parlyinsurance-color: #000
  --betslip-msg-special-offers-parlyboost-border: solid 1px #fff
  --betslip-msg-special-offers-parlyboost-bgr: #fff
  --betslip-msg-special-offers-parlyboost-color: #000

  --bet-placed-color: #000
  --bet-placed-bgr: #d3c58d
  --bet-placed-msg-keep: #000

  --betslip-stakeall-input-bgr: #fff
  --betslip-stakeall-label-bgr: linear-gradient(to bottom, #d3c58d, #957d49)
  --betslip-stakeall-label-color: #fff
  --betslip-stakeall-input-border: 1px solid #d3c58d
  --betslip-stakeall-input-color: #000
  --betslip-stakeall-border-radius: 1px

  --betslip-footer-btn-color: #000
  --betslip-footer-btn-border: 0px
  --betslip-footer-btn-bgr: transparent
  --betslip-footer-btn-bin-icon: url('~@/assets/images/brands/generic/bin_icon_black.svg')

  --fast-betslip-border-color: transparent

  --betslip-selection-border-bottom-layout2: 1px solid #dbdbdb
  --betslip-selection-header-color-layout2: #000
  --betslip-header-btn-bin-icon-layout2: url('~@/assets/images/brands/generic/bin_icon_black.svg')
  --betslip-betType-header-accent-color-layout2: #d3c58d
  --betslip-backtobetslip-label-color-layout2: #000
  --betslip-odds-price-bgr-layout2: transparent
  --betslip-odds-price-padding-layout2: 0px
  --betslip-odds-price-color-layout2: #000
  --betslip-odds-price-border-layout2: 0px
  --betslip-odds-price-border-radius-layout2: 3px
  --betslip-bottom-tabs-bgr-layot2: transparent
  --betslip-bottom-tabs-color-layot2: #000
  --betslip-bottom-tabs-border-layot2: 1px solid #000
  --betslip-bottom-tabs-arrowup-layot2: url("~@/assets/images/brands/generic/arrow_up_black.svg") no-repeat center
  --betslip-bottom-tabs-arrowdown-layot2:url("~@/assets/images/brands/generic/arrow_down_black.svg") no-repeat center
  --betslip-bottom-tabs-arrowright-layot2: url("~@/assets/images/brands/generic/arrow_right_black.svg") no-repeat center

  --dialog-gc-msg-dwn-btn-bgr: #d3c58d
  --dialog-gc-msg-dwn-btn-color: #000

  --login-btn-bgr: transparent
  --login-btn-color: #d3c58d
  --login-btn-border-radius: 1px
  --login-btn-border: 2px solid #d3c58d
  --join-btn-bgr: transparent
  --join-btn-color: #fff
  --join-btn-border-radius: 1px
  --join-btn-border: 0px

  --login-dialog-bgr: #f2f2f2
  --login-dialog-header-bgr: #000
  --login-dialog-login-btn-bgr: linear-gradient(to bottom, #d3c58d, #957d49)
  --login-dialog-login-btn-color: #fff
  --login-dialog-login-btn-border: 0px
  --login-dialog-login-btn-border-radius: 1px
  --login-dialog-join-btn-bgr: transparent
  --login-dialog-join-btn-color: #000
  --login-dialog-join-btn-border: 2px solid #d3c58d
  --login-dialog-login-btn-bgr-disabled: linear-gradient(to bottom, #d3c58d, #957d49)
  --login-dialog-login-btn-bgr-disabled-opacity: 0.5
  --login-dialog-login-btn-color-disabled: #fff
  --login-dialog-login-btn-border-disabled: 0px
  --login-dialog-input-bgr: #fff
  --login-dialog-input-label-color: #c1c1c1
  --login-dialog-input-color: #000
  --login-dialog-input-border-radius: 1px
  --login-dialog-input-border-bottom-color: transparent
  --login-dialog-title-font-size: 14px
  --login-dialog-btn-font-size: 14px
  --login-dialog-text-color: #000
  --login-dialog-loader-color1: #999999
  --login-dialog-loader-color2: #d3c58d

  --login-with-faceid-bgr: transparent
  --login-with-faceid-color: #000
  --login-with-faceid-border: 5px solid #d3c58d
  --login-with-faceid-border-radius: 1px
  --login-with-faceid-switcher: #000
  --login-with-faceid-switcher-accent: #d3c58d

  --balance-color: #f1f1f1
  --addfunds-color: #f1f1f1
  --addfunds-icon-color: #000
  --addfunds-icon-bgr: #d3c58d
  --msg-center-icon: url('~@/assets/images/icons/messages-bell-white.svg')

  --msgcenter-item-bgr: #d3c58d
  --msgcenter-item-color: #000
  --msgcenter-item-icon: url('~@/assets/images/icons/icon-info-black.svg')
  --msgcenter-item-bgr-2: #d1d1d1
  --msgcenter-item-color-2: #000
  --msgcenter-item-icon-2: url('~@/assets/images/icons/icon-info-black.svg')

  --xtremepush-mail-icon: url('~@/assets/images/icons/icon-mail-white.svg')
  --xtremepush-badge-bgr: #fff
  --xtremepush-badge-color: #000
  --xtremepush-title-color: #000
  --xtremepush-text-color: #000
  --xtremepush-accent-color: #9B8450

  --account-pages-headings-color: #000
  --account-pages-text-color: #000
  --account-pages-btn-text-transform: none
  --account-pages-btn-border-radius: 1px
  --account-pages-primary-btn-border: 0px
  --account-pages-primary-btn-bgr: linear-gradient(to bottom, #d3c58d, #957d49)
  --account-pages-primary-btn-color: #fff
  --account-pages-secondary-btn-border: 2px solid #d3c58d
  --account-pages-secondary-btn-bgr: #fff
  --account-pages-secondary-btn-color: #000
  --account-pages-checkbox-color: #d3c58d
  --account-pages-label-focus-color: #d3c58d
  --account-pages-input-focus-color: #d3c58d
  --account-pages-loader: #999
  --account-pages-secondary-text: #d3c58d
  --account-pages-infomsg-bgr: #e5e5e5
  --account-pages-infomsg-color: #000

  --account-pages-datepicker-label-color: #000
  --account-pages-datepicker-accent-color: #d3c58d
  --account-pages-datepicker-border-color: #000

  --account-pages-table-headers-bgr: #000
  --account-pages-table-headers-color: #fff
  --account-pages-table-headers-accent-color: #d3c58d
  --account-summary-boxes-border: 1px solid #000
  --account-heading-bgr: #fff
  --account-heading-color: #000

  --account-details-bgr: #000
  --account-details-color: #fff
  --account-details-user-img: url('~@/assets/images/brands/generic/profile-white.svg')
  --account-details-bgr-mobile: #000
  --account-details-mobile-color: #fff
  --account-details-user-img-mobile: url('~@/assets/images/brands/generic/profile-white.svg')
  --account-details-border: 1px solid #d1d1d1
  --account-user-title-border: #fff
  --account-user-details-label-color: #fff
  --account-user-details-value-color: #d3c58d
  --account-details-border-radius: 1px 1px 0 0
  --account-buttons-border-radius: 0 0 1px 1px
  --account-details-balance-bgr: #d3c58d
  --account-details-balance-color: #000
  --account-details-label-balance-color: #000
  --account-balance-margin: 20px 10px 0 10px
  --account-balance-margin-desktop: 45px -12px 0 -12px
  --account-details-buttons-bgr: #000
  --account-details-btn-border-radius: 2px
  --account-details-btn-deposit-border: 2px solid #d3c58d
  --account-details-btn-deposit-bgr: transparent
  --account-details-btn-deposit-color: #d3c58d
  --account-details-btn-withdraw-border: 2px solid #d3c58d
  --account-details-btn-withdraw-bgr: transparent
  --account-details-btn-withdraw-color: #d3c58d 

  --account-btn-icon-correction: url('~@/assets/images/icons/reg_ver_correction_black.svg') 
  --account-btn-icon-driver-licence: url('~@/assets/images/icons/reg_driver_license_black.svg')

  --account-links-bgr: #f2f2f2
  --account-links-color: #000
  --account-links-border: 1px solid #dbdbdb
  --account-links-border-radius: 1px

  --bethistory-tab-bgr: #fff
  --bethistory-tab-border: 2px solid #d3c58d
  --bethistory-tab-color: #000
  --bethistory-active-tab-bgr: #d3c58d
  --bethistory-active-tab-border: 0px
  --bethistory-active-tab-color: #fff
  --bethistory-bet-header-bgr: #000
  --bethistory-bet-header-color: #fff
  --bethistory-block-border-color: #000
  --bethistory-bethead-border-color: #000
  --bet-history-sporticon-color: #000
  --bet-history-betrefs-color: #d3c58d
  --bet-history-accent-color: #d3c58d
  --bet-history-buyback-btn-bgr: #3fc369
  --bet-history-buyback-btn-color: #000
  --bet-history-betresult-bgr: #d3c58d
  --bet-history-betresult-color: #000

  --icon-acc-summary: url("~@/assets/images/brands/generic-aotw/accounting/summary.svg")
  --icon-acc-settings: url("~@/assets/images/brands/generic-aotw/accounting/settings.svg")
  --icon-acc-rg: url("~@/assets/images/brands/generic-aotw/accounting/rg-logo.svg")
  --icon-acc-rg-stop: url("~@/assets/images/brands/generic-aotw/accounting/responsible_gaming.svg")
  --icon-active-bets: url("~@/assets/images/brands/generic-aotw/accounting/active_bets.svg")
  --icon-settled-bets: url("~@/assets/images/brands/generic-aotw/accounting/settled_bets.svg")
  --icon-tx-history: url("~@/assets/images/brands/generic-aotw/accounting/tx_history.svg")
  --icon-w2g: url("~@/assets/images/brands/generic-aotw/accounting/w2g.svg")
  --icon-acc-logout: url("~@/assets/images/brands/generic-aotw/accounting/logout.svg")
  --icon-acc-close: url("~@/assets/images/brands/generic-aotw/accounting/close_account.svg")
  --icon-acc-promos: url("~@/assets/images/brands/generic/promo-black.svg")

  --promotions-item-bgr: #d3c58d
  --promotions-item-color: #000
  --promotions-item-icon: url('~@/assets/images/brands/generic/promo-black.svg')
  --promotions-item-icon-arrow: url('~@/assets/images/brands/generic/arrow_right_black.svg')
  --promotions-item-bgr2: #d1d1d1
  --promotions-item-color2: #000
  --promotions-item-icon2: url('~@/assets/images/brands/generic/promo-black.svg')
  --promotions-item-icon-arrow2: url('~@/assets/images/brands/generic/arrow_right_black.svg')

  --pnc-promos-dialog-icon: url('~@/assets/images/brands/generic-aotw/promo-gold.svg')
  --pnc-promos-dialog-bgr: #000
  --pnc-promos-primary-color: #d3c58d
  --pnc-promos-primary-button-bgr: linear-gradient(to bottom, #d3c58d, #957d49)
  --pnc-promos-available-header-bgr: #000

  --favorites-betslip-color: #000
  --favorites-betslip-accent-color: #818181
  --favorites-betslip-panel-border: 1px solid #e4e4e4
  --favorites-betslip-checkbox-color: #d3c58d
  --favorites-tabs-color: #000
  --favorites-tabs-color-active: #000
  --favorites-tabs-background: #f2f2f2
  --favorites-tabs-background-active: #fff
  --favorites-myevents-settings-icon: url("~@/assets/images/favorites/settings-gold.svg") 

  --secundary-banners-bgr-home #f2f2f2
  --headline-overlay-border-radius: 5px
  --headline-overlay-border: solid 3px #ABABAB
  --headline-tiles-background #f2f2f2
  --headline-coupon-item-background #191919
  --headline-coupon-color #fff
  --headline-coupon-carousel-btn-bgr #fff
  --headline-coupon-carousel-btn-color #d3c58d
  --headline-coupon-carousel-btn-border 1px solid #CBCFD9
  --headline-coupon-header-border: solid 1px #f2f2f2
  --headline-coupon-livebox-color #fff
  --headline-coupon-livebox-bgr #c50000
  --headline-coupon-livebox-border-radius 3px
  --headline-coupon-icon-color #d3c58d
  --headline-coupon-icon-opacity 0.3
  --headline-coupon-event-title-color #fff
  --headline-coupon-participant-color #fff
  --headline-coupon-pitcher-color #b1b1b1
  --headline-coupon-selection-wrapper-border 0px
  --headline-coupon-selection-wrapper-background #fff
  --headline-coupon-selection-wrapper-background-active linear-gradient(to bottom, #d3c58d, #957d49)
  --headline-coupon-selection-wrapper-color #000
  --headline-coupon-selection-wrapper-color-active #fff

