.rilot
  --bgr-color: url("~@/assets/images/brands/generic-rilot/ri_bg.png") repeat
  --bgr-size: auto
  --mobile-bgr-color: #fcfcfc
  --mobile-header-bgr: #1B2C56
  --header-text-color-mobile: #fff
  --header-bgr: #1B2C56
  --header-text-color: #fff
  --scrolled-header-bgr: #1B2C56
  --footer-bgr: #fcfcfc
  --footer-bgr-fixed-betslip: #fcfcfc
  --footer-border-top-fixed-betslip: 1px solid #f1f1f1
  --footer-text-color: #1B2C56
  --footer-mobile-bgr: #fcfcfc
  --app-wrap-content-bgr: #fcfcfc
  --text-color: #1B2C56
  --accent-color: #af010c
  --backtotop-bgr: #af010c
  --backtotop-color: #fff

  --logo-max-height: 80px
  --logo-max-width: 300px
  --logo-max-height-mobile: 50px
  --logo-max-width-mobile: 160px
  --logo-margin-top: 5px
  --logo-holder-width: 300px

  --bo-nav-headline-color: #fff
  --bo-nav-headline-bgr: #1B2C56

  --nav-title-color: #1B2C56
  --nav-title-border: 0px
  --nav-title-font: 'Open Sans Bold'
  --nav-title-font-size: 16px
  --side-nav-font:  'Open Sans SemiBold'
  --side-nav-color: #1B2C56
  --side-nav-icon-color: #1B2C56
  --side-nav-color-active: #af010c
  --main-nav-color: #fff
  --main-nav-icon-color: #fff
  --main-nav-color-active: #fff
  --main-nav-border-color-active: #e7212d
  --nav-icon-live: #af010c

  --dialog-sports-menu-bgr: #1b2c56 url('~@/assets/images/brands/generic-rilot/allsports_bck.png') no-repeat right top/contain
  --dialog-sports-nav-title-color: #c2c1c1
  --dialog-sports-nav-title-border: 0px
  --dialog-sports-main-nav-color: #fff
  --dialog-sports-nav-title-font-size: 18px
  --dialog-sports-nav-title-font: 'Open Sans Bold'
  --dialog-sports-main-nav-icon-color: #fff
  --dialog-sports-main-nav-color-active: #af010c
  --dialog-sports-main-nav-icon-close: url('~@/assets/images/brands/generic/icon-close-grey.svg')
  --dialog-geolocation-text-color: #1b2c56

  --islive-icon: url('~@/assets/images/brands/generic-rilot/icon-live-red.svg')
  --islive-color: #af010c

  --badge-bgr: #af010c
  --badge-color: #fff
  --badge-border: 0px
  --badge-tab-bgr: #fff
  --badge-tab-color: #1B2C56
  --badge-tab-border: 0px
  --badge-bgr-mobile: #af010c
  --badge-color-mobile: #fff
  --badge-border-mobile: 0px
  --badge-bgr-mobile-active #af010c
  --badge-color-mobile-active #fff
  --badge-border-mobile-active 0px

  --popular-menu-mobile-bgr: #1B2C56
  --popular-menu-mobile-icon-color: #fff
  --popular-menu-mobile-text-color: #fff

  --bottom-nav-bgr:  #1b2c56
  --bottom-nav-border-top: 0px
  --bottom-nav-bgr-active:  #1b2c56
  --bottom-nav-text-color: #fff
  --bottom-nav-btn-border-right: 0px
  --bottom-nav-text-color-active: #fff
  --bottom-nav-icon-profile-active: url('~@/assets/images/brands/generic/profile-darkblue.svg')
  --bottom-nav-icon-promo-active: url('~@/assets/images/brands/generic/promo-darkblue.svg')
  --bottom-nav-icon-betslip-active: url('~@/assets/images/brands/generic/betslip-darkblue.svg')
  --bottom-nav-icon-allsports-active: url('~@/assets/images/brands/generic/allsports-darkblue.svg')
  --bottom-nav-icon-home-active: url('~@/assets/images/brands/generic/home-darkblue.svg')
  --bottom-nav-icon-home: url('~@/assets/images/brands/generic/home-white.svg')
  --bottom-nav-icon-allsports: url('~@/assets/images/brands/generic/allsports-white.svg')
  --bottom-nav-icon-betslip: url('~@/assets/images/brands/generic/betslip-white.svg')
  --bottom-nav-icon-promo: url('~@/assets/images/brands/generic/promo-white.svg')
  --bottom-nav-icon-profile: url('~@/assets/images/brands/generic/profile-white.svg')
  --bottom-nav-icon-info: url('~@/assets/images/brands/generic/info-white.svg')
  --bottom-nav-icon-info-active: url('~@/assets/images/brands/generic/info-darkblue.svg')

  --tab-background : #f1f1f1
  --active-tab-background: #f1f1f1
  --tab-color: #1b2c56
  --active-tab-color: #1b2c56
  --active-tab-border-bottom: 2px solid #af010c
  --tab-border-top: 0px
  --tab-background-2 : #fff
  --active-tab-background-2:#fff
  --tab-color-2: #1b2c56
  --active-tab-color-2: #af010c
  --tab-2-border-radius: 0px
  --tab-2-border: 0px
  --tab-live-color: #1b2c56
  --tab-live-active-color: #1b2c56
  --more-tabs-btn-bgr: #1b2c56
  --more-tabs-btn-color: #fff
  --more-tabs-btn-icon: url('~@/assets/images/icons/arrow_down_white.svg')
  --more-tabs-btn-icon-active: url('~@/assets/images/icons/arrow_up_white.svg')

  --sports-filter-tab-min-width: 50px
  --sports-filter-icon-color: #1b2c56
  --sports-filter-tab-bgr: transparent
  --sports-filter-active-bgr: transparent
  --sports-filter-active-color: #af010c
  --sports-filter-active-icon-color: #af010c
  --sports-filter-tab-border: 0px
  --sports-filter-active-tab-border: 0px
  --sports-filter-tab-border-radius: 0px

  --coupon-bgr: transparent
  --coupon-borders-color: #cbcbcb
  --coupon-header-border-color: 2px dashed #cbcbcb
  --coupon-footer-border-color: 2px dashed #cbcbcb
  --coupon-text-color: #1b2c56
  --coupon-pitcer-name-color: #414141
  --coupon-header-background: transparent
  --coupon-header-icon: #1b2c56
  --coupon-header-color: #1b2c56
  --coupon-header-text-transform uppercase
  --coupon-header-markets-color: #414141
  --coupon-header-markets-font-style: normal
  --coupon-header-markets-font-size: 11px
  --coupon-exp-panel-background: transparent
  --coupon-exp-panel-border-width:  0px 0px 2px 0px
  --coupon-exp-panel-border-style: dashed
  --coupon-exp-panel-border-color: #cbcbcb
  --coupon-exp-panel-color: #1b2c56
  --coupon-exp-panel-icon: #1b2c56
  --coupon-market-name-color: #1b2c56
  --event-market-header-icon-down url('~@/assets/images/icons/arrow_down.svg')
  --event-market-header-icon-up  url('~@/assets/images/icons/arrow_up.svg')
  --event-market-header-icon-available-for-bb  url('~@/assets/images/icons/available-for-bb_blue.svg')
  --coupon-footer-time-color: #414141
  --coupon-footer-time-font: 'Open Sans Regular'
  --coupon-footer-morewagers-color: #1b2c56
  --coupon-footer-morewagers-icon: url('~@/assets/images/brands/generic/arrow_right_red.svg')
  --coupon-live-match-results-color: #af010c

  --selection-wrapper: #f5f5f5 
  --selection-wrapper-active: #1b2c56
  --selection-wrapper-border-active:0px
  --selection-wrapper-border:1px solid #cbcbcb
  --selection-wrapper-border-radius: 2px 
  --selection-price-color: #1b2c56
  --selection-price-font: 'Open Sans Bold'
  --selection-price-font-size-big: 12px
  --selection-price-font-size-small: 12px
  --active-selection-price-color: #fff
  --selection-hcp-color: #1b2c56
  --selection-hcp-font: 'Open Sans Regular'
  --selection-hcp-font-size-small: 12px
  --selection-hcp-font-size-big: 12px
  --active-selection-hcp-color: #fff

  --event-header-bgr: #fcfcfc
  --event-header-color: #1b2c56
  --event-header-margin-bottom: 0px
  --event-header-competition-bgr: #fcfcfc
  --event-header-competition-color: #1b2c56	
  --event-header-live-match-results-bgr: transparent
  --event-header-live-match-results-color: #af010c

  --search-accent-color: #af010c
  --search-input-field-focus-color: #1B2C56
  --search-competitiontitle-bgr: #fff
  --search-competitiontitle-color: #1B2C56
  --search-competitiontitle-border-bottom: 5px solid #071433
  --search-sportstitle-border-bottom: 2px dashed #cbcbcb
  --search-borders-color: #cbcbcb
  --search-backbtn-bgr: #af010c
  --search-backbtn-color: #fff
  --search-backbtn-icon: url("~@/assets/images/icons/arrow_left_white.svg")
  --search-tabs-bgr: #f1f1f1
  --search-tabs-color: #1B2C56

  --betslip-page-bgr: #fff
  --betslip-mobile-bgr: #fcfcfc
  --betslip-holder-bgr: #fff
  --betslip-tab-bgr: #f1f1f1
  --betslip-tab-border: 0px
  --betslip-tab-active-bgr: #f1f1f1
  --betslip-tab-color: #1b2c56
  --betslip-tab-active-color: #1b2c56
  --betslip-tab-active-border: 3px solid #af010c

  --betslip-mobile-preheader-bgr: #1b2c56
  --betslip-balance-label-color: #e9eaee
  --betslip-balance-value-color: #fff
  --betslip-close-icon: url('~@/assets/images/brands/generic/icon-close.svg')
  --betslip-betplaced-close-icon: url('~@/assets/images/brands/generic/icon-close.svg')

  --betslip-historytab-bgr: #f1f1f1
  --betslip-historytab-active-bgr: #f1f1f1
  --betslip-historytab-color: #1b2c56
  --betslip-historytab-active-color: #1b2c56	

  --betslip-header-bgr: #f1f1f1
  --betslip-header-color: #1b2c56
  --betslip-selection-header-bgr: #1b2c56
  --betslip-selection-header-color: #fff
  --betslip-selection-header-event-color: #fff
  --betslip-selection-header-hcp-color: #fff
  --betslip-selection-header-market-color: #fff
  --betslip-selection-header-icon: #fff
  --betslip-selection-border: 0px
  --betslip-header-btn-bin-icon: url('~@/assets/images/brands/generic/bin_icon_white.svg')
  --betslip-teaser-rr-icon-color: #1b2c56
  --betslip-teaser-header-bgr: #1b2c56
  --betslip-teaser-header-color: #fff
  --betslip-teaser-options-bgr: #fff
  --betslip-teaser-options-color: #0071b2
  --betslip-odds-price-bgr: #0071b2
  --betslip-odds-price-color: #fff
  --betslip-odds-price-border: 0px
  --betslip-odds-price-border-radius: 3px
  --betslip-text-color: #1b2c56
  --betslip-selection-name-color: #1b2c56
  --moneyinput-bgr: #fff
  --moneyinput-color: #1b2c56
  --moneyinput-border-radius: 3px	
  --moneyinput-border: 1px solid #cbcbcb  
  --betslip-select-box-bgr: #fff
  --betslip-select-box-color: #1b2c56
  --betslip-select-box-border-radius: 3px	
  --betslip-select-box-border: 1px solid #cbcbcb 		  
  --betslip-betType-header-bgr: #1b2c56
  --betslip-betType-header-color: #fff
  --betslip-betType-header-accent-color: #fff
  --betslip-button-primary-bgr: linear-gradient(to bottom, #af010c, #580106)
  --betslip-button-primary-color: #fff
  --betslip-button-primary-accent-color: #fff
  --betslip-button-secondary-bgr: transparent
  --betslip-button-secondary-color: #1b2c56
  --betslip-button-secondary-border: 2px solid #1b2c56
  --betslip-button-border-radius: 3px
  --icon-available-for-bb-betslip: url('~@/assets/images/icons/available-for-bb_blue.svg')

  --betslip-interrelated-border-color:  #1b2c56
  --betslip-selection-closed-bgr:  #cbcbcb
  --betslip-selection-closed-color:  #1b2c56
  --betslip-selection-suspended-bgr:  #cbcbcb
  --betslip-selection-suspended-color:  #1b2c56

  --betslip-msg-info-bgr: #0071b2
  --betslip-msg-info-color: #fff
  --betslip-hr-line: 1px solid #f1f1f1

  --betslip-msg-special-offers-badge-brg: #0071b2
  --betslip-msg-special-offers-badge-color: #fff
  --betslip-msg-special-offers-badge-insurance-brg: #1b2c56
  --betslip-msg-special-offers-badge-insurance-color: #fff
  --betslip-msg-special-offers-badge-bonus-brg: #f1f1f1
  --betslip-msg-special-offers-badge-bonus-color: #1b2c56
  --betslip-msg-special-offers-parlyinsurance-border: 0px
  --betslip-msg-special-offers-parlyinsurance-bgr: #f1f1f1
  --betslip-msg-special-offers-parlyinsurance-color: #1b2c56
  --betslip-msg-special-offers-parlyboost-border: 0px
  --betslip-msg-special-offers-parlyboost-bgr: #f0f6ff
  --betslip-msg-special-offers-parlyboost-color: #1b2c56

  --bet-placed-color: #0071b2
  --bet-placed-bgr: #fff
  --bet-placed-msg-keep: #0071b2

  --betslip-stakeall-input-bgr: #fff
  --betslip-stakeall-label-bgr: #0071b2
  --betslip-stakeall-label-color: #fff
  --betslip-stakeall-input-border: 1px solid #0071b2
  --betslip-stakeall-input-color: #1b2c56
  --betslip-stakeall-border-radius: 3px

  --betslip-footer-btn-color: #1b2c56
  --betslip-footer-btn-border: 0px
  --betslip-footer-btn-bgr: transparent
  --betslip-footer-btn-bin-icon: url('~@/assets/images/brands/generic/bin_icon_red.svg')

  --fast-betslip-border-color: #304C60

  --betslip-selection-border-bottom-layout2: 2px dashed #cbcbcb
  --betslip-selection-header-color-layout2: #1b2c56
  --betslip-header-btn-bin-icon-layout2: url('~@/assets/images/brands/generic/bin_icon_red.svg')
  --betslip-betType-header-accent-color-layout2: #0071b2
  --betslip-backtobetslip-label-color-layout2: #0071b2
  --betslip-odds-price-bgr-layout2: transparent
  --betslip-odds-price-padding-layout2: 0px
  --betslip-odds-price-color-layout2: #1b2c56
  --betslip-odds-price-border-layout2: 0px
  --betslip-odds-price-border-radius-layout2: 3px
  --betslip-bottom-tabs-bgr-layot2: #fff
  --betslip-bottom-tabs-color-layot2: #0071b2
  --betslip-bottom-tabs-border-layot2: 1px solid #0071b2
  --betslip-bottom-tabs-arrowup-layot2: url("~@/assets/images/brands/generic-rilot/arrow_up_darkblue.svg") no-repeat center
  --betslip-bottom-tabs-arrowdown-layot2:url("~@/assets/images/brands/generic-rilot/arrow_down_darkblue.svg") no-repeat center
  --betslip-bottom-tabs-arrowright-layot2: url("~@/assets/images/brands/generic-rilot/arrow_right_darkblue.svg") no-repeat center

  --dialog-gc-msg-dwn-btn-bgr: #1b2c56
  --dialog-gc-msg-dwn-btn-color: #fff

  --login-btn-bgr: #af010c
  --login-btn-color: #fff
  --login-btn-border-radius: 3px
  --login-btn-border: 0px
  --join-btn-bgr: transparent
  --join-btn-color: #fff
  --join-btn-border-radius: 3px
  --join-btn-border: 1px solid #fff

  --login-dialog-bgr: #fcfcfc
  --login-dialog-header-bgr: #1B2C56
  --login-dialog-login-btn-bgr: #af010c
  --login-dialog-login-btn-color: #fff
  --login-dialog-login-btn-border: 0px
  --login-dialog-login-btn-border-radius: 3px
  --login-dialog-join-btn-bgr: #1B2C56
  --login-dialog-join-btn-color: #fff
  --login-dialog-join-btn-border: 0px
  --login-dialog-login-btn-bgr-disabled: #af010c
  --login-dialog-login-btn-bgr-disabled-opacity: 1
  --login-dialog-login-btn-color-disabled: #fff
  --login-dialog-login-btn-border-disabled: 0px
  --login-dialog-input-bgr: #fff
  --login-dialog-input-label-color: #8f8f8f
  --login-dialog-input-color: #1B2C56
  --login-dialog-input-border-radius: 3px
  --login-dialog-input-border-bottom-color #cacbcc
  --login-dialog-input-border-color: #cacbcc
  --login-dialog-input-border-width: 1px
  --login-dialog-input-border-style: solid
  --login-dialog-title-font-size: 14px
  --login-dialog-btn-font-size: 16px
  --login-dialog-text-color: #1B2C56
  --login-dialog-loader-color1: #1B2C56
  --login-dialog-loader-color2: #CFD6DB

  --login-with-faceid-bgr: #fff
  --login-with-faceid-color: #af010c
  --login-with-faceid-border: 1px solid #af010c
  --login-with-faceid-border-radius: 2px
  --login-with-faceid-switcher: #8f8f8f
  --login-with-faceid-switcher-accent: #0071b2

  --balance-color: #f1f1f1
  --addfunds-color: #f1f1f1
  --addfunds-icon-color: #fff
  --addfunds-icon-bgr: #0071b2
  --msg-center-icon: url('~@/assets/images/icons/messages-bell-white.svg')

  --msgcenter-item-bgr: #0071b2
  --msgcenter-item-color: #fff
  --msgcenter-item-icon: url('~@/assets/images/icons/icon-info-white.svg')
  --msgcenter-item-bgr-2: #f5f5f5
  --msgcenter-item-color-2: #1B2C56
  --msgcenter-item-icon-2: url('~@/assets/images/icons/icon-info-black.svg')

  --xtremepush-mail-icon: url('~@/assets/images/icons/icon-mail-white.svg')
  --xtremepush-badge-bgr: #af010c
  --xtremepush-badge-color: #fff
  --xtremepush-title-color: #1b2c56
  --xtremepush-text-color: #1b2c56
  --xtremepush-accent-color: #0071b2

  --account-pages-headings-color: #1b2c56
  --account-pages-text-color: #1b2c56
  --account-pages-btn-text-transform: none
  --account-pages-btn-border-radius: 3px
  --account-pages-primary-btn-border: 0px
  --account-pages-primary-btn-bgr: #af010c
  --account-pages-primary-btn-color: #fff
  --account-pages-secondary-btn-border: 2px solid #af010c
  --account-pages-secondary-btn-bgr: #fff
  --account-pages-secondary-btn-color: #1b2c56
  --account-pages-checkbox-color: #0c121d
  --account-pages-label-focus-color: #1b2c56
  --account-pages-input-focus-color: #1b2c56
  --account-pages-loader: #1b2c56
  --account-pages-secondary-text: #af010c
  --account-pages-infomsg-bgr: #0071b2
  --account-pages-infomsg-color: #fff

  --account-pages-datepicker-label-color: #1b2c56
  --account-pages-datepicker-accent-color: #0071b2
  --account-pages-datepicker-border-color: #1b2c56

  --account-pages-table-headers-bgr: #1B2C56
  --account-pages-table-headers-color: #fff
  --account-pages-table-headers-accent-color: #fff
  --account-summary-boxes-border: 1px solid #1B2C56
  --account-heading-bgr: #fff
  --account-heading-color: #1B2C56

  --account-dialog-bgr: #fcfcfc
  --account-details-bgr: #1B2C56
  --account-details-color: #fff
  --account-details-user-img: url('~@/assets/images/brands/generic/profile-white.svg')
  --account-details-bgr-mobile: #1B2C56
  --account-details-mobile-color: #fff
  --account-details-user-img-mobile: url('~@/assets/images/brands/generic/profile-white.svg')
  --account-details-border: 1px solid #485677
  --account-user-title-border: #485677
  --account-user-details-label-color: #fff
  --account-user-details-value-color: #fff
  --account-details-border-radius: 2px 2px 0 0
  --account-buttons-border-radius: 0 0 2px 2px
  --account-details-balance-bgr: #485677
  --account-details-balance-color: #fff
  --account-details-label-balance-color: #fff
  --account-balance-margin: 20px 12px 0 12px
  --account-balance-margin-desktop: 45px 0px 0 0px
  --account-details-buttons-margin-desktop:  0 0px 0 0px
  --account-buttons-margin 0 12px
  --account-details-buttons-bgr: #485677
  --account-details-btn-border-radius: 3px
  --account-details-btn-deposit-border: 0px
  --account-details-btn-deposit-bgr: #af010c
  --account-details-btn-deposit-color: #fff
  --account-details-btn-withdraw-border: 2px solid #9a9a9a
  --account-details-btn-withdraw-bgr: transparent
  --account-details-btn-withdraw-color: #fff 

  --account-btn-icon-copy: url('~@/assets/images/icons/copy-white.svg')
  --account-btn-icon-correction: url('~@/assets/images/icons/reg_ver_correction_darkblue.svg')
  --account-btn-icon-driver-licence: url('~@/assets/images/icons/reg_driver_license_darkblue.svg')

  --account-links-bgr: #fff
  --account-links-color: #1B2C56
  --account-links-border: 1px solid #cbcbcb
  --account-links-border-radius: 0px

  --bethistory-tab-bgr: #fff
  --bethistory-tab-border: 1px solid #0071b2
  --bethistory-tab-color: #0071b2
  --bethistory-active-tab-bgr: #0071b2
  --bethistory-active-tab-border: 0px
  --bethistory-active-tab-color: #fff
  --bethistory-bet-header-bgr: #fff
  --bethistory-bet-header-color: #1B2C56
  --bethistory-block-border-color: #cbcbcb
  --bethistory-bethead-border-color: #cbcbcb
  --bet-history-sporticon-color: #1B2C56
  --bet-history-betrefs-color: #0071b2
  --bet-history-accent-color: #0071b2
  --bet-history-buyback-btn-bgr: #32D74B
  --bet-history-buyback-btn-color: #000
  --bet-history-betresult-bgr: #0071b2
  --bet-history-betresult-color: #fff

  --icon-acc-summary: url("~@/assets/images/brands/generic-rilot/accounting/summary.svg")
  --icon-acc-settings: url("~@/assets/images/brands/generic-rilot/accounting/settings.svg")
  --icon-acc-rg: url("~@/assets/images/brands/generic-rilot/accounting/rg-logo.svg")
  --icon-acc-rg-stop: url("~@/assets/images/brands/generic-rilot/accounting/responsible_gaming.svg")
  --icon-active-bets: url("~@/assets/images/brands/generic-rilot/accounting/active_bets.svg")
  --icon-settled-bets: url("~@/assets/images/brands/generic-rilot/accounting/settled_bets.svg")
  --icon-tx-history: url("~@/assets/images/brands/generic-rilot/accounting/tx_history.svg")
  --icon-w2g: url("~@/assets/images/brands/generic-rilot/accounting/w2g.svg")
  --icon-acc-logout: url("~@/assets/images/brands/generic-rilot/accounting/logout.svg")
  --icon-acc-close: url("~@/assets/images/brands/generic-rilot/accounting/close_account.svg")
  --icon-acc-raf: url("~@/assets/images/brands/generic-rilot/accounting/raf.svg")
  --icon-acc-verification: url("~@/assets/images/brands/generic-rilot/accounting/verification.svg")
  --icon-acc-zinrelo: url("~@/assets/images/brands/generic-rilot/accounting/zinrelo.svg")
  --icon-acc-promos: url("~@/assets/images/brands/generic-rilot/accounting/promo.svg")

  --promotions-item-bgr: #0071b2
  --promotions-item-color: #fff
  --promotions-item-icon: url('~@/assets/images/brands/generic/promo-white.svg')
  --promotions-item-icon-arrow: url('~@/assets/images/brands/generic/arrow_right_white.svg')
  --promotions-item-bgr2: #1B2C56
  --promotions-item-color2: #fff
  --promotions-item-icon2: url('~@/assets/images/brands/generic/promo-white.svg')
  --promotions-item-icon-arrow2: url('~@/assets/images/brands/generic/arrow_right_white.svg')

  --pnc-promos-dialog-icon: url('~@/assets/images/brands/generic-rilot/accounting/promo.svg')
  --pnc-promos-dialog-bgr: #1B2C56
  --pnc-promos-primary-color: #0071b2
  --pnc-promos-primary-button-bgr: #0071b2
  --pnc-promos-available-header-bgr: #0071b2

  --favorites-betslip-color: #1B2C56
  --favorites-betslip-accent-color: #0071b2
  --favorites-betslip-panel-border: 1px solid #e4e4e4
  --favorites-betslip-checkbox-color: #0071b2
  --favorites-tabs-color: #1B2C56
  --favorites-tabs-color-active: #1B2C56
  --favorites-tabs-background: #f2f2f2
  --favorites-tabs-background-active: #fff
  --favorites-myevents-settings-icon: url("~@/assets/images/favorites/settings-white.svg") 

  --secundary-banners-bgr-home #fff
  --headline-overlay-border-radius: 5px
  --headline-overlay-border: solid 3px #ABABAB
  --headline-tiles-background #fff
  --headline-coupon-item-background #1b2c56
  --headline-coupon-color #fff
  --headline-coupon-carousel-btn-bgr #fff
  --headline-coupon-carousel-btn-color #af010c
  --headline-coupon-carousel-btn-border 1px solid #CBCFD9
  --headline-coupon-header-border: dashed 1px #f2f2f2
  --headline-coupon-livebox-color #fff
  --headline-coupon-livebox-bgr #af010c
  --headline-coupon-livebox-border-radius 3px
  --headline-coupon-icon-color #fff
  --headline-coupon-icon-opacity 0.08
  --headline-coupon-event-title-color #fff
  --headline-coupon-participant-color #fff
  --headline-coupon-pitcher-color #b1b1b1
  --headline-coupon-selection-wrapper-border 1px solid #f2f2f2
  --headline-coupon-selection-wrapper-background transparent
  --headline-coupon-selection-wrapper-background-active #fff
  --headline-coupon-selection-wrapper-color #fff
  --headline-coupon-selection-wrapper-color-active #1b2c56

  .onlyForRilot
    display block !important
  .padding-separate
    .verTitles .verTextContainer .title
      font-size 16px !important
    &.verified_customer
      .verTitles .verTextContainer .title
        display none
  .verification__instruments
    .vm_shortdesc
      display none
  header.header
    @media mobile-big-and-below
      min-height 64px
  .header_background .header_holder
    box-shadow none
  .header_separator
    height 1px
    width 90%
    background #34476d
    display block
    margin auto
  &.scrolled
    .header_separator
      display none
  .header_background
    background var(--header-bgr)
  .left-column
    padding-top 13px !important
    @media mobile-big-and-below
      padding-top 0px !important
  .center-column
    padding-top 13px !important
    padding-right 10px !important
    @media mobile-big-and-below
      padding-right 0px !important
      padding-top 0px !important
  .toggleBetslipColumn.postLoginAlertExist.betslip_layout2
    top 158px
  header.header .header-back-btn .icon
    color: transparent !important
    width: 15px
    height: 25px
    background: url("~@/assets/images/icons/arrow_left_white.svg") no-repeat center
    margin: 0 10px 0 15px
  .back-btn-wrapper
    margin-top: 15px
    padding-left: 10px
  .postLoginAlert-headlines
    background #0071b2 !important
  .dialog-login
    max-width 428px !important
  .application .login-component
    .v-input input:not([type='checkbox'])
      min-height 50px
    .v-btn
      height 50px !important
      font-family: 'Open sans SemiBold' !important
    .password
      padding-top 0
    .close .v-icon 
      background-image: url('~@/assets/images/brands/generic-rilot/icon-close-grey.svg') !important
    .login-header
      padding 20px 10px 20px 20px
      height 60px
      .flex.close
        margin 0
      .flex.logo img
        max-width 190px !important
    form 
      padding-top 10px !important
      .buttons
        margin 0 !important
        padding 0 !important
        .sb_buttons
          margin-top !important
      .forgotPass span
        margin: 25px 0 15px 0 !important
        font-family: "Open Sans Regular" !important
        font-size 14px
    .loginTitle
      font-family: "Open Sans Regular" !important
      margin-top 20px !important
  .search-component h2
    padding 10px 0
  .my-events-page .loading .dots-loader
    background transparent !important
  .dialogMyAccountDesktop
    background var(--account-dialog-bgr) !important
    .account_desktop
      background var(--account-dialog-bgr) !important
    .session_details
      padding-left 60px
  .dialog-myaccount .account_mobile
    background: var(--account-dialog-bgr) !important
    padding: 0
  .dialog-myaccount:not(.notLoggedIn)
  .dialogMyAccountDesktop
    .account_balance
      padding 20px 10px 0px 10px !important
      @media mobile-big-and-below
        padding 30px 10px 10px 12px !important 
    .buttons
      padding 0px 10px 10px 10px !important
    .balace_bonus
      .balance
        flex-direction: column
        align-items flex-start !important
        flex-basis: 50%
        margin-bottom 0
        .text
          opacity 0.8
        .value 
          font-size 20px !important
  .dialog-betslip .betslip-page.bet_placed_sucessfuly
    .betslip-page-header
      background #1B2C56 !important
      .your_receipt
        color #fff !important
  .betslip-column .toggleBetslipColumn
    top 123px
  .betslip-column .betslip-page 
    padding: 20px 5px 5px 5px
  &.scrolled .betslip-column .toggleBetslipColumn
    top: 110px !important
  /**** Coupons and event page ***/  
  .tabs_holder
    padding 0 !important
    .v-tabs__bar .v-tabs__div.tab
      margin 0 !important
  .application .tabs_holder .v-tabs__wrapper .v-tabs__container
    height 45px !important
  .tabs_holder .v-tabs__bar .v-tabs__div
    height 45px !important
  .eventmarketgroup .event-market-header .market-name
    border-width: 0 0 2px 0 !important
    border-style: dashed !important
    border-color: #cbcbcb !important
  .eventmarketgroup .markets .market.three-and-more-selections .selections-container .flex:not(.selection)
  .eventmarketgroup .markets .market.three-and-more-selections .selections-container .show-more-btn
  .eventmarketgroup .markets .market.three-and-more-selections .selections-container .flex
  .eventmarketgroup .markets .market .parent
    border 0px !important
  
  .eventmarketgroup .markets .market.two-selections .selections-in-columns .selections-container .selection
    margin-top 10px
    @media mobile-big-and-below
      margin-top 0px
  .eventmarketgroup
    .markets
      .market.three-and-more-selections
        .selections-container
          margin-top 10px
          @media mobile-big-and-below
            margin-top 0px
  .event_header 
    .parent 
      padding 0 !important
      .child-left
      .child-right 
        .team-title
          font-size: 16px !important
          font-weight: normal !important
          font-family: 'Open Sans SemiBold' !important
          margin-bottom: 0 !important
          line-height: 25px !important
          text-transform: none !important
          padding 0 !important
          @media mobile-big-and-below
            font-size: 14px !important
          .smaller
            // margin-top -10px
      .child-right
        .day 
        .time
          font-size: 16px !important
          font-weight: normal !important
          font-family: 'Open Sans SemiBold' !important
          @media mobile-big-and-below
            font-size: 14px !important
        .time
          color #0071b2 !important
        .score-title
          font-family 'Open Sans SemiBold' !important
        .result-title td
        .current-main-score
          font-size 14px
  .event_header
    padding: 20px 8px !important
    margin-bottom: 0px !important
    @media mobile-big-and-below
      padding: 15px !important
    .competition-live
      &.pre-match
      &.live-match
        justify-content: space-between !important
        margin-bottom: 0 !important
    .competition-name
      padding: 0px !important
      font-weight: normal !important
      font-family: 'Open Sans SemiBold'
      font-size: 16px !important
      color: #0071b2 !important
      text-transform: none !important
      @media mobile-big-and-below
        div
          font-size: 14px !important
  .event-page .event.pre-match
    .event_header 
      .event-info
        height: auto !important
        border-width: 2px 0 0px 0
        border-style: dashed
        border-color: #cbcbcb
        margin: 0 -8px 5px -8px !important
        padding: 10px 8px 0 8px !important
        .event-info
          border none
          padding 0 !important
          margin 0 !important
        @media mobile-big-and-below
          margin: 0 -15px 5px -15px !important
          padding: 10px 15px 0 15px !important
  .event-page .event.live-match
    .event-info
      height: auto !important
      margin: 0 -8px 5px -8px !important
      padding: 0px 8px 0 8px !important
      .event-info
        border none
        padding 0 !important
        margin 0 !important
      @media mobile-big-and-below
        margin: 0 -15px 5px -15px !important
        padding: 0px 15px 0 15px !important
    .live_header
      border-width: 0px 0 2px 0
      border-style: dashed
      border-color: #cbcbcb
      padding 5px 0
      justify-content: flex-end
      .time-period
        text-align: right
        margin-bottom: 0px
        font-size: 14px
        color: #0071b2
      .icon-live
        @media mobile-big-and-below
          display none
  /**** Coupons and event page END ***/ 
  .v-navigation-drawer
    &.dialog-menu.hamburger
      background-image none !important
  .v-bottom-nav
    .bottom_nav_text
      font-size 8px !important
      font-family 'Open Sans Regular'
      text-transform: uppercase
      padding-top: 4px !important
    .v-btn
      .btn-icon-container
        border-radius: 50%
        border: 1px solid #fff
        height: 40px !important
        width: 40px !important
        display: flex
        align-items: center
        justify-content: center
        .font-icon
          width 22px !important
          height 22px !important
    .v-btn.active
      .btn-icon-container
        background: #fff
  .account-info-widget-component
    .join-now 
      width 100px
      height 40px
      @media only screen and (max-width: 390px)
        width 80px
      @media only screen and (max-width: 350px)
        width 70px
        height 35px
    .login-info
      .v-btn
        width 100px
        height 40px
        min-width unset
        @media only screen and (max-width: 400px)
          width 80px
          .v-btn__content
            text-align center
            justify-content center
        @media only screen and (max-width: 350px)
          width 70px
          height 35px
          .v-btn__content
            text-align center
            justify-content center
  header.header .logo
    img
      @media mobile-big-and-below
        max-width: 200px !important
        padding 10px 0 0 2px
      @media only screen and (max-width: 420px)
        max-width 190px !important
        max-height unset
      @media only screen and (max-width: 410px)
        max-width 185px !important
        max-height unset
      @media only screen and (max-width: 360px)
        max-width 170px !important
        max-height unset
      @media only screen and (max-width: 350px)
        max-width 165px !important
        max-height unset
      @media only screen and (max-width: 330px)
        max-width 150px !important
        max-height unset
  .sc_header
    color #1b2c56 !important
    font-size 18px
    font-family 'Open Sans Bold'
    padding 0 16px
    line-height 48px
    display block !important
  .sc_links
    padding 0 !important
  &.url-faq .static-content.accpage
    @media mobile-big-and-below
      padding: 0 !important
      margin: 0
      width: 100%
      max-width: 100%
  .accpage.static-content 
    padding 20px 40px
  &.url-state-name-info
    .application--wrap.application--wrap
      @media mobile-big-and-below
        min-height: 0
  .accpage
    @media mobile-big-and-below
      max-width 100%
      margin-top 0
  .acc_summary_flow .expansion-container .playbalance .trading-balance-header
    border 1px solid var(--account-pages-table-headers-bgr) !important
  /// ****** FOOTER*****///
  footer
    display flex
    flex-direction column
    &.footer
      padding 0
    .ri-ocean-state
      width 100%
      margin 0
      background #fff
      padding 20px 0
      @media mobile-big-and-below
        padding 20px
      .footercontent
        display flex
        justify-content space-between
        align-items center
        color #1b2c56
        margin-bottom 20px
        @media mobile-big-and-below
          display block
          text-align center
          margin-bottom 15px 
        .col-left
          img
            max-width 100%
      .footer-bottom
        padding 0
    .igt_footer_nav
      background #f8f8f8
      ul
        display flex
        justify-content: space-around
        @media mobile-big-and-below
          display inline-block
        li
          padding 0 10px
          border-right 0px !important
          @media mobile-big-and-below
            display inline-block
          a
            color #1b2c56
            font-size 13px
            font-weight normal
            text-transform: none !important
            font-family 'Open Sans SemiBold'
            @media mobile-big-and-below
              font-size 12px
              font-weight normal
      .navigation-group .router-link-exact-active.router-link-active
         color #af010c !important
         text-decoration underline  !important
      .navigation
        @media mobile-big-and-below
          margin-bottom 0
          text-align center
    .footercontent
      max-width desktop-big-size
      margin 0 auto
    .footer-bottom
      padding 30px 0
      background: #fff
      @media mobile-big-and-below
        padding-bottom 0px !important
      .bottom-info
        background: #fff
        @media mobile-big-and-below
          padding-bottom: 0px
        .app-links
          display flex
          justify-content center
          .site-navigation
            padding 0
            .navigation
              .navigation-item
                @media mobile-big-and-below
                  margin 0px
                a.default
                  display block
                  width 145px
                  height 55px
                  cursor pointer
                  background-size 100%
                  background-position center
                  @media mobile-big-and-below
                    width 130px
                    height 47px
                  &.google-play-store
                    background-image url('/static/brand-img/generic-rilot/footer/app-logo/android.png')
                  &.apple-play-store
                    background-image url('/static/brand-img/generic-rilot/footer/app-logo/apple.png')
                span
                  display none
      .back-to-top
        @media mobile-big-and-below
          padding-bottom: 75px
    .footer-top
      display flex
      justify-content space-between
      width 100%
      background transparent
      padding-top 70px
      @media mobile-big-and-below
        padding-top 0
      .title
        margin-bottom 10px
        display block
        color #1b2c56 !important
        font-size 18px !important
        font-style normal
        font-weight normal
        font-family 'Open Sans Bold' !important
      .desc
        color #1b2c56 !important
      .footer-top-right
        display flex
        flex-direction row
        justify-content space-between
        color #1b2c56
        margin-right 20px
        flex 1
        @media mobile-big-and-below
          display block
          margin-right 15px
          padding-left 20px
        .site-navigation
          .navigation
            display flex
            flex-direction row
            justify-content flex-start
            @media mobile-big-and-below
              justify-content center
          .navigation-item
            margin-right 20px
        .partners
          h3
            margin-bottom 5px
            display block
            color #1b2c56 !important
            font-size 18px
            font-style normal
            font-family 'Open Sans Bold'
            padding-left: 0
          .site-navigation
            padding 0
            .navigation
              .navigation-item
                @media mobile-big-and-below
                  margin 0 10px
                .tiverton
                  display block
                  width 150px
                  height 87px
                  cursor pointer
                  background-image url('/static/brand-img/generic-rilot/footer/partners/logo-tiverton-casino.png')
                  background-size 100%
                  background-position center
                .twinriver
                  display block
                  width 150px
                  height 87px
                  cursor pointer
                  background-image url('/static/brand-img/generic-rilot/footer/partners/logo-twin-rivers.png')
                  background-size 100%
                  background-position center
                span
                  display none
          @media mobile-big-and-below
            margin-top 20px
            margin-bottom 20px
            display block
            text-align center
        .social_and_contact
          display flex
          flex-direction column
          @media mobile-big-and-below
            display block
            padding 20px 0
          .contact_us
            padding 10px 0
            @media mobile-big-and-below
              padding 0px
              text-align center
            .title
              &:after
                content ':'
                color #0071b2 !important
            a
              background #1b2c56
              border: 1px solid #1b2c56
              border-radius 3px
              color #ffffff !important
              padding 7px 15px
              margin 5px 10px 5px 0
              text-decoration none
              font-weight normal
              font-family 'Open Sans Bold'
              display inline-block
              font-style normal
              font-size 14px
              width auto
              max-width 200px
              min-width 130px
              text-align center
              &:hover
                opacity 0.8
              @media mobile-big-and-below
                margin 5px 0 0 0 !important
          .social-icons
            margin 0
            @media mobile-big-and-below
              text-align center
            .site-navigation
              padding 0
      .footer-top-left
        flex 1 !important
        @media mobile-big-and-below
          padding-right 15px
          flex-direction: column
        .company-pr
          padding 0 15px
          @media mobile-big-and-below
            margin-top 20px
            display block
            text-align center
          a
            color #1b2c56
            max-width 200px
            min-width 130px
            border-radius 3px
            border 1px solid #1b2c56
            padding 7px 10px
            text-decoration none
            font-weight normal
            font-family 'Open Sans Bold'
            display inline-block
            font-size 14px
            margin-left 20px
            text-align center
            @media mobile-big-and-below
              margin-top 15px
              margin-left 0
              text-align center
              display inline-block
          .link
            display flex
            align-items center
            justify-content flex-start
            margin-top 20px
            @media mobile-big-and-below
              justify-content center
              flex-direction: column
              text-align center

