.coyotes
  --bgr-color: linear-gradient(to bottom, #273c4B, #0B111C) 
  --mobile-bgr-color: #263c4a
  --mobile-header-bgr: #263c4a
  --header-text-color-mobile: #fff
  --header-bgr: transparent
  --header-text-color: #fff
  --scrolled-header-bgr: #0B111C
  --footer-bgr: transparent
  --footer-bgr-fixed-betslip: #0B111C
  --footer-border-top-fixed-betslip: 0px
  --footer-text-color: #fff
  --footer-mobile-bgr: #263c4a
  --app-wrap-content-bgr: #0c121d
  --text-color: #000
  --accent-color: #FF8C03
  --backtotop-bgr: #FF8C03
  --backtotop-color: #000

  --logo-max-height: 55px
  --logo-max-width: 160px
  --logo-max-height-mobile: 50px
  --logo-max-width-mobile: 160px
  --logo-margin-top: 5px
  --logo-holder-width: 190px

  --bo-nav-headline-color: #fff
  --bo-nav-headline-bgr: #304c60

  --nav-title-color: #50D0FF
  --nav-title-border: 0px
  --side-nav-color: #fff
  --side-nav-icon-color: #fff
  --side-nav-color-active: #FF8C03
  --main-nav-color: #fff
  --main-nav-icon-color: #fff
  --main-nav-color-active: #FF8C03
  --main-nav-border-color-active: #fff
  --nav-icon-live: #FF8C03

  --dialog-sports-menu-bgr: #263c4a
  --dialog-sports-nav-title-color: #50D0FF
  --dialog-sports-nav-title-border: 0px
  --dialog-sports-main-nav-color: #fff
  --dialog-sports-main-nav-icon-color: #fff
  --dialog-sports-main-nav-color-active: #FF8C03
  --dialog-sports-main-nav-icon-close: url('~@/assets/images/brands/generic/icon-close-grey.svg')
  --dialog-geolocation-text-color: #445058

  --islive-icon: url('~@/assets/images/brands/generic-coyotes/icon-live-orange.svg')
  --islive-color: #FF8C03

  --badge-bgr: #FF8C03
  --badge-color: #000
  --badge-border: 0px
  --badge-tab-bgr: #FF8C03
  --badge-tab-color: #000
  --badge-tab-border: 0px
  --badge-bgr-mobile: #FF8C03
  --badge-color-mobile: #000
  --badge-border-mobile: 0px
  --badge-bgr-mobile-active #FF8C03
  --badge-color-mobile-active #000
  --badge-border-mobile-active 0px

  --popular-menu-mobile-bgr: #0C121D
  --popular-menu-mobile-icon-color: #fff
  --popular-menu-mobile-text-color: #fff

  --bottom-nav-bgr:  #263c4a
  --bottom-nav-border-top: 1px solid #273c4B
  --bottom-nav-bgr-active:  #0c121d
  --bottom-nav-text-color: #fff
  --bottom-nav-btn-border-right: 1px solid #273c4B
  --bottom-nav-text-color-active: #FF8C03
  --bottom-nav-icon-profile-active: url('~@/assets/images/brands/generic-coyotes/profile-orange.svg')
  --bottom-nav-icon-promo-active: url('~@/assets/images/brands/generic-coyotes/promo-orange.svg')
  --bottom-nav-icon-betslip-active: url('~@/assets/images/brands/generic-coyotes/betslip-orange.svg')
  --bottom-nav-icon-allsports-active: url('~@/assets/images/brands/generic-coyotes/allsports-orange.svg')
  --bottom-nav-icon-home-active: url('~@/assets/images/brands/generic-coyotes/home-orange.svg')
  --bottom-nav-icon-home: url('~@/assets/images/brands/generic/home-white.svg')
  --bottom-nav-icon-allsports: url('~@/assets/images/brands/generic/allsports-white.svg')
  --bottom-nav-icon-betslip: url('~@/assets/images/brands/generic/betslip-white.svg')
  --bottom-nav-icon-promo: url('~@/assets/images/brands/generic/promo-white.svg')
  --bottom-nav-icon-profile: url('~@/assets/images/brands/generic/profile-white.svg')
  --bottom-nav-icon-info: url('~@/assets/images/brands/generic/info-white.svg')
  --bottom-nav-icon-info-active: url('~@/assets/images/brands/generic-coyotes/info-orange.svg')

  --tab-background : #304C60
  --active-tab-background: #0c121d
  --tab-color: #fff
  --active-tab-color: #fff
  --tab-border-top: 0px
  --tab-background-2 : #304C60
  --active-tab-background-2: linear-gradient(to bottom, #FFBF4B, #FF8C03)
  --tab-color-2: #fff
  --active-tab-color-2: #000
  --tab-2-border-radius: 2px
  --tab-2-border: 0px
  --tab-live-color: #fff
  --tab-live-active-color: #fff
  --more-tabs-btn-bgr: #08FF2E
  --more-tabs-btn-color: #000
  --more-tabs-btn-icon: url('~@/assets/images/icons/arrow_down_black.svg')
  --more-tabs-btn-icon-active: url('~@/assets/images/icons/arrow_up_black.svg')

  --sports-filter-icon-color: #fff
  --sports-filter-tab-bgr: transparent
  --sports-filter-active-bgr: linear-gradient(to bottom, #FFBF4B, #FF8C03)
  --sports-filter-active-color: #000
  --sports-filter-active-icon-color: #000
  --sports-filter-tab-border: 0px
  --sports-filter-active-tab-border: 0px
  --sports-filter-tab-border-radius: 25px

  --coupon-bgr: #0c121d
  --coupon-borders-color: #50D0FF
  --coupon-header-border-color: 1px solid #50D0FF
  --coupon-footer-border-color: 1px solid #50D0FF
  --coupon-text-color: #fff
  --coupon-pitcer-name-color: #E6E6E7
  --coupon-header-background: #0c121d
  --coupon-header-icon: #fff
  --coupon-header-color: #fff
  --coupon-header-markets-color: #E6E6E7
  --coupon-header-markets-font-style: normal
  --coupon-header-markets-font-size: 12px
  --coupon-exp-panel-background: #263c4a
  --coupon-exp-panel-border: 0px // 1px solid #50D0FF
  --coupon-exp-panel-color: #fff
  --coupon-exp-panel-icon: #fff
  --coupon-market-name-color: #fff
  --event-market-header-icon-down url('~@/assets/images/icons/arrow_down.svg')
  --event-market-header-icon-up  url('~@/assets/images/icons/arrow_up.svg')
  --event-market-header-icon-available-for-bb  url('~@/assets/images/icons/available-for-bb_white.svg')
  --coupon-footer-time-color: #E6E6E7
  --coupon-footer-morewagers-color: #fff
  --coupon-footer-morewagers-icon: url('~@/assets/images/brands/generic/arrow_right_orange.svg')
  --coupon-live-match-results-color: #FF8C03

  --selection-wrapper: #304C60 
  --selection-wrapper-active: linear-gradient(to bottom, #08FF2E, #32D74B)
  --selection-wrapper-border:0px 
  --selection-wrapper-border-radius: 2px 
  --selection-price-color: #E6E6E7
  --active-selection-price-color: #000
  --selection-hcp-color: #fff
  --active-selection-hcp-color: #000

  --event-header-bgr: #304C60
  --event-header-color: #fff
  --event-header-margin-bottom: 10px
  --event-header-competition-bgr: #0c121d
  --event-header-competition-color: #fff	
  --event-header-live-match-results-bgr: #0c121d
  --event-header-live-match-results-color: #FF8C03

  --search-accent-color: #FF8C03
  --search-input-field-focus-color: #FF8C03
  --search-competitiontitle-bgr: #304c60
  --search-competitiontitle-color: #fff
  --search-borders-color: #7f7f7f
  --search-backbtn-bgr: #FF8C03
  --search-backbtn-color: #000
  --search-backbtn-icon: url("~@/assets/images/icons/arrow_left_black.svg")
  --search-tabs-bgr: #fff
  --search-tabs-color: #000

  --betslip-page-bgr: #304c60
  --betslip-mobile-bgr: #263c4a
  --betslip-holder-bgr: #0c121d
  --betslip-tab-bgr: #304c60
  --betslip-tab-border: 0px
  --betslip-tab-active-bgr: #0c121d
  --betslip-tab-color: #fff
  --betslip-tab-active-color: #fff

  --betslip-balance-label-color: #FF8C03
  --betslip-balance-value-color: #fff
  --betslip-close-icon: url('~@/assets/images/brands/generic/icon-close.svg')
  --betslip-betplaced-close-icon: url('~@/assets/images/brands/generic/icon-close.svg')

  --betslip-historytab-bgr: #0c121d
  --betslip-historytab-active-bgr: #304C60
  --betslip-historytab-color: #fff
  --betslip-historytab-active-color: #fff	

  --betslip-header-bgr: #0c121d
  --betslip-header-color: #fff
  --betslip-selection-header-bgr: #304C60
  --betslip-selection-header-color: #fff
  --betslip-selection-header-event-color: #FF8C03
  --betslip-selection-header-hcp-color: #FF8C03
  --betslip-selection-header-market-color: #fff
  --betslip-selection-header-icon: #FF8C03
  --betslip-selection-border: 0px
  --betslip-header-btn-bin-icon: url('~@/assets/images/brands/generic/bin_icon_white.svg')
  --betslip-teaser-rr-icon-color: #FF8C03
  --betslip-teaser-header-bgr: #304C60
  --betslip-teaser-header-color: #fff
  --betslip-teaser-options-bgr: #0c121d
  --betslip-teaser-options-color: #fff
  --betslip-odds-price-bgr: #0c121d
  --betslip-odds-price-color: #fff
  --betslip-odds-price-border: 0px
  --betslip-odds-price-border-radius: 2px
  --betslip-text-color: #fff
  --betslip-selection-name-color: #fff
  --moneyinput-bgr: #304C60
  --moneyinput-color: #fff
  --moneyinput-border-radius: 2px	
  --moneyinput-border: 0px	
  --betslip-select-box-bgr: #fff
  --betslip-select-box-color: #000
  --betslip-select-box-border-radius: 3px	
  --betslip-select-box-border: 1px solid #dbdce0			  
  --betslip-betType-header-bgr: #304c60
  --betslip-betType-header-color: #fff
  --betslip-betType-header-accent-color: #FF8C03
  --betslip-button-primary-bgr: linear-gradient(to bottom, #FFBF4B, #FF8C03)
  --betslip-button-primary-color: #000
  --betslip-button-primary-accent-color: #000
  --betslip-button-secondary-bgr: transparent
  --betslip-button-secondary-color: #FF8C03
  --betslip-button-secondary-border: 2px solid #FF8C03
  --betslip-button-border-radius: 25px
  --icon-available-for-bb-betslip: url('~@/assets/images/icons/available-for-bb_white.svg')

  --betslip-interrelated-border-color:  #304c60
  --betslip-selection-closed-bgr:  #263c4a
  --betslip-selection-closed-color:  #fff
  --betslip-selection-suspended-bgr:  #263c4a
  --betslip-selection-suspended-color:  #fff

  --betslip-msg-info-bgr: #304C60
  --betslip-msg-info-color: #fff
  --betslip-hr-line: 1px solid #50D0FF

  --betslip-msg-special-offers-badge-brg: #FF8C03
  --betslip-msg-special-offers-badge-color: #fff
  --betslip-msg-special-offers-badge-insurance-brg: #0c121d
  --betslip-msg-special-offers-badge-insurance-color: #fff
  --betslip-msg-special-offers-badge-bonus-brg: #ffd9b0
  --betslip-msg-special-offers-badge-bonus-color: #0c121d
  --betslip-msg-special-offers-parlyinsurance-border: solid 1px #304C60
  --betslip-msg-special-offers-parlyinsurance-bgr: #304C60
  --betslip-msg-special-offers-parlyinsurance-color: #fff
  --betslip-msg-special-offers-parlyboost-border: solid 1px #ffd9b0
  --betslip-msg-special-offers-parlyboost-bgr: #ffd9b0
  --betslip-msg-special-offers-parlyboost-color: #0c121d

  --bet-placed-color: #08FF2E
  --bet-placed-bgr: #304C60
  --bet-placed-msg-keep: #08FF2E

  --betslip-stakeall-input-bgr: #304c60
  --betslip-stakeall-label-bgr: #0c121d
  --betslip-stakeall-label-color: #fff
  --betslip-stakeall-input-border: 1px solid #304c60
  --betslip-stakeall-input-color: #fff
  --betslip-stakeall-border-radius: 0px

  --betslip-footer-btn-color: #fff
  --betslip-footer-btn-border: 0px
  --betslip-footer-btn-bgr: transparent
  --betslip-footer-btn-bin-icon: url('~@/assets/images/brands/generic/bin_icon_white.svg')

  --fast-betslip-border-color: #304C60

  --betslip-selection-border-bottom-layout2: 1px solid #304c60
  --betslip-selection-header-color-layout2: #fff
  --betslip-header-btn-bin-icon-layout2: url('~@/assets/images/brands/generic/bin_icon_white.svg')
  --betslip-betType-header-accent-color-layout2: #FF8C03
  --betslip-backtobetslip-label-color-layout2: #50d0ff
  --betslip-odds-price-bgr-layout2: transparent
  --betslip-odds-price-padding-layout2: 0px
  --betslip-odds-price-color-layout2: #08FF2E
  --betslip-odds-price-border-layout2: 0px
  --betslip-odds-price-border-radius-layout2: 3px
  --betslip-bottom-tabs-bgr-layot2: transparent
  --betslip-bottom-tabs-color-layot2: #fff
  --betslip-bottom-tabs-border-layot2: 1px solid #fff
  --betslip-bottom-tabs-arrowup-layot2: url("~@/assets/images/brands/generic/arrow_up_white.svg") no-repeat center
  --betslip-bottom-tabs-arrowdown-layot2:url("~@/assets/images/brands/generic/arrow_down_white.svg") no-repeat center
  --betslip-bottom-tabs-arrowright-layot2: url("~@/assets/images/brands/generic/arrow_right_white.svg") no-repeat center

  --dialog-gc-msg-dwn-btn-bgr: #304c60
  --dialog-gc-msg-dwn-btn-color: #fff

  --login-btn-bgr: linear-gradient(to bottom, #FFBF4B, #FF8C03)
  --login-btn-color: #000
  --login-btn-border-radius: 25px
  --login-btn-border: 0px
  --join-btn-bgr: transparent
  --join-btn-color: #fff
  --join-btn-border-radius: 25px
  --join-btn-border: 2px solid #DDAB4B

  --login-dialog-bgr: #0c121d
  --login-dialog-header-bgr: #304C60
  --login-dialog-login-btn-bgr: linear-gradient(to bottom, #FFBF4B, #FF8C03)
  --login-dialog-login-btn-color: #000
  --login-dialog-login-btn-border: 0px
  --login-dialog-login-btn-border-radius: 25px
  --login-dialog-join-btn-bgr: transparent
  --login-dialog-join-btn-color: #fff
  --login-dialog-join-btn-border: 2px solid #FF8C03
  --login-dialog-login-btn-bgr-disabled: linear-gradient(to bottom, #FFBF4B, #FF8C03)
  --login-dialog-login-btn-bgr-disabled-opacity: 0.5
  --login-dialog-login-btn-color-disabled: #000
  --login-dialog-login-btn-border-disabled: 0px
  --login-dialog-input-bgr: #fff
  --login-dialog-input-label-color: #c4c4c4
  --login-dialog-input-color: #000
  --login-dialog-input-border-radius: 2px
  --login-dialog-input-border-bottom-color: transparent
  --login-dialog-title-font-size: 14px
  --login-dialog-btn-font-size: 14px
  --login-dialog-text-color: #fff
  --login-dialog-loader-color1: #304c60
  --login-dialog-loader-color2: #CFD6DB

  --login-with-faceid-bgr: #2F4B5F
  --login-with-faceid-color: #fff
  --login-with-faceid-border: 0px
  --login-with-faceid-border-radius: 2px
  --login-with-faceid-switcher: #304C60
  --login-with-faceid-switcher-accent: #FF8C03

  --balance-color: #f1f1f1
  --addfunds-color: #f1f1f1
  --addfunds-icon-color: #2F4B5F
  --addfunds-icon-bgr: #08FF2E
  --msg-center-icon: url('~@/assets/images/icons/messages-bell-white.svg')

  --msgcenter-item-bgr: #304c60
  --msgcenter-item-color: #fff
  --msgcenter-item-icon: url('~@/assets/images/icons/icon-info-white.svg')
  --msgcenter-item-bgr-2: #FF8C03
  --msgcenter-item-color-2: #000
  --msgcenter-item-icon-2: url('~@/assets/images/icons/icon-info-black.svg')

  --xtremepush-mail-icon: url('~@/assets/images/icons/icon-mail-white.svg')
  --xtremepush-badge-bgr: #FF8C03
  --xtremepush-badge-color: #000
  --xtremepush-title-color: #000
  --xtremepush-text-color: #000
  --xtremepush-accent-color: #FF8C03

  --account-pages-headings-color: #000
  --account-pages-text-color: #000
  --account-pages-btn-text-transform: none
  --account-pages-btn-border-radius: 25px
  --account-pages-primary-btn-border: 0px
  --account-pages-primary-btn-bgr: linear-gradient(to bottom, #FFBF4B, #FF8C03)
  --account-pages-primary-btn-color: #000
  --account-pages-secondary-btn-border: 2px solid #FF8C03
  --account-pages-secondary-btn-bgr: #fff
  --account-pages-secondary-btn-color: #000
  --account-pages-checkbox-color: #0c121d
  --account-pages-label-focus-color: #FF8C03
  --account-pages-input-focus-color: #FF8C03
  --account-pages-loader: #304c60
  --account-pages-secondary-text: #ff8c03
  --account-pages-infomsg-bgr: #e5e5e5
  --account-pages-infomsg-color: #000

  --account-pages-datepicker-label-color: #0c121d
  --account-pages-datepicker-accent-color: #FF8C03
  --account-pages-datepicker-border-color: #0c121d

  --account-pages-table-headers-bgr: #263c4a
  --account-pages-table-headers-color: #fff
  --account-pages-table-headers-accent-color: #FF8C03
  --account-summary-boxes-border: 1px solid #263c4a
  --account-heading-bgr: #304c60
  --account-heading-color: #fff

  --account-details-bgr: #263c4a
  --account-details-color: #fff
  --account-details-user-img: url('~@/assets/images/brands/generic/profile-white.svg')
  --account-details-bgr-mobile: #263c4a
  --account-details-mobile-color: #fff
  --account-details-user-img-mobile: url('~@/assets/images/brands/generic/profile-white.svg')
  --account-details-border: 1px solid #50666b
  --account-user-title-border: #fff
  --account-user-details-label-color: #FF8C03
  --account-user-details-value-color: #fff
  --account-details-border-radius: 2px 2px 0 0
  --account-buttons-border-radius: 0 0 2px 2px
  --account-details-balance-bgr: #0c121d
  --account-details-balance-color: #fff
  --account-details-label-balance-color: #fff
  --account-balance-margin: 20px 0 0 0
  --account-balance-margin-desktop: 45px -12px 0 -12px
  --account-details-buttons-bgr: #0c121d
  --account-details-btn-border-radius: 25px
  --account-details-btn-deposit-border: 2px solid #32D74B
  --account-details-btn-deposit-bgr: transparent
  --account-details-btn-deposit-color: #fff
  --account-details-btn-withdraw-border: 2px solid #FF8C03
  --account-details-btn-withdraw-bgr: transparent
  --account-details-btn-withdraw-color: #fff 

  --account-btn-icon-copy: url('~@/assets/images/icons/copy-black.svg')
  --account-btn-icon-correction: url('~@/assets/images/icons/reg_ver_correction_black.svg')
  --account-btn-icon-driver-licence: url('~@/assets/images/icons/reg_driver_license_black.svg')

  --account-links-bgr: #0c121d
  --account-links-color: #fff
  --account-links-border: 1px solid #50D0FF
  --account-links-border-radius: 2px

  --bethistory-tab-bgr: #fff
  --bethistory-tab-border: 1px solid #0c121d
  --bethistory-tab-color: #0c121d
  --bethistory-active-tab-bgr: #0c121d
  --bethistory-active-tab-border: 0px
  --bethistory-active-tab-color: #fff
  --bethistory-bet-header-bgr: #304C60
  --bethistory-bet-header-color: #fff
  --bethistory-block-border-color: #304C60
  --bethistory-bethead-border-color: #304C60
  --bet-history-sporticon-color: #FF8C03
  --bet-history-betrefs-color: #FF8C03
  --bet-history-accent-color: #FF8C03
  --bet-history-buyback-btn-bgr: #32D74B
  --bet-history-buyback-btn-color: #000
  --bet-history-betresult-bgr: #FF8C03
  --bet-history-betresult-color: #fff

  --icon-acc-summary: url("~@/assets/images/brands/generic-coyotes/accounting/summary.svg")
  --icon-acc-settings: url("~@/assets/images/brands/generic-coyotes/accounting/settings.svg")
  --icon-acc-rg: url("~@/assets/images/brands/generic-coyotes/accounting/rg-logo.svg")
  --icon-acc-rg-stop: url("~@/assets/images/brands/generic-coyotes/accounting/responsible_gaming.svg")
  --icon-active-bets: url("~@/assets/images/brands/generic-coyotes/accounting/active_bets.svg")
  --icon-settled-bets: url("~@/assets/images/brands/generic-coyotes/accounting/settled_bets.svg")
  --icon-tx-history: url("~@/assets/images/brands/generic-coyotes/accounting/tx_history.svg")
  --icon-w2g: url("~@/assets/images/brands/generic-coyotes/accounting/w2g.svg")
  --icon-acc-logout: url("~@/assets/images/brands/generic-coyotes/accounting/logout.svg")
  --icon-acc-close: url("~@/assets/images/brands/generic-coyotes/accounting/close_account.svg")
  --icon-acc-raf: url("~@/assets/images/brands/generic-coyotes/accounting/raf.svg")
  --icon-acc-verification: url("~@/assets/images/brands/generic-coyotes/accounting/verification.svg")
  --icon-acc-zinrelo: url("~@/assets/images/brands/generic-coyotes/accounting/zinrelo.svg")
  --icon-acc-promos: url("~@/assets/images/brands/generic/promo-white.svg")

  --promotions-item-bgr: #304c60
  --promotions-item-color: #fff
  --promotions-item-icon: url('~@/assets/images/brands/generic/promo-white.svg')
  --promotions-item-icon-arrow: url('~@/assets/images/brands/generic/arrow_right_white.svg')
  --promotions-item-bgr2: #FF8C03
  --promotions-item-color2: #000
  --promotions-item-icon2: url('~@/assets/images/brands/generic/promo-black.svg')
  --promotions-item-icon-arrow2: url('~@/assets/images/brands/generic/arrow_right_black.svg')

  --pnc-promos-dialog-icon: url('~@/assets/images/brands/generic-coyotes/promo-orange.svg')
  --pnc-promos-dialog-bgr: linear-gradient(to bottom, #273c4b, #0b111c)
  --pnc-promos-primary-color: #FF8C03
  --pnc-promos-primary-button-bgr: linear-gradient(to bottom, #ffbf4b, #ff8c03)
  --pnc-promos-available-header-bgr: #263c4a

  --favorites-betslip-color: #fff
  --favorites-betslip-accent-color: #FF8C03
  --favorites-betslip-panel-border: 1px solid #e4e4e4
  --favorites-betslip-checkbox-color: #f2f2f2
  --favorites-tabs-color: #000
  --favorites-tabs-color-active: #000
  --favorites-tabs-background: #f2f2f2
  --favorites-tabs-background-active: #fff
  --favorites-myevents-settings-icon: url("~@/assets/images/favorites/settings-white.svg") 

  --secundary-banners-bgr-home #304c60
  --headline-overlay-border-radius: 5px
  --headline-overlay-border: solid 3px #ABABAB
  --headline-tiles-background #304c60
  --headline-coupon-item-background #000
  --headline-coupon-color #fff
  --headline-coupon-carousel-btn-bgr #fff
  --headline-coupon-carousel-btn-color #FF8C03
  --headline-coupon-carousel-btn-border 1px solid #CBCFD9
  --headline-coupon-header-border: solid 1px #f2f2f2
  --headline-coupon-livebox-color #fff
  --headline-coupon-livebox-bgr #FF8C03
  --headline-coupon-livebox-border-radius 3px
  --headline-coupon-icon-color #304c60
  --headline-coupon-icon-opacity 0.5
  --headline-coupon-event-title-color #fff
  --headline-coupon-participant-color #fff
  --headline-coupon-pitcher-color #b1b1b1
  --headline-coupon-selection-wrapper-border 0px
  --headline-coupon-selection-wrapper-background #304c60
  --headline-coupon-selection-wrapper-background-active linear-gradient(to bottom, #08ff2e, #32d74b)
  --headline-coupon-selection-wrapper-color #fff
  --headline-coupon-selection-wrapper-color-active #000

