.northernquest
  --bgr-color: #162c58
  --mobile-bgr-color: #162c58
  --mobile-header-bgr: #162c58
  --header-text-color-mobile: #fff
  --header-bgr: #162c58
  --header-text-color: #fff
  --scrolled-header-bgr: #162c58
  --footer-bgr: transparent
  --footer-bgr-fixed-betslip: transparent
  --footer-border-top-fixed-betslip: 0px
  --footer-text-color: #fff
  --footer-mobile-bgr: #162c58
  --app-wrap-content-bgr: #162c58
  --text-color: #162c58
  --accent-color: #f8971d
  --backtotop-bgr: #f8971d
  --backtotop-color: #fff

  --logo-max-height: 90px
  --logo-max-width: 140px
  --logo-max-height-mobile: 80px
  --logo-max-width-mobile: 110px
  --logo-margin-top: 5px
  --logo-holder-width: 190px

  --bo-nav-headline-color: #fff
  --bo-nav-headline-bgr: #162c58

  --nav-title-color: #f8971d
  --nav-title-border: 0px
  --side-nav-color: #fff
  --side-nav-icon-color: #fff
  --side-nav-color-active: #f8971d
  --main-nav-color: #fff
  --main-nav-icon-color: #fff
  --main-nav-color-active: #f8971d
  --main-nav-border-color-active: #f8971d
  --nav-icon-live: #ff0000

  --dialog-sports-menu-bgr: linear-gradient(to bottom, #162c58, #021434)
  --dialog-sports-nav-title-color: #f8971d
  --dialog-sports-nav-title-border: 0px
  --dialog-sports-main-nav-color: #fff
  --dialog-sports-main-nav-icon-color: #fff
  --dialog-sports-main-nav-color-active: #f8971d
  --dialog-sports-main-nav-icon-close: url('~@/assets/images/brands/generic/icon-close-grey.svg')
  --dialog-geolocation-text-color: #445058

  --islive-icon: url('~@/assets/images/brands/generic-northernquest/icon-live-red.svg')
  --islive-color: #ff0000

  --badge-bgr: #f8971d
  --badge-color: #fff
  --badge-border: 0px
  --badge-tab-bgr: #f8971d
  --badge-tab-color: #fff
  --badge-tab-border: 0px
  --badge-bgr-mobile: #f8971d
  --badge-color-mobile: #fff
  --badge-border-mobile: 0px
  --badge-bgr-mobile-active #f8971d
  --badge-color-mobile-active #fff
  --badge-border-mobile-active 0px

  --popular-menu-mobile-bgr: #fff
  --popular-menu-mobile-icon-color: #162c58
  --popular-menu-mobile-text-color: #162c58

  --bottom-nav-bgr:  #162c58
  --bottom-nav-border-top: 0px
  --bottom-nav-bgr-active:  #fff
  --bottom-nav-text-color: #fff
  --bottom-nav-btn-border-right: 0px
  --bottom-nav-text-color-active: #f8971d
  --bottom-nav-icon-profile-active: url('~@/assets/images/brands/generic-northernquest/profile-orange.svg')
  --bottom-nav-icon-promo-active: url('~@/assets/images/brands/generic-northernquest/promo-orange.svg')
  --bottom-nav-icon-betslip-active: url('~@/assets/images/brands/generic-northernquest/betslip-orange.svg')
  --bottom-nav-icon-allsports-active: url('~@/assets/images/brands/generic-northernquest/allsports-orange.svg')
  --bottom-nav-icon-home-active: url('~@/assets/images/brands/generic-northernquest/home-orange.svg')
  --bottom-nav-icon-home: url('~@/assets/images/brands/generic/home-white.svg')
  --bottom-nav-icon-allsports: url('~@/assets/images/brands/generic/allsports-white.svg')
  --bottom-nav-icon-betslip: url('~@/assets/images/brands/generic/betslip-white.svg')
  --bottom-nav-icon-promo: url('~@/assets/images/brands/generic/promo-white.svg')
  --bottom-nav-icon-profile: url('~@/assets/images/brands/generic/profile-white.svg')
  --bottom-nav-icon-info: url('~@/assets/images/brands/generic/info-white.svg')
  --bottom-nav-icon-info-active: url('~@/assets/images/brands/generic-northernquest/info-orange.svg')

  --tab-background : #162c58
  --active-tab-background: #fff
  --tab-color: #fff
  --active-tab-color: #162c58
  --tab-border-top: 0px
  --tab-background-2 : #162c58
  --active-tab-background-2: #f8971d
  --tab-color-2: #fff
  --active-tab-color-2: #fff
  --tab-2-border-radius: 2px
  --tab-2-border: 0px
  --tab-live-color: #fff
  --tab-live-active-color: #162c58
  --more-tabs-btn-bgr: #f8971d
  --more-tabs-btn-color: #fff
  --more-tabs-btn-icon: url('~@/assets/images/icons/arrow_down_white.svg')
  --more-tabs-btn-icon-active: url('~@/assets/images/icons/arrow_up_white.svg')

  --sports-filter-icon-color: #162c58
  --sports-filter-tab-bgr: transparent
  --sports-filter-active-bgr: #f8971d
  --sports-filter-active-color: #fff
  --sports-filter-active-icon-color: #fff
  --sports-filter-tab-border: 0px
  --sports-filter-active-tab-border: 0px
  --sports-filter-tab-border-radius: 1px

  --coupon-bgr: #fff
  --coupon-borders-color: #dbdbdb
  --coupon-header-border-color: 2px solid #dbdbdb
  --coupon-footer-border-color: 2px solid #dbdbdb
  --coupon-text-color: #162c58
  --coupon-pitcer-name-color: #6d6d6d
  --coupon-header-background: #fff
  --coupon-header-icon: #162c58
  --coupon-header-color: #000
  --coupon-header-markets-color: #6d6d6d
  --coupon-header-markets-font-style: normal
  --coupon-header-markets-font-size: 12px
  --coupon-exp-panel-background: #fff
  --coupon-exp-panel-border: 1px solid #dbdbdb
  --coupon-exp-panel-color: #000
  --coupon-exp-panel-icon: #162c58
  --coupon-market-name-color: #000
  --event-market-header-icon-down url('~@/assets/images/icons/arrow_down.svg')
  --event-market-header-icon-up  url('~@/assets/images/icons/arrow_up.svg')
  --event-market-header-icon-available-for-bb  url('~@/assets/images/icons/available-for-bb_white.svg')
  --coupon-footer-time-color: #6d6d6d
  --coupon-footer-morewagers-color: #f8971d
  --coupon-footer-morewagers-icon: url('~@/assets/images/brands/generic/arrow_right_orange.svg')
  --coupon-live-match-results-color: #ff0000

  --selection-wrapper: #eff4f9 
  --selection-wrapper-active: #f8971d
  --selection-wrapper-border:0px 
  --selection-wrapper-border-radius: 1px 
  --selection-price-color: #527192
  --active-selection-price-color: #fff
  --selection-hcp-color: #162c58
  --active-selection-hcp-color: #fff

  --event-header-bgr: #527192
  --event-header-color: #fff
  --event-header-margin-bottom: 10px
  --event-header-competition-bgr: #162c58
  --event-header-competition-color: #fff	
  --event-header-live-match-results-bgr: #fff
  --event-header-live-match-results-color: #ff0000

  --search-accent-color: #f8971d
  --search-input-field-focus-color: #f8971d
  --search-competitiontitle-bgr: #162c58
  --search-competitiontitle-color: #fff
  --search-borders-color: #dbdbdb
  --search-backbtn-bgr: #f8971d
  --search-backbtn-color: #fff
  --search-backbtn-icon: url("~@/assets/images/icons/arrow_left_white.svg")
  --search-tabs-bgr: #fff
  --search-tabs-color: #162c58

  --betslip-page-bgr: #fff
  --betslip-mobile-bgr: #162c58
  --betslip-holder-bgr: #fff
  --betslip-tab-bgr: #162c58
  --betslip-tab-border: 1px solid #fff
  --betslip-tab-active-bgr: #fff
  --betslip-tab-color: #fff
  --betslip-tab-active-color: #162c58

  --betslip-balance-label-color: #f8971d
  --betslip-balance-value-color: #fff
  --betslip-close-icon: url('~@/assets/images/brands/generic/icon-close.svg')
  --betslip-betplaced-close-icon: url('~@/assets/images/brands/generic/icon-close.svg')

  --betslip-historytab-bgr: #fff
  --betslip-historytab-active-bgr: #527192
  --betslip-historytab-color: #162c58
  --betslip-historytab-active-color: #fff	

  --betslip-header-bgr: #527192
  --betslip-header-color: #fff
  --betslip-selection-header-bgr: #527192
  --betslip-selection-header-color: #fff
  --betslip-selection-header-event-color: #fff
  --betslip-selection-header-hcp-color: #fff
  --betslip-selection-header-market-color: #fff
  --betslip-selection-header-icon: #fff
  --betslip-selection-border: 0px
  --betslip-header-btn-bin-icon: url('~@/assets/images/brands/generic/bin_icon_white.svg')
  --betslip-teaser-rr-icon-color: #527192
  --betslip-teaser-header-bgr: #527192
  --betslip-teaser-header-color: #fff
  --betslip-teaser-options-bgr: #162c58
  --betslip-teaser-options-color: #fff
  --betslip-odds-price-bgr: #f8971d
  --betslip-odds-price-color: #fff
  --betslip-odds-price-border: 0px
  --betslip-odds-price-border-radius: 1px
  --betslip-text-color: #162c58
  --betslip-selection-name-color: #162c58
  --moneyinput-bgr: #eff4f9
  --moneyinput-color: #162c58
  --moneyinput-border-radius: 1px	
  --moneyinput-border: 0px	
  --betslip-select-box-bgr: #fff
  --betslip-select-box-color: #162c58
  --betslip-select-box-border-radius: 1px	
  --betslip-select-box-border: 1px solid #162c58			  
  --betslip-betType-header-bgr: #527192
  --betslip-betType-header-color: #fff
  --betslip-betType-header-accent-color: #fff
  --betslip-button-primary-bgr: linear-gradient(to bottom, #f8971d, #df800a)
  --betslip-button-primary-color: #fff
  --betslip-button-primary-accent-color: #fff
  --betslip-button-secondary-bgr: transparent
  --betslip-button-secondary-color: #f8971d
  --betslip-button-secondary-border: 2px solid #f8971d
  --betslip-button-border-radius: 2px
  --icon-available-for-bb-betslip: url('~@/assets/images/icons/available-for-bb_black.svg')

  --betslip-interrelated-border-color:  #527192
  --betslip-selection-closed-bgr:  #828595
  --betslip-selection-closed-color:  #fff
  --betslip-selection-suspended-bgr:  #828595
  --betslip-selection-suspended-color:  #fff

  --betslip-msg-info-bgr: #527192
  --betslip-msg-info-color: #fff
  --betslip-hr-line: 1px solid #eff4f9

  --betslip-msg-special-offers-badge-brg: #f8971d
  --betslip-msg-special-offers-badge-color: #fff
  --betslip-msg-special-offers-badge-insurance-brg: #00213d
  --betslip-msg-special-offers-badge-insurance-color: #fff
  --betslip-msg-special-offers-badge-bonus-brg: #ffd9b0
  --betslip-msg-special-offers-badge-bonus-color: #162c58
  --betslip-msg-special-offers-parlyinsurance-border: solid 1px #527192
  --betslip-msg-special-offers-parlyinsurance-bgr: #527192
  --betslip-msg-special-offers-parlyinsurance-color: #fff
  --betslip-msg-special-offers-parlyboost-border: solid 1px #ffd9b0
  --betslip-msg-special-offers-parlyboost-bgr: #ffd9b0
  --betslip-msg-special-offers-parlyboost-color: #162c58

  --bet-placed-color: #f8971d
  --bet-placed-bgr: #527192
  --bet-placed-msg-keep: #f8971d

  --betslip-stakeall-input-bgr: #eff4f9
  --betslip-stakeall-label-bgr: #f8971d
  --betslip-stakeall-label-color: #fff
  --betslip-stakeall-input-border: 0px
  --betslip-stakeall-input-color: #162c58
  --betslip-stakeall-border-radius: 1px

  --betslip-footer-btn-color: #162c58
  --betslip-footer-btn-border: 0px
  --betslip-footer-btn-bgr: transparent
  --betslip-footer-btn-bin-icon: url('~@/assets/images/brands/generic/bin_icon_darkblue.svg')

  --fast-betslip-border-color:#eff4f9

  --betslip-selection-border-bottom-layout2: 1px solid #eff4f9
  --betslip-selection-header-color-layout2: #162c58
  --betslip-header-btn-bin-icon-layout2: url('~@/assets/images/brands/generic/bin_icon_darkblue.svg')
  --betslip-betType-header-accent-color-layout2: #f8971d
  --betslip-backtobetslip-label-color-layout2: #fff
  --betslip-odds-price-bgr-layout2: transparent
  --betslip-odds-price-padding-layout2: 0px
  --betslip-odds-price-color-layout2: #f8971d
  --betslip-odds-price-border-layout2: 0px
  --betslip-odds-price-border-radius-layout2: 3px
  --betslip-bottom-tabs-bgr-layot2: transparent
  --betslip-bottom-tabs-color-layot2: #162c58
  --betslip-bottom-tabs-border-layot2: 1px solid #162c58
  --betslip-bottom-tabs-arrowup-layot2: url("~@/assets/images/brands/generic/arrow_up_darkblue.svg") no-repeat center
  --betslip-bottom-tabs-arrowdown-layot2:url("~@/assets/images/brands/generic/arrow_down_darkblue.svg") no-repeat center
  --betslip-bottom-tabs-arrowright-layot2: url("~@/assets/images/brands/generic/arrow_right_darkblue.svg") no-repeat center

  --dialog-gc-msg-dwn-btn-bgr: #162c58
  --dialog-gc-msg-dwn-btn-color: #fff
  --dialog-gc-msg-dwn-btn-border: 0px
  --dialog-gc-msg-dwn-btn-border-radius: 2px

  --login-btn-bgr: #f8971d
  --login-btn-color: #fff
  --login-btn-border-radius: 2px
  --login-btn-border: 0px
  --join-btn-bgr: transparent
  --join-btn-color: #f8971d
  --join-btn-border-radius: 2px
  --join-btn-border: 2px solid #f8971d

  --login-dialog-bgr: #eff4f9
  --login-dialog-header-bgr: #162c58
  --login-dialog-login-btn-bgr: #f8971d
  --login-dialog-login-btn-color: #fff
  --login-dialog-login-btn-border: 0px
  --login-dialog-login-btn-border-radius: 2px
  --login-dialog-join-btn-bgr: transparent
  --login-dialog-join-btn-color: #162c58
  --login-dialog-join-btn-border: 2px solid #f8971d
  --login-dialog-login-btn-bgr-disabled: #f8971d
  --login-dialog-login-btn-bgr-disabled-opacity: 0.5
  --login-dialog-login-btn-color-disabled: #000
  --login-dialog-login-btn-border-disabled: 0px
  --login-dialog-input-bgr: #fff
  --login-dialog-input-label-color: #c1c1c1
  --login-dialog-input-color: #162c58
  --login-dialog-input-border-radius: 1px
  --login-dialog-input-border-bottom-color: transparent
  --login-dialog-title-font-size: 14px
  --login-dialog-btn-font-size: 14px
  --login-dialog-text-color: #162c58
  --login-dialog-loader-color1: #162c58 
  --login-dialog-loader-color2: #527192

  --login-with-faceid-bgr: #162c58
  --login-with-faceid-color: #fff
  --login-with-faceid-border: 0px
  --login-with-faceid-border-radius: 2px
  --login-with-faceid-switcher: #527192
  --login-with-faceid-switcher-accent: #162c58

  --balance-color: #f1f1f1
  --addfunds-color: #f1f1f1
  --addfunds-icon-color: #fff
  --addfunds-icon-bgr: #f8971d
  --msg-center-icon: url('~@/assets/images/icons/messages-bell-white.svg')

  --msgcenter-item-bgr: #527192
  --msgcenter-item-color: #fff
  --msgcenter-item-icon: url('~@/assets/images/icons/icon-info-white.svg')
  --msgcenter-item-bgr-2: #f8971d
  --msgcenter-item-color-2: #fff
  --msgcenter-item-icon-2: url('~@/assets/images/icons/icon-info-white.svg')

  --xtremepush-mail-icon: url('~@/assets/images/icons/icon-mail-white.svg')
  --xtremepush-badge-bgr: #f8971d
  --xtremepush-badge-color: #fff
  --xtremepush-title-color: #162c58
  --xtremepush-text-color: #162c58
  --xtremepush-accent-color: #f8971d

  --account-pages-headings-color: #162c58
  --account-pages-text-color: #162c58
  --account-pages-btn-text-transform: none
  --account-pages-btn-border-radius:2
  --account-pages-primary-btn-border: 0px
  --account-pages-primary-btn-bgr: #f8971d
  --account-pages-primary-btn-color: #fff
  --account-pages-secondary-btn-border: 2px solid #f8971d
  --account-pages-secondary-btn-bgr: #fff
  --account-pages-secondary-btn-color: #162c58
  --account-pages-checkbox-color: #162c58
  --account-pages-label-focus-color: #f8971d
  --account-pages-input-focus-color: #f8971d
  --account-pages-loader: #527192
  --account-pages-secondary-text: #f8971d
  --account-pages-infomsg-bgr: #e5e5e5
  --account-pages-infomsg-color: #162c58

  --account-pages-datepicker-label-color: #162c58
  --account-pages-datepicker-accent-color: #f8971d
  --account-pages-datepicker-border-color: #162c58

  --account-pages-table-headers-bgr: #527192
  --account-pages-table-headers-color: #fff
  --account-pages-table-headers-accent-color: #f8971d
  --account-summary-boxes-border: 1px solid #527192
  --account-heading-bgr: #fff
  --account-heading-color: #162c58

  --account-details-bgr: #162c58
  --account-details-color: #fff
  --account-details-user-img: url('~@/assets/images/brands/generic/profile-white.svg')
  --account-details-bgr-mobile: #162c58
  --account-details-mobile-color: #fff
  --account-details-user-img-mobile: url('~@/assets/images/brands/generic/profile-white.svg')
  --account-details-border: 1px solid #527192
  --account-user-title-border: #eff4f9
  --account-user-details-label-color: #f8971d
  --account-user-details-value-color: #fff
  --account-details-border-radius: 2px
  --account-buttons-border-radius: 0 0 2px 2px
  --account-details-balance-bgr: #527192
  --account-details-balance-color: #fff
  --account-details-label-balance-color: #f8971d
  --account-balance-margin: 20px 10px 5px 10px 
  --account-balance-margin-desktop: 45px -2px 0 -2px
  --account-details-buttons-bgr: #162c58
  --account-details-btn-border-radius: 2px
  --account-details-btn-deposit-border: 2px solid #f8971d
  --account-details-btn-deposit-bgr: transparent
  --account-details-btn-deposit-color: #fff
  --account-details-btn-withdraw-border: 0px
  --account-details-btn-withdraw-bgr: #f8971d
  --account-details-btn-withdraw-color: #fff 

  --account-btn-icon-copy: url('~@/assets/images/icons/copy-white.svg') 
  --account-btn-icon-correction: url('~@/assets/images/icons/reg_ver_correction_blue_dark.svg')
  --account-btn-icon-driver-licence: url('~@/assets/images/icons/reg_driver_license_black.svg')

  --account-links-bgr: #eff4f9
  --account-links-color: #162c58
  --account-links-border: 1px solid #fff
  --account-links-border-radius: 1px

  --bethistory-tab-bgr: #fff
  --bethistory-tab-border: 1px solid #f8971d
  --bethistory-tab-color: #162c58
  --bethistory-active-tab-bgr: #f8971d
  --bethistory-active-tab-border: 0px
  --bethistory-active-tab-color: #fff
  --bethistory-bet-header-bgr: #162c58
  --bethistory-bet-header-color: #fff
  --bethistory-block-border-color: #162c58
  --bethistory-bethead-border-color: #162c58
  --bet-history-sporticon-color: #527192
  --bet-history-betrefs-color: #f8971d
  --bet-history-accent-color: #f8971d
  --bet-history-buyback-btn-bgr: #32D74B
  --bet-history-buyback-btn-color: #000
  --bet-history-betresult-bgr: #f8971d
  --bet-history-betresult-color: #162c58

  /* At the moment for northernquest brand we are using same icons used for igt brand. 
  In case we need other color uncomment this part and upload new images */

  // --icon-acc-summary: url("~@/assets/images/brands/generic-northernquest/accounting/summary.svg")
  // --icon-acc-settings: url("~@/assets/images/brands/generic-northernquest/accounting/settings.svg")
  // --icon-acc-rg: url("~@/assets/images/brands/generic-northernquest/accounting/rg-logo.svg")
  // --icon-acc-rg-stop: url("~@/assets/images/brands/generic-northernquest/accounting/responsible_gaming.svg")
  // --icon-active-bets: url("~@/assets/images/brands/generic-northernquest/accounting/active_bets.svg")
  // --icon-settled-bets: url("~@/assets/images/brands/generic-northernquest/accounting/settled_bets.svg")
  // --icon-tx-history: url("~@/assets/images/brands/generic-northernquest/accounting/tx_history.svg")
  // --icon-w2g: url("~@/assets/images/brands/generic-northernquest/accounting/w2g.svg")
  // --icon-acc-logout: url("~@/assets/images/brands/generic-northernquest/accounting/logout.svg")
  // --icon-acc-close: url("~@/assets/images/brands/generic-northernquest/accounting/close_account.svg")

  --promotions-item-bgr: #527192
  --promotions-item-color: #fff
  --promotions-item-icon: url('~@/assets/images/brands/generic/promo-white.svg')
  --promotions-item-icon-arrow: url('~@/assets/images/brands/generic/arrow_right_white.svg')
  --promotions-item-bgr2: #f8971d
  --promotions-item-color2: #fff
  --promotions-item-icon2: url('~@/assets/images/brands/generic/promo-white.svg')
  --promotions-item-icon-arrow2: url('~@/assets/images/brands/generic/arrow_right_white.svg') 

  --pnc-promos-dialog-icon: url('~@/assets/images/brands/generic-northernquest/promo-orange.svg')
  --pnc-promos-dialog-bgr: #162c58
  --pnc-promos-primary-color: #f8971d
  --pnc-promos-primary-button-bgr: #f8971d
  --pnc-promos-available-header-bgr: #162c58

  --favorites-betslip-color: #162c58
  --favorites-betslip-accent-color: #f8971d
  --favorites-betslip-panel-border: 1px solid #e4e4e4
  --favorites-betslip-checkbox-color: #527192
  --favorites-tabs-color: #162c58
  --favorites-tabs-color-active: #162c58
  --favorites-tabs-background: #f2f2f2
  --favorites-tabs-background-active: #fff
  --favorites-myevents-settings-icon: url("~@/assets/images/favorites/settings-white.svg") 

  --secundary-banners-bgr-home #fff
  --headline-overlay-border-radius: 5px
  --headline-overlay-border: solid 3px #ABABAB
  --headline-tiles-background #fff
  --headline-coupon-item-background #527192 
  --headline-coupon-color #fff
  --headline-coupon-carousel-btn-bgr #fff
  --headline-coupon-carousel-btn-color #e17e28
  --headline-coupon-carousel-btn-border 1px solid #CBCFD9
  --headline-coupon-header-border: solid 1px #f2f2f2
  --headline-coupon-livebox-color #fff
  --headline-coupon-livebox-bgr #e17e28
  --headline-coupon-livebox-border-radius 3px
  --headline-coupon-icon-color #fff
  --headline-coupon-icon-opacity 0.08
  --headline-coupon-event-title-color #fff
  --headline-coupon-participant-color #fff
  --headline-coupon-pitcher-color #b1b1b1
  --headline-coupon-selection-wrapper-border 0px
  --headline-coupon-selection-wrapper-background #eff4f9
  --headline-coupon-selection-wrapper-background-active #f8971d
  --headline-coupon-selection-wrapper-color #527192
  --headline-coupon-selection-wrapper-color-active #fff
