@css {
  @font-face {
    font-family: 'igtsporticons';
    src:  url('/static/fonts/sporticons/igtsporticons.eot?dehnrz');
    src:  url('/static/fonts/sporticons/igtsporticons.eot?dehnrz#iefix') format('embedded-opentype'),
    url('/static/fonts/sporticons/igtsporticons.ttf?dehnrz') format('truetype'),
    url('/static/fonts/sporticons/igtsporticons.woff?dehnrz') format('woff'),
    url('/static/fonts/sporticons/igtsporticons.svg?dehnrz#icomoon') format('svg');
  }
}

.font-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'igtsporticons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;
  color: #fff;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*********/
.font-icon-aurules:before {
  content: "\f101";
}
.font-icon-nfl:before {
    content: "\f10a";
}
.font-icon-rugbyunion:before {
    content: "\f112";
}
.font-icon-rugbyleague:before {
    content: "\f112";
}
.font-icon-nascar:before {
    content: "\f111";
}
.font-icon-motorsport:before {
    content: "\f111";
}
.font-icon-racing:before {
    content: "\f111";
}
.font-icon-f1:before {
    content: "\f10b";
}
.font-icon-callbskt:before {
    content: "\f103";
}
/********/

.font-icon-ausrules:before {
    content: "\f101";
}
.font-icon-baseball:before {
    content: "\f102";
}
.font-icon-basketball:before {
    content: "\f103";
}
.font-icon-boost:before {
    content: "\f104";
}
.font-icon-boxing:before {
    content: "\f105";
}
.font-icon-cricket:before {
    content: "\f106";
}
.font-icon-cycling:before {
    content: "\f107";
}
.font-icon-darts:before {
    content: "\f108";
}
.font-icon-esports:before {
    content: "\f109";
}
.font-icon-football:before {
    content: "\f10a";
}
.font-icon-formula:before {
    content: "\f10b";
}
.font-icon-golf:before {
    content: "\f10c";
}
.font-icon-horseracing:before {
    content: "\f10d";
}
.font-icon-icehockey:before {
    content: "\f10e";
}
.font-icon-live:before {
    content: "\f10f";
}
.font-icon-mma:before {
    content: "\f110";
}
.font-icon-motorracing:before {
    content: "\f111";
}
.font-icon-promomarket:before {
    content: "\f112";
}
.font-icon-rugby:before {
    content: "\f113";
}
.font-icon-search:before {
    content: "\f114";
}
.font-icon-soccer:before {
    content: "\f115";
}
.font-icon-tabletennis:before {
    content: "\f116";
}
.font-icon-tennis:before {
    content: "\f117";
}
.font-icon-volleyball:before {
    content: "\f118";
}
.font-icon-wifi:before {
    content: "\f119";
}
