/** Stylus Styles */
@import 'vuetify/dist/vuetify.min.css'
@import 'vue-resize/dist/vue-resize.css'

@import './fonts'
@import './config'
@import './vuetify-override'
@import './animations'
@import './helpers'
@import './mixins'
@import './global'
@import './layout'
@import './grid'
@import './navigation'
@import './markets'
@import './parimutuel'
@import './betslip'
@import './sportIcons'
@import './footer'
@import './header'
@import './accounting'
@import './form'
@import './headline'

if layout
  @import './brands/generic'
  @import './generic-sporticons'
if brand
  @import './brands/' + brand
else
  @import './brands/igt'
  @import './brands/boyd'
  @import './brands/sb'
  @import './brands/circa'
  @import './brands/mav'
  @import './brands/qcasino'
  @import './brands/pr'
  @import './brands/rw'
  @import './brands/generic'
  @import './generic-sporticons'
  @import './brands/generic-coyotes'
  @import './brands/generic-snoqualmie'
  @import './brands/generic-oneida'
  @import './brands/generic-winin'
  @import './brands/generic-northernquest'
  @import './brands/generic-treasurebay'
  @import './brands/generic-coushatta'
  @import './brands/generic-aotw'
  @import './brands/generic-rilot'
  @import './brands/generic-palace'
