.icon-sport
  display: inline-block;
  background-image: url(/static/icons/sportsbook/sportsicons.png);
  background-repeat: no-repeat;
  background-position: 50px -1px;
  width: 25px;
  height: 22px;
  margin-right: 1px;
  vertical-align: middle

.icon-AMERICANFOOTBALL, .icon-NFL, .icon-USASPORTS, .icon-US_FOOTBALL
  background-position-x: -2px

.icon-ATHLETICS
  background-position-x: -32px

.icon-BADMINTON
  background-position-x: -61px

.icon-BANDY
  background-position-x: -91px;
  background-position-y: 1px

.icon-BASEBALL
  background-position-x: -121px;
  background-position-y: 1px

.icon-BASKET, .icon-BASKETBALL
  background-position-x: -151px

.icon-BEACHVOLLEY
  background-position-x: -181px

.icon-BELGIUM
  background-position-x: -211px;
  background-position-y: 2px

.icon-BOXING
  background-position-x: -241px;
  background-position-y: 0

.icon-CHESS
  background-position-x: -271px

.icon-CRICKET
  background-position-x: -301px

.icon-CYCLING, .icon-TRACKCYCLING
  background-position-x: -331px;
  background-position-y: 1px

.icon-CYCLOCROSS
  background-position-x: -360px;
  background-position-y: 1px

.icon-DARTS
  background-position-x: -391px;
  background-position-y: 0

.icon-ENGLAND
  background-position-x: -421px;
  background-position-y: 2px

.icon-EQUESTRIAN
  background-position-x: -451px

.icon-FIELDHOCKEY
  background-position-x: -481px;
  background-position-y: 2px

.icon-FOOTBALL, .icon-SOCCER
  background-position-x: -511px

.icon-F1, .icon-FORMULA1
  background-position-x: -541px;
  background-position-y: 3px

.icon-FRANCE
  background-position-x: -571px;
  background-position-y: 2px

.icon-FUTSAL
  background-position-x: -601px;
  background-position-y: 1px

.icon-GERMANY
  background-position-x: -631px;
  background-position-y: 2px

.icon-GOLF
  background-position-x: -656px;
  background-position-y: 0

.icon-HANDBALL
  background-position-x: -691px

.icon-HOCKEY
  background-position-x: -719px

.icon-ICEHOCKEY, .icon-ICEHOCKEYUS, .icon-ICE_HOCKEY
  background-position-x: -751px

.icon-ITALY
  background-position-x: -781px;
  background-position-y: 2px

.icon-JUDO
  background-position-x: -811px;
  background-position-y: 3px

.icon-MARTIALARTS, .icon-MMA
  background-position-x: -841px;
  background-position-y: 0

.icon-MOTOGP
  background-position-x: -872px;
  background-position-y: 1px

.icon-MOUNTAINBIKE
  background-position-x: -901px;
  background-position-y: 1px

.icon-FILM, .icon-MOVIE, .icon-TV, .icon-TV-FILM, .icon-TVFILM
  background-position-x: -931px

.icon-MUSIC
  background-position-x: -961px

.icon-NEDERLAND
  background-position-x: -991px;
  background-position-y: 2px

.icon-OLYMPICS
  background-position-x: -1018px

.icon-POLITIC, .icon-POLITICS
  background-position-x: -1049px

.icon-RALLYE
  background-position-x: -1081px

.icon-RUGBY, .icon-RUGBYLGE
  background-position-x: -1111px

.icon-BOAT, .icon-SAILING
  background-position-x: -1141px

.icon-BILLIARD, .icon-SNOOKER
  background-position-x: -1171px;
  background-position-y: 1px

.icon-SPAIN
  background-position-x: -1201px;
  background-position-y: 2px

.icon-AWARDS, .icon-SPECIAL, .icon-SPECIALS, .icon-SPORT-AWARDS, .icon-SPORTSAWARDS, .icon-SPORTS_AWARDS
  background-position-x: -1231px

.icon-STAR, .icon-STARS
  background-position-x: -1261px;
  background-position-y: 1px

.icon-SWIMMING
  background-position-x: -1291px;
  background-position-y: 2px

.icon-PINGPONG, .icon-TABLETENNIS
  background-position-x: -1321px;
  background-position-y: 2px

.icon-TENNIS
  background-position-x: -1351px;
  background-position-y: 0

.icon-TROPHY
  background-position-x: -1411px

.icon-VOLLEYBALL
  background-position-x: -1471px;
  background-position-y: 1px

.icon-WATERPOLO
  background-position-x: -1501px;
  background-position-y: 0

.icon-WINTER, .icon-WINTERSPORTS, .icon-WINTSPORTS
  background-position-x: -1531px

.icon-LIVE
  background-position-x: -1561px;
  background-position-y: 3px

.icon-POPULAR
  background-position-x: -1591px;
  background-position-y: 0

.icon-CLOCK
  background-position-x: -1621px;
  background-position-y: 2px

.icon-STAR
  background-position-x: -1651px;
  background-position-y: 3px

.icon-CHAMPIONSHIPLEAGUE
  background-position-x: -1680px;
  background-position-y: -1px

.icon-EUROPELEAGUE
  background-position-x: -1710px;
  background-position-y: -1px

.icon-ARGENTINA, .icon-AUSTRALIA, .icon-AUSTRIA, .icon-BRAZIL, .icon-BULGARIA, .icon-CHINA, .icon-CROATIA, .icon-CYPRUS, .icon-CZECHREPUBLIC, .icon-DENMARK, .icon-EGYPT, .icon-EUROPE, .icon-FINLAND, .icon-GREECE, .icon-HUNGARY, .icon-ICELAND, .icon-INDIA, .icon-IRELAND, .icon-ISRAEL, .icon-JAPAN, .icon-LITHUANIA, .icon-MEXICO, .icon-MOROCCO, .icon-NORWAY, .icon-PHILIPINNES, .icon-POLAND, .icon-PORTUGAL, .icon-QATAR, .icon-ROMANIA, .icon-RUSSIA, .icon-SAUDIARABIA, .icon-SCOTLAND, .icon-SLOVAKIA, .icon-SLOVENIA, .icon-SOUTHAFRICA, .icon-SOUTHKOREA, .icon-SWEDEN, .icon-SWITZERLAND, .icon-TURKEY, .icon-UKRAINE, .icon-USA, .icon-WALES, .icon-WINTERSPORTS, .icon-WORLD
  background-position-y: -28px

.icon-ARGENTINA
  background-position-x: -40px

.icon-AUSTRALIA
  background-position-x: -80px

.icon-AUSTRIA
  background-position-x: -120px

.icon-BRAZIL
  background-position-x: -160px

.icon-BULGARIA
  background-position-x: -200px

.icon-CHINA
  background-position-x: -240px

.icon-CROATIA
  background-position-x: -280px

.icon-CZECHREPUBLIC
  background-position-x: -320px

.icon-EGYPT
  background-position-x: -360px

.icon-EUROPE
  background-position-x: -400px

.icon-FINLAND
  background-position-x: -440px

.icon-HUNGARY
  background-position-x: -480px

.icon-ICELAND
  background-position-x: -520px

.icon-JAPAN
  background-position-x: -560px

.icon-MEXICO
  background-position-x: -600px

.icon-MOROCCO
  background-position-x: 0

.icon-PHILIPINNES
  background-position-x: -640px

.icon-POLAND
  background-position-x: -680px

.icon-PORTUGAL
  background-position-x: -720px

.icon-ROMANIA
  background-position-x: -760px

.icon-RUSSIA
  background-position-x: -800px

.icon-SCOTLAND
  background-position-x: -840px

.icon-SERBIA
  background-position-x: -880px;
  background-position-y: -28px

.icon-SLOVAKIA
  background-position-x: -920px

.icon-SLOVENIA
  background-position-x: -960px

.icon-SOUTHAFRICA
  background-position-x: -1000px

.icon-SOUTHKOREA
  background-position-x: -1040px

.icon-SWEDEN
  background-position-x: -1080px

.icon-SWITZERLAND
  background-position-x: -1120px

.icon-TURKEY
  background-position-x: -1160px

.icon-UKRAINE
  background-position-x: -1200px

.icon-USA
  background-position-x: -1240px

.icon-WINTERSPORTS
  background-position-x: -1280px

.icon-WORLD
  background-position-x: -1320px

.icon-CYPRUS
  background-position-x: -1360px

.icon-SAUDIARABIA
  background-position-x: -1399px

.icon-WALES
  background-position-x: -1438px

.icon-DENMARK
  background-position-x: -1477px

.icon-GREECE
  background-position-x: -1516px

.icon-INDIA
  background-position-x: -1555px

.icon-IRELAND
  background-position-x: -1594px

.icon-ISRAEL
  background-position-x: -1633px

.icon-LITHUANIA
  background-position-x: -1672px

.icon-NORWAY
  background-position-x: -1711px

.icon-QATAR
  background-position-x: -1750px

/* Team logos */
team-logo-gap = 10px


.event-info-name-wrapper
  display: table-row
.team-logos
  .event-info-name-wrapper
    .team-logo
      display: table-cell

  .pitcher-name
  .smaller
    .cell
      display: table-cell

  .team-logo
    vertical-align: middle
    background-repeat: no-repeat
    background-position: center
    background-size: 24px 24px
    width: 30px
    height 100%
    display: inline-block
    margin-right: team-logo-gap
    position: relative
    top: -2px

    @media mobile-big-and-below
      margin-right: (team-logo-gap / 2)
      background-size: 22px 22px

  .live-e
    .pitcher-name
      margin-left: 40px
      @media mobile-big-and-below
        margin-left: 34px

    .team-logo
      margin-right: team-logo-gap - 4

      @media mobile-big-and-below
        margin-right: (team-logo-gap / 2 - 4)

@media mobile-big-and-below
  .event-info.big-three .event-info
      &.team-logos
        .live-e.live-e.live-e.live-e.live-e.live-e.live-e.live-e.live-e
          .name
            text-overflow()
            display: inline
          .pitcher-name
            margin-top: -5px
            overflow: visible
            line-height: 0
            white-space: nowrap
