button()
  border-radius: 0px

small-button()
  font-size: 10px
  height: 28px
  min-width: 6em

event-name()
  text-transform: uppercase
  font-family 'Monofonto'
  font-size 17px !important
  letter-spacing: 0px !important
markets-header()
  text-transform: none
  font-family 'Monofonto' !important
  font-size 15px !important
  letter-spacing: 0px !important
  font-weight normal
markets-header-title()
  text-transform: none
  font-family 'Monofonto' !important
  font-size 18px !important
  letter-spacing: 0px !important
  font-weight normal
